GEOTREK_VERSION=latest
SERVER_NAME=localhost
GUNICORN_WORKERS=4
UID=1000
GID=1000
# Do not set POSTGRES_HOST to localhost if postgresql is on the same physical machine. Leave it empty.
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=geotrek
POSTGRES_PASSWORD=geotrek
POSTGRES_DB=geotrekdb
PROXY_PORT=80