
#logo {
    background: url('../images/logo_geotrek.png') -3px -2px no-repeat;
}

    #logo span {
        padding-left: 5em;
    }

#hero ul.actions {
    padding-bottom: 1em;
}

#nav li {
    font-weight: bold;
}
