
/* Basic theme colors 

    Makina Corpus green : #97BB35;
    Title text : #525758;

*/


#logo {
    background: url('../images/logo_geotrek.png') -3px -2px no-repeat;
}

    #logo span {
        padding-left: 5em;
    }

#hero ul.actions {
    padding-bottom: 1em;
}

#nav li {
    font-weight: bold;
}

#nav a.active {
    border-bottom: 4px solid #97BB35;
}

.owl-carousel .item img{
    display: block;
    width: 100%;
    height: auto;
}

#promo-wrapper.light {
    background: white;
}

.wrapper.dark {
    background-color: #97BB35;
    color: white;
}
    .wrapper.dark a:hover {
        color: #525758;
        border-color: #525758;
    }

        .wrapper.dark .image-wrapper img {
            background-color: white;
            padding: 1em;
        }

        .wrapper.light .image-wrapper img {
            background-color: #97BB35;
            padding: 1em;
        }

        .wrapper.dark.pictos .image-wrapper img {
            background-color: inherit;
            padding: 1em;
        }

#news span {
    font-size: 80%;
}

    #news span.date {
        margin-top: 1em;
    }

#news p {
    font-size: 80%;
    line-height: 1.5;
}

#partners {
    padding-top: 6em;
}

input[type="submit"] {
    cursor: pointer;
}

.confirmed, .form-errors {
    margin-left: 1em;
}

.confirmed {
    color: #97BB35;
}

.form-errors {
    color: red;
}

input.error {
    border-color: red !important;
}

.row.partners section {

    margin: 2em 0;

}

/*********************************************************************************/
/* Animation with images overlapping                                             */
/*********************************************************************************/

.wrapper.dark .overlap-animation img,
.wrapper.light .overlap-animation img {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;

    opacity: 0;
    transform: translateX(150%);
    -webkit-transform: translateX(150%);

    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.wrapper.dark .overlap-animation.revealed img,
.wrapper.light .overlap-animation.revealed img {
    opacity: 1;

    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}

    .wrapper.dark .overlap-animation img.delay-1,
    .wrapper.light .overlap-animation img.delay-1 {
        transition-delay: 300ms;
        -webkit-transition-delay: 300ms;
        -ms-transition-delay: 300ms;
        -o-transition-delay: 300ms;
    }

    .wrapper.dark .overlap-animation img.delay-2,
    .wrapper.light .overlap-animation img.delay-2 {
        transition-delay: 700ms;
        -webkit-transition-delay: 700ms;
        -ms-transition-delay: 700ms;
        -o-transition-delay: 700ms;
    }

    .wrapper.dark .overlap-animation img.delay-3,
    .wrapper.light .overlap-animation img.delay-3 {
        transition-delay: 1s;
        -webkit-transition-delay: 1s;
        -ms-transition-delay: 1s;
        -o-transition-delay: 1s;
    }



/*********************************************************************************/
/* Styling from Dopetrope theme                                                  */
/*********************************************************************************/
    ul.dates
    {
    }
    
        ul.dates li
        {
            position: relative;
            border-top: solid 1px #ddd;
            padding: 1.3em 0 1.3em 6.75em;
        }

        ul.dates .date
        {
            display: block;
            position: absolute;
            left: 0;
            top: 1.3em;
            background-color: #97BB35;
            height: 3.5em;
            text-align: center;
            color: #fff;
            line-height: 1em;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            padding: 0.5em 0.75em 0 1em;
        }

            ul.dates .date:after
            {
                content: '';
                position: absolute;
                bottom: 0;
                right: -1.2em;
                border-left: solid 1.25em #97BB35;
                border-top: solid 1.8em transparent;
                border-bottom: solid 1.8em transparent;
            }
        
            ul.dates .date strong
            {
                display: block;
                font-size: 1.75em;
                padding-top: 0.15em;
            }
            
        ul.dates h3
        {
            font-size: 1.1em;
        }
            
        ul.dates p
        {
            margin: 0;
        }

        ul.dates li:first-child
        {
            border-top: 0;
            padding-top: 0;
        }
        
            ul.dates li:first-child .date
            {
                top: 0;
            }

.wrapper.dark ul.dates .date
{
    background-color: #fff;
    color: #97BB35;
}

.wrapper.dark ul.dates .date:after
{
    border-left: solid 1.25em #fff;
}
