{% extends "base.html" %}
{% load static i18n leaflet_tags %}

{% block content %}
        <div id="container" class="container-fluid">
            <div class="row-fluid">
                {% block mainpanel %}
                {% endblock mainpanel %}
            </div><!--/row-->
        </div><!--/container-->
{% endblock content %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static "mapentity/dataTables/css/dataTables.bootstrap.css" %}">
    {% leaflet_css %}
    <link rel="stylesheet" href="{% static "mapentity/Leaflet.draw/leaflet.draw.css" %}"></link>
    <link rel="stylesheet" href="{% static "mapentity/style.css" %}" />
{% endblock extracss %}

{% block extrajs %}
    {{ block.super }}

    {% leaflet_js %}
    <script type="text/javascript">
        L.Icon.Default.imagePath = '{% static "leaflet/images/" %}';
    </script>

    <script type="text/javascript" src="{% static "mapentity/dataTables/js/jquery.dataTables.js" %}"></script>
    <script type="text/javascript" src="{% static "mapentity/dataTables/js/dataTables.ajax_list.js" %}"></script>
    <script type="text/javascript" src="{% static "mapentity/dataTables/js/dataTables.plugins.js" %}"></script>
    <script type="text/javascript" src="{% static "mapentity/Leaflet.draw/leaflet.draw.js" %}"></script>
    <script type="text/javascript" src="{% static "mapentity/leaflet-measure.js" %}"></script>
    
    <script type="text/javascript" src="{% static "mapentity/leaflet-geomutils.js" %}"></script>
    <script type="text/javascript" src="{% static "mapentity/leaflet-objectslayer.js" %}"></script>
    <script type="text/javascript" src="{% static "mapentity/leaflet-snapping.js" %}"></script>
    <script type="text/javascript" src="{% static "mapentity/leaflet-serializers.js" %}"></script>
    <script type="text/javascript" src="{% static "mapentity/leaflet-controls.js" %}"></script>
    <script type="text/javascript" src="{% static "mapentity/leaflet-datatables.js" %}"></script>
    <script type="text/javascript" src="{% static "mapentity/mapentity.js" %}"></script>
    <script type="text/javascript" src="{% static "mapentity/spin.js" %}"></script>
    <script type="text/javascript" src="{% static "mapentity/rtree.js" %}"></script>
    <script type="text/javascript" src="{% static "mapentity/jquery.deserialize.js" %}"></script>
{% endblock extrajs %}


{% block extrabody %}
    {{ block.super }}
    <script type="text/javascript">
        // Show number of results
        $(document).ready(function (e) {
            MapEntity.showNumberSearchResults();
        });
        
        // Auto-hide elements
        $('.autohide').parents().hover(
          function() { $(this).children(".autohide").show(); },
          function() { $(this).children(".autohide").hide(); }
        );
    </script>
{% endblock extrabody %}
