{% extends "mapentity/base.html" %}
{% load i18n static field_verbose_name mapentity maps convert_tags %}

{% block nav-detail %}active{% endblock nav-detail %}

{% block mainpanel %}
    <div class="details-panel span7 {{ modelname }}">

        {% block detailshead %}
        <h2>
            {% if object.structure %}
                <span class="badge badge-info">{{ object.structure }}</span>
            {% endif %}
            {{ object }}
            {% block extratitle %}{% endblock extratitle %}
            
            <div class="pull-right">
                {% if can_edit %}
                    <a class="btn btn-primary" href="{{ object.get_update_url }}"><i class="icon-pencil icon-white"></i>{% trans "Update" %}</a>
                {% endif %}
                <div class="btn-group">
                    {% block download %}
                    <a class="btn btn-mini" href="{{ object.get_document_url }}"><img src="{% static "paperclip/fileicons/odt.png" %}"/> {% trans "ODT" %}</a>
                    <a class="btn btn-mini" href="{% convert_url request object.get_document_url %}"><img src="{% static "paperclip/fileicons/pdf.png" %}"/> {% trans "PDF" %}</a>
                    {% endblock download %}
                </div>
            </div>
        </h2>
        {% endblock detailshead %}
        
        <div id="details-body">
            {% block detailspanel %}
            {% endblock detailspanel %}

            {% smart_include "detail" %}

            {% block attachmentpanel %}
            <div class="file-attachment file-attachment-detail">
                <h3>{% trans "Attached files" %}</h3>

                {% with object=object can_delete_attachment=can_delete_attachment attachment_delete_next=object.get_detail_url %}
                    {% include 'paperclip/details.html' %}
                {% endwith %}
            </div>
            {% endblock attachmentpanel %}
        </div>
    </div><!-- span7 -->

    <div class="map-panel span5">
        {% block mappanel %}
        {% if object.geom %}
            {{ object|fieldmap:"geom" }}
        {% else %}
            {% trans "No map available for this object." %}
        {% endif %}
        {% endblock mappanel %}
    </div><!-- span5 -->

{% endblock mainpanel %}



{% block extrabody %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function() {
            var fillmax = function () {
                var header = $('.details-panel h2').position().top + $('.details-panel h2').height() + 110;
                var height = $(window).height() - header;
                $("#details-body").css('max-height', height);
            }
            fillmax();
            $(window).resize(fillmax);
        })
    </script>
{% endblock extrabody %}
