{% load i18n %}
<span class="pull-right">
    <a href="#" id="filters-btn" class="btn  btn-info"><i class="icon-filter icon-white"></i> {% trans "Filter" %}</a>
</span>

<div id="filters-hover"></div>
<div id="filters-popover"></div>
<div id="filters-wrapper" style="display:None">
    <div id="filters-panel">
        <form id="mainfilter" action="{{ datatables_ajax_url }}" class="well form-inline">
            {{ filterform.form.as_p }}
            <input id="reset" type="reset" class="btn" />
            <a id="filter" class="btn btn-primary"><i class="icon-search icon-white"></i> {% trans "Filter" %}</a>
        </form>
    </div>
</div>
