{% load i18n %}
<span class="pull-right">
    <a href="#" id="filters-btn" class="btn  btn-info"><i class="icon-filter icon-white"></i> {% trans "Filter" %}</a>
</span>

<div id="filters-hover"></div>
<div id="filters-popover"></div>
<div id="filters-wrapper" style="display:None">
    <div id="filters-panel">
        <form id="mainfilter" action="{{ datatables_ajax_url }}" class="well form-inline">
            {{ filterform.form.as_p }}
            <input id="reset" type="reset" class="btn" />
            <a id="filter" class="btn btn-primary"><i class="icon-search icon-white"></i> {% trans "Filter" %}</a>
        </form>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {

    MapEntity.TogglableFilter = L.Class.extend({
        includes: L.Mixin.Events,
        options: {},

        initialize: function () {
            this.button = '#filters-btn';

            this.visible = false;
            this.popover = $('#filters-popover')
                              .popover({
                                  placement: 'bottom',
                                  content: '',
                                  title: 'Useless'
                              });
            this.hover = $('#filters-hover')
                              .popover({
                                  placement: 'bottom',
                                  content: 'No filter',
                                  title: '{% trans "Current filter" %}'
                              });

            $(this.button).click(this.toggle.bind(this));
            $(this.button).hover(this.showinfo.bind(this));
        },

        tip: function () {
            return this.popover.data('popover').$tip;
        },

        htip: function () {
            return this.hover.data('popover').$tip;
        },

        __reposition: function (tip) {
            // Adjust position nicely along filter button
            var btnleft = $(this.button).position().left,
                btnwidth = $(this.button).width();
            tip.css('left', btnleft + btnwidth/2 - tip.width()/2);
        },

        showinfo: function () {
            // If popover is already visible, do not show hover
            if (this.visible)
                return;
            
            this.hover.popover('toggle');
            this.__reposition(this.htip());
        },

        toggle: function () {
            /* Show/Hide popover */
            if (this.visible) {
                // The whole $tip will be deleted, save the panel
                // and add it to the DOM so the dynamic filters still works.
                $('#filters-wrapper').append(
                    this.tip().find('#filters-panel').detach()
                );
            }
            
            this.popover.popover('toggle');
            this.visible = !this.visible;
            
            if (this.visible) {
                this.tip()
                  .find('.popover-inner').empty()
                  .append($('#filters-wrapper #filters-panel').detach());
                
                // Adjust popover width
                this.tip()
                  .width(this.tip().find('#filters-panel form').outerWidth())
                  .height(this.tip().find('#filters-panel form').outerHeight());
                
                this.__reposition(this.tip());
            }
        },
    });
    
    var t = new MapEntity.TogglableFilter();
});
</script>
