{% extends "mapentity/base.html" %}
{% load i18n static field_verbose_name mapentity leaflet_tags geojson_tags convert_tags attachments_tags %}


{% block mainpanel %}
    <div class="details-panel detail span7 {{ modelname }}">

        <div class="download-group">
            <div class="btn-group pull-right">
                {% block download %}
                <a class="btn btn-mini" href="{{ object.get_document_url }}"><img src="{% static "paperclip/fileicons/odt.png" %}"/> {% trans "ODT" %}</a>
                <a class="btn btn-mini" href="{% convert_url request object.get_document_url format="doc" %}"><img src="{% static "paperclip/fileicons/doc.png" %}"/> {% trans "DOC" %}</a>
                <a class="btn btn-mini" href="{% convert_url request object.get_document_url %}"><img src="{% static "paperclip/fileicons/pdf.png" %}"/> {% trans "PDF" %}</a>
                {% endblock download %}
            </div>
        </div>

        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li id="tab-properties" class="{% if activetab != "attachments" %}active{% endif %}">
                    <a href="#properties" data-toggle="tab"><i class="icon-tasks"></i> {% trans "Properties" %}
                    {% if object.structure %}
                        <span class="label" title="{% trans "Structure" %}">{{ object.structure }}</span>
                    {% endif %}
                    </a>
                </li>
                <li id="tab-attachments" class="{% if activetab == "attachments" %}active{% endif %}">
                    <a href="#attachments" data-toggle="tab"><i class="icon-file"></i> {% trans "Attached files" %}</a>
                </li>
                {% if can_edit %}
                    <a class="btn btn-primary pull-right" href="{{ object.get_update_url }}"><i class="icon-pencil icon-white"></i> {% trans "Update" %}</a>
                {% endif %}
            </ul>
            <div class="tab-content scrollable">
                <div id="properties" class="tab-pane {% if activetab != "attachments" %}active{% endif %}">

                    {% block detailspanel %}
                    {% endblock detailspanel %}

                    {% smart_include "detail" %}
                </div>

                <div id="attachments" class="tab-pane {% if activetab == "attachments" %}active{% endif %}">

                    {% block attachmentspanel %}
                    {% endblock attachmentspanel %}

                    <div class="file-attachment file-attachment-detail">
                        <h3>{% trans "Attached files" %}</h3>
                        {% with object=object can_delete_attachment=can_delete_attachment attachment_delete_next=object.get_detail_url %}
                            {% include 'paperclip/details.html' %}
                        {% endwith %}
                    </div>

                    {% if can_add_attachment %}
                    <div class="file-attachment-update">
                        <h4>{% trans "New file attachment" %}</h4>
                        {% attachment_form object %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div><!-- span7 -->

    <div class="map-panel detail span5">
        {% block mappanel %}

        {% if object.get_geom %}
            {% include "mapentity/mapgeometry_fragment.html" %}
        {% else %}
            <p class="nomap">{% trans "No map available for this object." %}</p>
        {% endif %}
        {% endblock mappanel %}
    </div><!-- span5 -->

{% endblock mainpanel %}
