{% extends "mapentity/base.html" %}
{% load i18n static field_verbose_name mapentity leaflet_tags geojson_tags maps convert_tags %}

{% block nav-detail %}active{% endblock nav-detail %}

{% block mainpanel %}
    <div class="details-panel span7 {{ modelname }}">

        {% block detailshead %}
        <h2>
            {% if object.structure %}
                <span class="badge badge-info">{{ object.structure }}</span>
            {% endif %}
            {{ object }}
            {% block extratitle %}{% endblock extratitle %}
            
            <div class="pull-right">
                {% if can_edit %}
                    <a class="btn btn-primary" href="{{ object.get_update_url }}"><i class="icon-pencil icon-white"></i>{% trans "Update" %}</a>
                {% endif %}
                <div class="btn-group">
                    {% block download %}
                    <a class="btn btn-mini" href="{{ object.get_document_url }}"><img src="{% static "paperclip/fileicons/odt.png" %}"/> {% trans "ODT" %}</a>
                    <a class="btn btn-mini" href="{% convert_url request object.get_document_url %}"><img src="{% static "paperclip/fileicons/pdf.png" %}"/> {% trans "PDF" %}</a>
                    {% endblock download %}
                </div>
            </div>
        </h2>
        {% endblock detailshead %}
        
        <div id="details-body" class="scrollable">
            {% block detailspanel %}
            {% endblock detailspanel %}

            {% smart_include "detail" %}

            {% block attachmentpanel %}
            <div class="file-attachment file-attachment-detail">
                <h3>{% trans "Attached files" %}</h3>

                {% with object=object can_delete_attachment=can_delete_attachment attachment_delete_next=object.get_detail_url %}
                    {% include 'paperclip/details.html' %}
                {% endwith %}
            </div>
            {% endblock attachmentpanel %}
        </div>
    </div><!-- span7 -->

    <div class="map-panel span5">
        {% block mappanel %}
        
        {% if object.geom %}
            {% leaflet_map "detailmap"  fitextent=False %}
            <script type="text/javascript">
            function detailmapInit(map, bounds) {
                {% smart_include "mapinit" %}
                
                {% if readonly %}
                    // Set map readonly
                    map.dragging.disable();
                    map.touchZoom.disable();
                    map.doubleClickZoom.disable();
                    map.scrollWheelZoom.disable();
                    map.boxZoom.disable();
                {% endif %}
                map.removeControl(map.zoomControl);
                map.removeControl(map.attributionControl);
                
                // Add layers
                var geojson = {{ object|geojsonfeature|safe }};
                var objectLayer = new L.ObjectsLayer(geojson, {
                    style: {weight: 5, opacity: 1, clickable: false, color: '{{ LAYERCOLOR_OTHERS }}'},
                    indexing: false
                });
                map.addLayer(objectLayer);
                var objectBounds = {{ object|latlngbounds }},
                    mapBounds = objectBounds ? new L.LatLngBounds(objectBounds) : bounds;
                map.fitBounds(mapBounds);
                
                // Add origin and destination markers if geometry is a line
                var geomType = '{{ object.geom.geom_type }}';
                if (geomType == 'LineString') {
                    var originlonlat = [{{ object.geom.coords|first|join:"," }}],
                        destinationlonlat = [{{ object.geom.coords|last|join:"," }}];

                    L.marker(L.latLng(originlonlat[1], originlonlat[0]),
                             {clickable: false,
                              icon: new L.Icon.Default({iconUrl: '{% static "mapentity/images/osrm_markers/marker-source.png" %}'})}).addTo(map);
                    L.marker(L.latLng(destinationlonlat[1], destinationlonlat[0]),
                             {clickable: false,
                              icon: new L.Icon.Default({iconUrl: '{% static "mapentity/images/osrm_markers/marker-target.png" %}'})}).addTo(map);
                }
                
                // Paths layer (TODO: should we show objectsLayers ?)
                var pathsLayer = new L.ObjectsLayer(null, {
                    style: {weight: 2, opacity: 0.7, clickable: false, color: '{{ LAYERCOLOR_PATHS }}'}
                });
                map.addLayer(pathsLayer);
                pathsLayer.load("{% url core:path_layer %}");
                
                // Save map context : will be restored on next form (e.g. interventions, ref story #182)
                $(window).unload(function () {
                    MapEntity.Context.saveFullContext(map);
                });
            }
            </script>

        {% else %}
            {% trans "No map available for this object." %}
        {% endif %}
        {% endblock mappanel %}
    </div><!-- span5 -->

{% endblock mainpanel %}
