{% extends "mapentity/mapentity_form.html" %}

{% load i18n static %}

{% block extrabody %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'common/js/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'trekking/js/chosen.order.jquery.min.js' %}"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#id_children_course").change(function(){
               $("#id_hidden_ordered_children").val($("#id_children_course").getSelectionOrder().toString());
            });

            $('#id_children_course_chosen').find('ul').sortable();
        });
    </script>
    <script type="text/javascript">
            $('select[multiple]').chosen({
                no_results_text: "{% trans "No result" %}",
                placeholder_text_multiple: "{% trans "Choose value(s)" %}"
            });

            $("#id_children_course").setSelectionOrder($("#id_hidden_ordered_children").val().split(","));
        });
    </script>
{% endblock extrabody %}
