{% extends "mapentity/mapentity_form.html" %}

{% load static %}

{% block extrabody %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "common/js/form.js" %}"></script>
    <script type="text/javascript" src="{% static "common/js/ordered_children_select2.js" %}"></script>
    <script>
        $(document).ready(function() {
            if (window.initOrderedChildrenSelect2) {
                window.initOrderedChildrenSelect2('#id_children_course', '#id_hidden_ordered_children', '#mainform');
            }
        });
    </script>
{% endblock extrabody %}
