{% extends "mapentity/mapentity_form.html" %}

{% load i18n static crispy_forms_tags %}

{% block mainform %}
    <script>
        $(document).ready(function() {
            if (window.initOrderedChildrenSelect2) {
                window.initOrderedChildrenSelect2('#id_children_course', '#id_hidden_ordered_children', '#mainform');
            }
        });
    </script>
    <form id="mainform" action="{% if object.pk %}{{ object.get_update_url }}{% else %}{{ object.get_add_url }}{% endif %}" class="form-horizontal" method="POST">
        {% crispy form %}
    </form>
{% endblock mainform %}

{% block extrabody %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "common/js/form.js" %}"></script>
    <script type="text/javascript" src="{% static "common/js/ordered_children_select2.js" %}"></script>
{% endblock extrabody %}
