{% load i18n geotrek_tags mapentity_tags outdoor_tags %}

{% settings_value "COURSE_MODEL_ENABLED" as course_enabled %}
{% settings_value "SITE_MODEL_ENABLED" as site_enabled %}

{% if course_enabled or site_enabled %}
<h3>{% trans "Outdoor" %}</h3>
<table class="table">
    {% if site_enabled %}
    <tr>
        <th>{% trans "Sites" %}</th>
        <td>
            {% if perms.outdoor.add_site %}
            <p class="autohide"><a href="{% url 'outdoor:site_add' %}" class="btn btn-sm btn-success">
                <i class="bi bi-plus-circle-fill"></i> {% trans "Add a new outdoor site" %}</a>
            </p>
            {% endif %}

            {% valuelist object.sites field='name' %}
        </td>
    </tr>
    {% endif %}
    {% if course_enabled %}
    <tr>
        <th>{% trans "Courses" %}</th>
        <td>
            {% if perms.outdoor.add_course %}
            <p class="autohide"><a href="{% url 'outdoor:course_add' %}" class="btn btn-sm btn-success">
                <i class="bi bi-plus-circle-fill"></i> {% trans "Add a new outdoor course" %}</a>
            </p>
            {% endif %}

            {% valuelist object.courses.all field='name' %}
        </td>
    </tr>
    {% endif %}
</table>
{% endif %}