{% extends "common/common_detail.html" %}
{% load i18n l10n static thumbnail geotrek_tags %}

{% block download %}
    {{ block.super }}
  </div>

  <div class="btn-group pull-right">
    <a class="btn btn-light btn-sm" href="{% url 'outdoor:site_printable' LANGUAGE_CODE object.pk object.slug %}" title="{% trans "Public print" %}" target="_blank"><img src="{% static "paperclip/fileicons/pdf.png" %}"/> {% trans "Print" %}</a>
    <a class="btn btn-light btn-sm" href="{% url 'outdoor:site_booklet_printable' LANGUAGE_CODE object.pk object.slug %}" title="{% trans "Public print booklet" %}" target="_blank"><img src="{% static "paperclip/fileicons/pdf.png" %}"/> {% trans "Print booklet" %}</a>
{% endblock download %}

{% block detailspanel %}
    {% include "common/publishable_completeness_fragment.html" %}
    {{ block.super }}
{% endblock detailspanel %}

{% block attachments_extra_tab_nav %}
    {% with attachments_count=object.attachments.count|add:object.view_points.count %}
        <li class="nav-item">
        <a id="tab-attachments" class="nav-link" href="#attachments" data-toggle="tab"><i class="bi bi-file-earmark"></i>
            <span class="d-none d-sm-inline">{% trans "Attached files" %} ({{ attachments_count }})</span></a>
        </li>
    {% endwith %%}
{% endblock %}

{% block attachmentspanel %}
    {{ block.super }}
    {% are_hdviews_enabled as are_hdviews_enabled %}
    {% if are_hdviews_enabled %}
        <br>
        <br>
        {% include "common/hdviewpoint_detail_fragment.html" %}
    {% endif %}
{% endblock attachmentspanel %}
