{% extends "mapentity/mapentity_detail_attributes.html" %}
{% load i18n mapentity_tags outdoor_tags %}

{% block attributes %}
    <h3>{% trans "Tree view" %}</h3>
        {% site_as_list site.get_root as root_as_list %}
        {% include "outdoor/recursive_sites_tree.html" with sites_at_level=root_as_list original_site=object %}
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ object|verbose:"structure" }}</th>
            <td>{{ object.structure }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"name" }}</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th>{% trans "Parents" %}</th>
            <td>{% if object.parent %}{% valuelist object.get_ancestors field='name_display' %}{% else %}<span class="none">{% trans "None" %}</span>{% endif %}</td>
        </tr>
        <tr>
            <th>{% trans "Children" %}</th>
            <td>{% if object.children.exists %}{% valuelist object.get_children field='name_display' %}{% else %}<span class="none">{% trans "None" %}</span>{% endif %}</td>
        </tr>
        <tr>
            <th>{% trans "Sectors" %}</th>
            <td>
                {% for sector in object.super_sectors %}
                    {% if forloop.first %}<ul>{% endif %}
                        <li{% if sector.pk != object.practice.sector.pk %} style="font-style: italic;"{% endif %}>{{ sector }}</li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    <span class="none">{% trans "None" %}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Practices" %}</th>
            <td>
                {% for practice in object.super_practices %}
                    {% if forloop.first %}<ul>{% endif %}
                        <li{% if practice.pk != object.practice.pk %} style="font-style: italic;"{% endif %}>{{ practice }}</li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    <span class="none">{% trans "None" %}</span>
                {% endfor %}
            </td>
        </tr>
        {% regroup  object.super_ratings by scale as scales_list %}
        {% for scale in scales_list%}
            <tr>
                <th>{{ scale.grouper.name }}</th>
                <td>{% for rating in scale.list %}
                        {% if not forloop.last %}
                            <span{% if not rating in object.ratings.all %} style="font-style: italic;"{% endif %}>{{ rating.name }},<span>
                        {% else %}
                            <span{% if not rating in object.ratings.all %} style="font-style: italic;"{% endif %}>{{ rating.name }}<span>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <th>{{ object|verbose:"type" }}</th>
            <td>{% if object.type %}{{ object.type }}{% else %}<span class="none">{% trans "None" %}</span>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"description_teaser" }}</th>
            <td>{% if object.description_teaser %}{{ object.description_teaser|safe|linebreaks }}{% else %}<span class="none">{% trans "None" %}</span>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"ambiance" }}</th>
            <td>{% if object.ambiance %}{{ object.ambiance|safe|linebreaks }}{% else %}<span class="none">{% trans "None" %}</span>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"description" }}</th>
            <td>{% if object.description %}{{ object.description|safe|linebreaks }}{% else %}<span class="none">{% trans "None" %}</span>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"advice" }}</th>
            <td>{% if object.advice %}{{ object.advice|safe|linebreaks }}{% else %}<span class="none">{% trans "None" %}</span>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"accessibility" }}</th>
            <td>{% if object.accessibility %}{{ object.accessibility|safe|linebreaks }}{% else %}<span class="none">{% trans "None" %}</span>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"period" }}</th>
            <td>{% if object.period %}{{ object.period }}{% else %}<span class="none">{% trans "None" %}</span>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"orientation" }}</th>
            <td>
                {% for orientation in object.super_orientation %}
                    <span{% if orientation not in object.orientation %} style="font-style: italic;"{% endif %}>{{ orientation|orientation_display }}{% if not forloop.last %}</span>,{% endif %}
                {% empty %}
                    <span class="none">{% trans "None" %}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>{{ object|verbose:"wind" }}</th>
            <td>
                {% for wind in object.super_wind %}
                    <span{% if wind not in object.wind %} style="font-style: italic;"{% endif %}>{{ wind|wind_display }}{% if not forloop.last %}</span>,{% endif %}
                {% empty %}
                    <span class="none">{% trans "None" %}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>{{ object|verbose:"labels" }}</th>
            <td>
                {% for label in object.labels.all %}
                    {% if label.published %}
                        <span class="badge badge-success" title="{{ _("Published") }}">&#x2606;</span>
                    {% endif %}
                    {{ label.name }}<br>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>{{ object|verbose:"themes" }}</th>
            <td>
                {% valuelist object.themes.all %}
            </td>
        </tr>
        <tr>
            <th>{{ object|verbose:"information_desks" }}</th>
            <td>
                {% valuelist object.information_desks.all %}
            </td>
        </tr>
        <tr>
            <th>{{ object|verbose:"web_links" }}</th>
            <td>
                {% valuelist object.web_links.all %}
            </td>
        </tr>
        <tr>
            <th>{{ object|verbose:"portal" }}</th>
            <td>
                {% valuelist object.portal.all %}
            </td>
        </tr>
        <tr>
            <th>{{ object|verbose:"source" }}</th>
            <td>
                {% valuelist object.source.all %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Managers" %}</th>
            <td>
                {% for manager in object.super_managers %}
                    {% if forloop.first %}<ul>{% endif %}
                        <li{% if manager not in object.managers.all %} style="font-style: italic;"{% endif %}>{{ manager }}</li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    <span class="none">{% trans "None" %}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>{% trans "External id" %}</th>
            <td>{% if object.eid %}{{ object.eid|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Provider" %}</th>
            <td>{% if object.provider %}{{ object.provider|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        {% include "common/publication_info_fragment.html" %}
        {% include "altimetry/elevationinfo_fragment.html" %}
        {% include "mapentity/trackinfo_fragment.html" %}
    </table>

    {{ block.super }}
{% endblock attributes %}
