<!DOCTYPE html>
{% load i18n geotrek_tags mapentity_tags outdoor_tags static %}

{% settings_value "PRIMARY_COLOR" as primary_color %}

<html lang="en">
  <head>
    {% block style %}
      <style type="text/css">
        {% include template_css %}

        .intro-left .teaser,
        .meta-items-title,
        .advice-title,
        .label-title,
        .accessibility-title,
        .elevation-title,
        .half-block h2,
        .block h2,
        .information-desks h2 {
          color: {{ primary_color }};
        }
       /* TODO: Remove when the map generation is fixed */
        .full-map img {
            max-height: 20cm;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
      </style>
    {% endblock style %}
  </head>
  <body>
    {% block body %}
      <header>
        <div class="logo">
          {% block logo %}
            <img src="file://{% media_static_fallback_path "upload/logo-header.png" "images/logo-header.png" %}" alt="">
          {% endblock logo %}
        </div>
        <div class="url">
          {% block url %}
            <div class="main">rando.geotrek.fr</div>
            <div class="geo">{% trans "Powered by geotrek.fr" %}</div>
          {% endblock %}
        </div>
      </header>
      <div class="gray">
        {% if object.practice and object.practice.pictogram %}
          <div class="main-icon category-S{{ object.practice.pk }}" {% block picto_attr %}{% endblock picto_attr %}>
            <img src="file://{{ object.practice.pictogram.path }}" alt="">
          </div>
        {% endif %}
        <div class="main-title">
          <h1>{{ object.name }}</h1>
          <h2>{% block main_title_h2 %}
                {{ object.districts.0.name }}{% if object.districts and object.city %} - {% endif %}{{ object.city }}
              {% endblock %}
          </h2>
        </div>
        <hr>
        <div class="main-picture-map">
          {% if object.picture_print %}
            <div class="main-picture" style="background-image: url('file://{{ object.picture_print.path }}');"></div>
            <div class="main-map" style="background-image: url('file://{{ map_path }}');"></div>

          {% else %}
            <div class="main-picture" style="background-image: url('file://{% media_static_fallback_path "upload/placeholder.png" "images/placeholder.png" %}');"></div><div class="main-map" style="background-image: url('file://{{ map_path }}');"></div>
          {% endif %}
        </div>
        {% if object.picture_print.legend or object.picture_print.author %}
          <legend>
            {{ object.picture_print.legend }}
            {% if object.picture_print.author %}({{ object.picture_print.author }}){% endif %}
          </legend>
        {% endif %}
      </div>
      <div class="intro">
        <div class="intro-left">
          {% if object.description_teaser %}
            <section class="teaser text-content">
              {{ object.description_teaser|safe }}
            </section>
          {% endif %}
          {% if object.ambiance %}
            <section class="ambiance text-content">
              {{ object.ambiance|safe }}
            </section>
          {% endif %}
        </div>
        <div class="meta-items">
          <div class="meta-items-title">{% trans "Useful information" %}</div>
          <section class="meta-items-list">
            {% if object.practice %}
              <span class="meta-item">
                <span class="meta-item-label">{% trans "Practice" %}</span>
                <span class="meta-item-value">{{ object.practice }}</span>
              </span>
            {% endif %}
            {% if object.type %}
              <span class="meta-item">
                <span class="meta-item-label">{% trans "Type" %}</span>
                <span class="meta-item-value">{{ object.type }}</span>
              </span>
            {% endif %}
            {% if object.period %}
              <span class="meta-item">
                <span class="meta-item-label">{% trans "Period" %}</span>
                <span class="meta-item-value">{{ object.period }}</span>
              </span>
            {% endif %}
            {% if object.wind %}
              <span class="meta-item">
                <span class="meta-item-label">{% trans "Wind" %}</span>
                <span class="meta-item-value">{% for wind in object.wind %}{{ wind|wind_display }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
              </span>
            {% endif %}
            {% if object.orientation %}
              <span class="meta-item">
                <span class="meta-item-label">{% trans "Orientation" %}</span>
                <span class="meta-item-value">{% for orientation in object.orientation %}{{ orientation|orientation_display }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
              </span>
            {% endif %}
            <div class="lists-ratings">
              {% if object.ratings.all %}
                <span class="meta-item">
                  <span class="meta-item-label">{% trans "Rating scale" %}</span>
                  {% regroup  object.ratings.all by scale as scales_list %}
                  {% for scale in scales_list %}
                    <span class="meta-item-value">{{ scale.grouper.name }} : {% for rating in scale.list %}{{ rating.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
                  {% endfor %}
                </span>
              {% endif %}
            </div>
            <div class="lists">
              {% if object.themes.all %}
                <span class="meta-item">
                  <span class="meta-item-label">{% trans "Themes" %}</span>
                  {% for theme in object.themes.all %}<span class="meta-item-value">{{ theme.label }}</span>{% endfor %}
                </span>
              {% endif %}
            </div>
          </section>
        </div>
      </div>
      {% block description %}
        {% if object.description %}
          <div class="inner-title">
            <h2>{% trans "Description" %}</h2>
          </div>
          <section class="description">
            <div class="text-content">{{ object.description|safe }}</div>
          </section>
        {% endif %}
      {% endblock description %}
      <div class="inner-title">
        <h2>{% trans "Geographical location" %}</h2>
      </div>
      <div class="full-map">
        <img src="file://{{ map_path }}" alt="">
      </div>
      {% block poisSummary %}
        <section class="pois-summary">
          {% if pois %}
            {% for poi in pois %}
              <div class="poi">
                  {% if poi.type.pictogram %}<span class="icon"><img src="file://{{ poi.type.pictogram.path }}"></span>{% endif %}
                  {{ poi.name }} ({{ poi.letter }})
              </div>
            {% endfor %}
          {% endif %}
        </section>
      {% endblock poisSummary %}
      <div class="inner-title">
        <h2>{% trans "All useful information" %}</h2>
      </div>
      {% block label %}
        {% for label in object.labels.all %}
          <div class="label">
            <div class="label-title">
              <div class="label-icon">
                {% if label.pictogram %}
                  <img src="file://{{ label.pictogram.path }}">
                {% else %}
                  <img src="file://{{ STATIC_ROOT }}/trekking/information.svg">
                {% endif %}
              </div>
              {{ label.name | safe }}
            </div>
            <div class="label-content">{{ label.advice | safe }}</div>
          </div>
        {% endfor %}
      {% endblock label %}
      {% block advice %}
        {% if object.advice %}
          <div class="advice">
            <div class="advice-title">
              <div class="advice-icon">
                <img src="file://{{ STATIC_ROOT }}/trekking/advice.svg">
              </div>
              {% trans "Advices" %}
            </div>
            <div class="advice-content">{{ object.advice | safe }}</div>
          </div>
        {% endif %}
      {% endblock advice %}
      {% block accessibility %}
        {% if object.accessibility %}
          <div class="accessibility">
            <div class="accessibility-title">
              {% trans "Accessibility" %}
            </div>
            <div class="accessibility-content">{{ object.accessibility | safe }}</div>
          </div>
        {% endif %}
      {% endblock accessibility %}
      {% block informationDesks %}
        {% if  object.information_desks.all %}
          <div class="gray">
              <section class="information-desks">
                <h2>
                  <div class="information-desks-icon">
                    <img src="file://{{ STATIC_ROOT}}/trekking/information.svg">
                  </div>
                  {% trans "Information desks" %}
                </h2>
                <ul class="desks">
                  {% for desk in object.information_desks.all %}
                    <li class="desk">
                      <div class="desk-text">
                        <div class="desk-name">{{ desk.name }}</div>
                        <div class="content">
                          {% if desk.street %}<div class="desk-address">{{ desk.street }}, {{ desk.postal_code }} {{ desk.municipality }}</div>{% endif %}
                          {% if desk.email %}<div class="desk-email"information-desks><a href="mailto:{{ desk.email }}">{{ desk.email }}</a></div>{% endif %}
                          {% if desk.phone %}<div class="desk-tel">Tel : {{ desk.phone }}</div>{% endif %}
                          {% if desk.website %}<div class="desk-website"><a href="{{ desk.website }}">{{ desk.website }}</a></div>{% endif %}
                          {% if desk.accessibility %}<div class="desk-accessibility">{% trans "Accessibility" %} : {{ desk.accessibility|safe }}</div>{% endif %}
                        </div>
                      </div>
                      {% if desk.thumbnail %}
                        <div class="desk-thumbnail"><img src="file://{{ desk.thumbnail.path }}"></div>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </section>
          </div>
        {% endif %}
      {% endblock informationDesks %}
      {% block source %}
        {% if object.source.all %}
          <section class="half-block source">
            <h2>{% trans "Source" %}</h2>
            {% for s in object.source.all %}
              <div class="source-content">
                <div class="source-pictogram">
                  {% if s.pictogram %}<img src="file://{{ s.pictogram.path }}">{% endif %}
                </div>
                <div class="source-text">
                  <div class="source-name">
                    {{ s.name }}
                  </div>
                  <div class="source-website">
                    {% if s.website %}{{ s.website }}{% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </section>
        {% endif %}
      {% endblock source %}
      {% block poisDetails %}
        <section class="pois-details">
          {% if pois %}
            <div class="inner-title">
              <h2>{% trans "On your path..." %}</h2>
            </div>
            {% for poi in pois %}
              <div class="poi">
                <div class="thumbnail">
                  {% if poi.thumbnail %}
                    <img src="file://{{ poi.thumbnail.path }}">
                  {% endif %}
                </div>
                <div class="content with-pic">
                  <h3>
                    {% if poi.type.pictogram %}<span class="icon"><img src="file://{{ poi.type.pictogram.path }}"></span>{% endif %}
                    {{ poi.name }} ({{ poi.letter }})
                  </h3>
                  <div class="description">{{ poi.description|safe }}</div>
                  {% if poi.thumbnail and poi.thumbnail.author %}
                    <legend>{% trans "Attribution" %} : {{ poi.thumbnail.author }}</legend>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </section>
      {% endblock poisDetails %}
    {% endblock body %}
    {% block footer %}
      <div id="footer">
        <div class="text">{% now 'SHORT_DATE_FORMAT' %} &#8226; {{ object.name }} &#8226;</div>
      </div>
    {% endblock footer %}
  </body>
</html>
