
.cursor-topo-start {
    cursor: url('images/marker-source-snap.png') 13 40, w-resize;
}

.cursor-topo-end {
    cursor: url('images/marker-target-snap.png') 13 40, e-resize;
}

/* Point topology */
.marker-point {
    padding-left: 25px;
    padding-top: 41px;
    background-image: url('images/marker-add.png') ;
    background-repeat: no-repeat;
    height: 0px !important;
    width: 0px !important;

}

.marker-point.marker-snapped {
    background-image: url('images/marker-snap.png');
}


.marker-source {
    padding-left: 25px;
    padding-top: 41px;
    background-repeat: no-repeat;
    height: 0px !important;
    width: 0px !important;

    background-image: url('images/marker-source.png');
}

.marker-drag {
    padding-left: 25px;
    padding-top: 41px;
    background-repeat: no-repeat;
    height: 0px !important;
    width: 0px !important;

    margin-left: -9px !important;
    margin-top: -9px !important;

    background-image: url('images/marker-drag.png');
}

.marker-target {
    padding-left: 25px;
    padding-top: 41px;
    background-repeat: no-repeat;
    height: 0px !important;
    width: 0px !important;

    background-image: url('images/marker-target.png');
}

.marker-source.marker-disabled {
    background-image: url('images/marker-bound-disabled.png');
}

.marker-target.marker-disabled {
    background-image: url('images/marker-bound-disabled.png');
}

.marker-drag.marker-disabled {
    background-image: url('images/marker-drag-disabled.png');
}

.marker-drag.marker-highlighted {
    background-image: url('images/marker-drag-highlighted.png'); 
}

.marker-source.marker-snapped {
    background-image: url('images/marker-source-snap.png');
}

.marker-target.marker-snapped {
    background-image: url('images/marker-target-snap.png');
}

.marker-drag { background-image: url('images/marker-drag.png') }
.marker-drag.marker-snapped {
    background-image: url('images/marker-drag-snap.png');
}

.linetopology-control {
    background-image: url(images/linetopology-control.png);
}

.pointtopology-control {
    background-image: url(images/pointtopology-control.png);
}

.details-panel td.paths li {
    float: left;
    width: 25%;
}

span.aggregation {
    display: block;
    font-size: 0.5em;
    margin-top: -5px;
}

/* Line editing */

.leaflet-editing-icon.marker-snapped {
    background-image: none;
    background-color: yellow;
}
