{% extends "mapentity/mapentity_list.html" %}
{% load i18n %}

{% block mainactions %}
    {{ block.super }}

    <div class="btn-group categories-filter">
        <a class="btn btn-warning" href="#" title="{% trans "All" %}">{% trans "All" %}</a>
        {% for category in view.categories_list %}
        <a class="btn" href="#" data-category="{{ category.pk }}" title="{{ category.label }}"><img src="{{ MEDIA_URL }}{{ category.pictogram }}"/></a>
        {% endfor %}
    </div>
{% endblock mainactions %}