<!DOCTYPE html>
{% load i18n mapentity_tags staticfiles %}
<html lang="en">
  <head>
    {% block style %}
      <style type="text/css">
        {% include template_css %}
      </style>
    {% endblock style %}
  </head>
  <body>
    {% block body %}
      <header>
        <div class="logo">
          <img src="{{ MEDIA_URL|add:'upload/logo-header.png' }}" alt="">
        </div>
        <div class="url">
          <div class="main">rando.geotrek.fr</div>
          <div class="geo">{% trans "Powered by geotrek.fr" %}</div>
        </div>
      </header>
      <div class="gray">
        {% if object.category %}
          <div class="main-icon category-C{{ object.category.pk }}">
            <img src="{{ object.category.pictogram.url }}" alt="">
          </div>
        {% endif %}
        {% if object.approved %}
          <div class="trademark">
            <img src="{{ MEDIA_URL|add:'upload/trademark.svg' }}" alt="">
          </div>
        {% endif %}
        <div class="main-title">
          <h1>{{ object.name }}</h1>
          <h2>{{ object.districts.0.name }}{% if object.districts and object.cities %} - {% endif %}{{ object.cities.0.name }}</h2>
        </div>
        <hr>
        {% if object.picture_print %}
          <div class="main-picture" style="background-image: url({{ object.picture_print.url }});"></div><div class="main-map" style="background-image: url({{ map_url }});"></div>
          {% if object.picture_print.legend or object.picture_print.author %}
            <legend>
              {% trans "Attribution" %} :
              {{ object.picture_print.legend }}
              {% if object.picture_print.author %}({{ object.picture_print.author }}){% endif %}
            </legend>
          {% endif %}
        {% else %}
          <div class="main-picture" style="background-image: url('{{ MEDIA_URL|add:'upload/placeholder.png' }}');"></div><div class="main-map" style="background-image: url({{ map_url }});"></div>
        {% endif %}
      </div>
      <div class="intro-left">
        {% if object.description_teaser %}
          <section class="teaser text-content">
            {{ object.description_teaser|safe }}
          </section>
        {% endif %}
      </div>
      <div class="meta-items">
        <div class="meta-items-title">{% trans "Usefull informations" %}</div>
        <section class="meta-items-list">
          {% if object.category %}
            <span class="meta-item">
              <span class="meta-item-label">{% trans "Category" %}</span>
              <span class="meta-item-value">{{ object.category }}</span>
            </span>
          {% endif %}
          <div class="lists">
            {% if object.type1.all %}
              <span class="meta-item">
                <span class="meta-item-label">{{ object.type1_label }}</span>
                {% for type in object.type1.all %}<span class="meta-item-value">{{ type }}</span>{% endfor %}
              </span>
            {% endif %}
            {% if object.type2.all %}
              <span class="meta-item">
                <span class="meta-item-label">{{ object.type2_label }}</span>
                {% for type in object.type2.all %}<span class="meta-item-value">{{ type }}</span>{% endfor %}
              </span>
            {% endif %}
            {% if object.themes.all %}
              <span class="meta-item">
                <span class="meta-item-label">{% trans "Themes" %}</span>
                {% for theme in object.themes.all %}<span class="meta-item-value">{{ theme.label }}</span>{% endfor %}
              </span>
            {% endif %}
          </div>
        </section>
      </div>
      {% block description %}
        {% if object.description %}
          <div class="inner-title">
            <h2>{% trans "Description" %}</h2>
          </div>
          <section class="description">
            <div class="text-content">{{ object.description|safe }}</div>
          </section>
        {% endif %}
      {% endblock description %}
      <div class="inner-title">
        <h2>{% trans "Geographical location" %}</h2>
      </div>
      <div class="full-map">
        <img src="{{ map_url }}" alt="">
      </div>
      <div class="inner-title">
        <h2>{% trans "All usefull informations" %}</h2>
      </div>
      {% if object.practical_info %}
        <div class="advice">
          <div class="advice-title">
            {% trans "Practical info" %}
          </div>
          <div class="advice-content">{{ object.practical_info | safe }}</div>
        </div>
      {% endif %}
      <section class="half-block contact">
        <h2>{% trans "Contact" %}</h2>
        <div class="text-content">
          {% if object.contact %}<div>{{ object.contact|safe }}</div>{% endif %}
          {% if object.email %}<div><a href="mailto:{{ object.email }}">{{ object.email }}</a></div>{% endif %}
          {% if object.website %}<div><a href="{{ object.website }}">{{ object.website }}</a></div>{% endif %}
        </div>
      </section>
      {% block source %}
        {% if object.source.all %}
          <section class="half-block source">
            <h2>{% trans "Source" %}</h2>
            {% for s in object.source.all %}
               <div class="text-content">
                 {% if s.pictogram %}<img src="{{ MEDIA_URL|add:s.pictogram.name }}">{% endif %}
                 {{ s.name }}
               </div>
            {% endfor %}
          </section>
        {% endif %}
      {% endblock source %}
    {% endblock body %}
    {% block footer %}
      <div id="footer">
        <div class="text">{% now 'SHORT_DATE_FORMAT' %} &#8226; {{ object.name }} &#8226;</div>
      </div>
    {% endblock footer %}
  </body>
</html>
