{% load i18n geotrek_tags mapentity_tags tourism_tags %}

{% is_tourism_enabled as enabled %}
{% if enabled %}

<h3>{% trans "Tourism" %}</h3>
<table class="table">
    <tr>
        <th>{% trans "Touristic contents" %}</th>
        <td>
            {% if perms.tourism.add_touristiccontent %}
            <p class="autohide"><a href="{% url 'tourism:touristiccontent_add' %}" class="btn btn-mini btn-success">
                <i class="icon-plus icon-white"></i> {% trans "Add a new touristic content" %}</a>
            </p>
            {% endif %}

            {% valuelist object.touristic_contents field='name' %}
        </td>
    </tr>
    <tr>
        <th>{% trans "Touristic events" %}</th>
        <td>
            {% if perms.tourism.add_touristicevent %}
            <p class="autohide"><a href="{% url 'tourism:touristicevent_add' %}" class="btn btn-mini btn-success">
                <i class="icon-plus icon-white"></i> {% trans "Add a new touristic event" %}</a>
            </p>
            {% endif %}

            {% valuelist object.touristic_events field='name' %}
        </td>
    </tr>
</table>

{% endif %}
