{% extends "mapentity/mapentity_detail_attributes.html" %}
{% load i18n mapentity_tags %}

{% block attributes %}
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ object|verbose:"structure" }}</th>
            <td>{{ object.structure }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"name" }}</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"type" }}</th>
            <td>{% if object.type %}{{ object.type }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"place" }}</th>
            <td>{% if object.place %}{{ object.place }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"themes" }}</th>
            <td>{% valuelist object.themes.all %}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"begin_date" }}</th>
            <td>{{ object.begin_date }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"end_date" }}</th>
            <td>{{ object.end_date }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"start_time" }}</th>
            <td>{{ object.start_time|default:"" }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"end_time" }}</th>
            <td>{{ object.end_time|default:"" }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"duration" }}</th>
            <td>{{ object.duration }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"price" }}</th>
            <td>{{ object.price }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"meeting_point" }}</th>
            <td>{{ object.meeting_point }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"description_teaser" }}</th>
            <td>{{ object.description_teaser|safe }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"description" }}</th>
            <td>{{ object.description|safe }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"target_audience" }}</th>
            <td>{{ object.target_audience|default:"" }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"practical_info" }}</th>
            <td>{{ object.practical_info|safe }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"contact" }}</th>
            <td>{{ object.contact|safe }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"email" }}</th>
            <td>{% if object.email %}<a href="mailto:{{ object.email }}">{{ object.email }}</a>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"website" }}</th>
            <td>{% if object.website %}<a href="{{ object.website }}" target="_blank">{{ object.website }}</a>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"organizers" }}</th>
            <td>{% if object.organizers %}
                    {% valuelist object.organizers.all %}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"speaker" }}</th>
            <td>{{ object.speaker }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"accessibility" }}</th>
            <td>{% if object.accessibility %}{{ object.accessibility|safe }}{% else %}<span class="none">{% trans "None" %}</span>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"bookable" }}</th>
            <td>{{ object.bookable|yesno:_("Yes,No") }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"booking" }}</th>
            <td>{{ object.booking|safe }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"capacity" }}</th>
            <td>{{ object.capacity }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"cancelled" }}</th>
            <td>{{ object.cancelled|yesno:_("Yes,No") }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"cancellation_reason" }}</th>
            <td>{{ object.cancellation_reason|safe }}</td>
        </tr>
        <tr>
            <th>{% trans "Source" %}</th>
            <td>
                {% valuelist object.source.all %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Portal" %}</th>
            <td>
                {% valuelist object.portal.all %}
            </td>
        </tr>


        <tr>
            <th>{{ object|verbose:"approved" }}</th>
            <td>{{ object.approved|yesno:_("Yes,No") }}</td>
        </tr>

        <tr>
            <th>{% trans "Provider" %}</th>
            <td>{% if object.provider %}{{ object.provider|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{% trans "External id" %}</th>
            <td>{% if object.eid %}{{ object.eid|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Thumbnail" %}</th>
            <td><img src="{{ object.thumbnail.url }}"></td>
        </tr>
        <tr>
            <th>{% trans "Participants" %}</th>
            <td>
                {% for participant in object.participants.all %}
                    {% if forloop.first %}
                        <table>
                            <thead>
                                <th>{% trans "Category" %}</th><th>{% trans "Number" %}</th>
                            </thead>
                            <tbody>
                    {% endif %}
                            <tr><td>{{ participant.category }}</td><td>{{ participant.count }}</td></tr>
                    {% if forloop.last %}
                            <tr class="total"><td>{% trans "Total" %}<td>{{ object.participants_total }}</td></tr>
                            </tbody>
                        </table>
                    {% endif %}
                {% empty %}
                    <span class="none">{% trans "None" %}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>{{ object|verbose:"preparation_duration" }}</th>
            <td>{{ object.preparation_duration }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"intervention_duration" }}</th>
            <td>{{ object.intervention_duration }}</td>
        </tr>

        {% include "common/publication_info_fragment.html" %}
        {% include "mapentity/trackinfo_fragment.html" %}
    </table>

    {{ block.super }}
{% endblock attributes %}
