{% extends "common/common_detail.html" %}
{% load i18n static mapentity_tags %}


{% block download %}
    {{ block.super }}
    <a class="dropdown-item" href="{% url 'tourism:touristiccontent_printable' LANGUAGE_CODE object.pk object.slug %}" title="{% trans "Public print" %}" target="_blank">
        <i class="bi bi-file-pdf text-danger"></i> {% trans "Print" %}
    </a>
    <a class="dropdown-item" href="{% url 'tourism:touristiccontent_booklet_printable' LANGUAGE_CODE object.pk object.slug %}" title="{% trans "Public print booklet" %}" target="_blank">
        <i class="bi bi-file-pdf text-danger"></i> {% trans "Print booklet" %}
    </a>
{% endblock download %}


{% block detailspanel %}
    {% include "common/publishable_completeness_fragment.html" %}
    {{ block.super }}
{% endblock detailspanel %}
