{% load i18n geotrek_tags mapentity_tags tourism_tags %}

{% settings_value "TOURISM_ENABLED" as enabled %}
{% settings_value "TOURISTICCONTENT_MODEL_ENABLED" as tc_enabled %}
{% settings_value "TOURISTICEVENT_MODEL_ENABLED" as te_enabled %}

{% if enabled %}
{% if tc_enabled or te_enabled %}
<h3>{% trans "Tourism" %}</h3>
<table class="table">
    {% if tc_enabled %}
    <tr>
        <th>{% trans "Touristic contents" %}</th>
        <td>
            {% if perms.tourism.add_touristiccontent %}
            <p class="autohide"><a href="{% url 'tourism:touristiccontent_add' %}" class="btn btn-sm btn-success">
                <i class="bi bi-plus-circle-fill"></i> {% trans "Add a new touristic content" %}</a>
            </p>
            {% endif %}

            {% valuelist object.touristic_contents field='name' %}
        </td>
    </tr>
    {% endif %}
    {% if te_enabled %}
    <tr>
        <th>{% trans "Touristic events" %}</th>
        <td>
            {% if perms.tourism.add_touristicevent %}
            <p class="autohide"><a href="{% url 'tourism:touristicevent_add' %}" class="btn btn-sm btn-success">
                <i class="bi bi-plus-circle-fill"></i> {% trans "Add a new touristic event" %}</a>
            </p>
            {% endif %}

            {% valuelist object.touristic_events field='name' %}
        </td>
    </tr>
    {% endif %}
</table>

{% endif %}
{% endif %}