{% extends "common/common_detail.html" %}
{% load i18n static mapentity_tags %}


{% block download %}
    {{ block.super }}
  </div>

  <div class="btn-group pull-right">
    <a class="btn btn-light btn-sm" href="{% url 'tourism:touristiccontent_printable' LANGUAGE_CODE object.pk object.slug %}" title="{% trans "Public print" %}" target="_blank"><img src="{% static "paperclip/fileicons/pdf.png" %}"/> {% trans "Print" %}</a>
    <a class="btn btn-light btn-sm" href="{% url 'tourism:touristiccontent_booklet_printable' LANGUAGE_CODE object.pk object.slug %}" title="{% trans "Public print booklet" %}" target="_blank"><img src="{% static "paperclip/fileicons/pdf.png" %}"/> {% trans "Print booklet" %}</a>
{% endblock download %}

{% block before_attachments_extra_tab_nav %}
    <li class="nav-item">
        <a class="nav-link" id="tab-related-objects" href="#related-objects" data-toggle="tab">
            <i class="bi-grid"></i>
            <span class="d-none d-sm-inline">{% trans "Related objects" %}</span>
        </a>
{% endblock %}

{% block before_attachments_extra_tab_content %}
    <div id="related-objects" class="tab-pane">
        {% smart_include "detail" %}
    </div>
{% endblock %}

{% block detailspanel %}
    {% include "common/publishable_completeness_fragment.html" %}
    {{ block.super }}
{% endblock detailspanel %}
