{% extends "mapentity/mapentity_detail_attributes.html" %}
{% load i18n mapentity_tags %}

{% block attributes %}
    <h3>{% trans "Attributes" %}</h3>
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ object|verbose:"name" }}</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"type" }}</th>
            <td>{% if object.type %}{{ object.type }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"description_teaser" }}</th>
            <td>{{ object.description_teaser|safe }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"description" }}</th>
            <td>{{ object.description|safe }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"themes" }}</th>
            <td>{% valuelist object.themes.all %}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"begin_date" }}</th>
            <td>{{ object.begin_date }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"end_date" }}</th>
            <td>{{ object.end_date }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"duration" }}</th>
            <td>{{ object.duration }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"meeting_point" }}</th>
            <td>{{ object.meeting_point }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"meeting_time" }}</th>
            <td>{{ object.meeting_time|default:"" }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"contact" }}</th>
            <td>{{ object.contact|safe }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"email" }}</th>
            <td>{{ object.email|default:"" }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"website" }}</th>
            <td>{{ object.website|default:"" }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"organizer" }}</th>
            <td>{{ object.organizer }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"speaker" }}</th>
            <td>{{ object.speaker }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"target_audience" }}</th>
            <td>{{ object.target_audience }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"accessibility" }}</th>
            <td>{{ object.accessibility }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"participant_number" }}</th>
            <td>{{ object.participant_number }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"booking" }}</th>
            <td>{{ object.booking|safe }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"practical_info" }}</th>
            <td>{{ object.practical_info|safe }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"approved" }}</th>
            <td>{{ object.approved|yesno:_("yes,no") }}</td>
        </tr>
        <tr>
            <th>{% trans "Source" %}</th>
            <td>
                {% valuelist object.source.all %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Portal" %}</th>
            <td>
                {% valuelist object.portal.all %}
            </td>
        </tr>
        <tr>
            <th>{% trans "External id" %}</th>
            <td>{{ object.eid }}</td>
        </tr>
        <tr>
            <th>{% trans "Thumbnail" %}</th>
            <td><img src="{{ object.thumbnail.url }}"></td>
        </tr>
        {% include "common/publication_info_fragment.html" %}
        {% include "mapentity/trackinfo_fragment.html" %}
    </table>

    {{ block.super }}
{% endblock attributes %}