{% load i18n mapentity_tags %}

<img src="{% media_static_fallback "upload/logo-header.png" "images/logo-header.png" %}">

<h2>{{ object.name }}</h2>

<h3>{{ object.districts_display }}</h3>


<table>
	{% if object.type %}
		<tr>
			<th>
				{% trans "Type" %}
			</th>
			<td>
				{{ object.type }}
			</td>
		</tr>
	{% endif %}

	{% if object.dates_display %}
		<tr>
			<th>
				{% trans "Dates" %}
			</th>
			<td>
				{{ object.dates_display }}
			</td>
		</tr>
	{% endif %}
	{% if object.target_audience %}
		<tr>
			<th>
				{% trans "Target audience" %}
			</th>
			<td>
				{{ object.target_audience }}
			</td>
		</tr>
	{% endif %}
	{% if object.organizer %}
		<tr>
			<th>
				{% trans "Organizer" %}
			</th>
			<td>
				{{ object.organizer }}
			</td>
		</tr>
	{% endif %}
	{% if object.speaker %}
		<tr>
			<th>
				{% trans "Speaker" %}
			</th>
			<td>
				{{ object.speaker }}
			</td>
		</tr>
	{% endif %}
	{% if object.accessibility %}
		<tr>
			<th>
				{% trans "Accessibility" %}
			</th>
			<td>
				{{ object.accessibility }}
			</td>
		</tr>
	{% endif %}
	{% if object.participant_number %}
		<tr>
			<th>
				{% trans "Number of participants" %}
			</th>
			<td>
				{{ object.participant_number }}
			</td>
		</tr>
	{% endif %}
	{% if object.approved %}
		<tr>
			Labellisé
		</tr>
	{% endif %}
</table>

{% if MEDIA_URL|add:object.picture_print.name %}
	<img src="{{ MEDIA_URL|add:object.picture_print.name }}">
{% endif %}

{% if object.pictures.0.author and object.pictures.0.legend %}
	<p>{% trans "Attribution" %} : {{ object.pictures.0.legend }} ({{ object.pictures.0.author }})</p>
{% endif %}

<p>{{ object.description_teaser }}</p>

<p>{{ object.description }}</p>

<img src="{{ image_url }}" style="margin-left: auto; margin-right: auto; width: 100%; height: auto; ">

{% if object.meeting_point %}
	<h3>{% trans "Meeting point" %}</h3>
	<p>{{ object.meeting_point }}</p>
{% endif %}

{% if object.meeting_time %}
	<h3>{% trans "Meeting time" %}</h3>
	<p>{{ object.meeting_time }}</p>
{% endif %}

{% if object.contact or object.email or object.website %}
	<h3>{% trans "Contact" %}</h3>

	<p>
		{{ object.contact }}<br>
		{{ object.email }}<br>
		{{ object.website }}<br>
	</p>
{% endif %}

{% if object.practical_info %}
	<h3>{% trans "Practical info" %}</h3>
	<p>{{ object.practical_info }}</p>
{% endif %}
