@page {
  margin: 1.3cm 1.8cm 2.5cm 1.8cm;
  @bottom-left {
    font-family: sans, sans-serif;
    color: #646464;
    font-weight: 100;
    font-size: .8em;
    font-style: italic;
    content: "Page " counter(page);
  }
}

html {
  -weasy-hyphens: auto;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans, sans-serif;
  color: #646464;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5 {
  color: black;
  font-weight: normal;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: 100;
}

section {
  page-break-inside: avoid;
}

#footer {
  position: fixed;
  height: 2cm;
  bottom: -2cm;
  left: 0;
  right: 0;
}

#footer .text {
  display: inline-block;
  vertical-align: middle;
  max-width: 60%;
  font-size: .8em;
  font-style: italic;
}

#footer .loire-atlantique {
  float: right;
  height: 1cm;
}

.main-title {
  text-align: center;
  padding-bottom: 2.36em;
}

.main-title h1, .main-title h2 {
  margin: 0;
}

.main-title h2 {
  font-size: 1.25em;
}

.map img {
  max-width: 100%;
}

header .meta {
  margin-top: 1em;
  font-size: .65em;
}

.teaser {
  margin-top: 1em;
}

.meta .lists {
  display: inline;
}

.meta-item {
  display: inline-block;
  vertical-align: middle;
  border-radius: .05em;
  margin-bottom: 0.236em;
  margin-top: .236em;
  margin-right: .472em;
  padding-right: .354em;
}

.meta-item .item-label,
.meta-item .item-value {
  border-radius: 0.25mm 0 0 0.25mm;
  display: inline-block;
}

.meta-item .item-label {
  margin: -1px 0 -1px -1px;
  padding: 1.2mm 1.5mm;
}

.meta-item .item-value + .item-value:before {
  content: ", ";
}

.meta-item {
  background-color: #f7fcda;
  border: 1px solid rgba(174, 201, 14, 0.45);
  color: #323a04;
}

.meta-item .item-label {
  background-color: #aec90e;
}

.lists .meta-item {
  background-color: #f3fbc2;
  border: 1px solid rgba(153, 177, 12, 0.45);
  color: #1e2202;
}

.lists .meta-item .item-label {
  background-color: #99b10c;
}

.centered {
  font-size: .80em;
  padding: 2mm;
  margin-top: 1.2em;
  background-color: #f7fcda;
}

.text-content {
  line-height: 1.5;
}

.pic legend {
  font-style: italic;
  text-align: right;
  font-size: .8em;
}

footer {
  margin-top: 2em;
  background-color: #eee;
  padding: .3em;
  text-align: center;
}
