[report]
omit =
    */tests*
    */migrations*
    lib/eggs/*
    lib/develop-eggs/*
    lib/parts/*
    lib/src/django-geojson
    lib/src/django-extended-choices
    lib/src/django-leaflet

ignore_errors = true
