*.pyc
*.tar.gz
*.mo

/var/
/etc/
/.idea/
/.vscode/

# buildout stuff
.mr.developer.cfg
.installed.cfg
pip-selfcheck.json
bin/
downloads/
develop-eggs/
eggs/
parts/
docs/_build/
*.egg-info/
/node_modules/
/salt.cfg

/parsers.py
/sync_trek/

/.project
/.pydevproject
/.settings/

/share/
/install/docker.env
/install/*.tgz
/install/var/static/
!/install/var/static/README.md
/install/var/media/
!/install/var/media/upload/README.md
!/install/var/media/README.md
/install/var/log/
!/install/var/log/README.md
/install/var/extra_templates/
!/install/var/extra_templates/README.md
/install/var/extra_static/
!/install/var/extra_static/README.md
/install/var/extra_locale/
!/install/var/extra_locale/README.md
/install/var/cache/
!/install/var/cache/README.md
/install/var/bulkimport/
!/install/var/bulkimport/__init__.py
!/install/var/bulkimport/parsers.py
/install/var/tiles/
/install/var/data/
/bulkimport/
!/bulkimport/__init__.py
