*.pyc
*.zip
*.tar.gz
*.mo

/var/
/etc/
/install
/.idea/

# buildout stuff
.mr.developer.cfg
.installed.cfg
pip-selfcheck.json
bin/
downloads/
develop-eggs/
eggs/
parts/
docs/_build/
include/
lib/
local/
*.egg-info/
/node_modules/
/salt.cfg
/etc
/lib
/var
bootstrap.py
/.buildout
geotrek/settings/custom.py
/parsers.py
/install.log
/data/
/sync_trek/

/.project
/.pydevproject
/.settings/
screamshotter.log

/share/
/geotrek/settings/local.py
