x-images:
  django: &django
    image: geotrek
    build:
      context: .
      dockerfile: ./docker/Dockerfile
      target: dev
      args:
        BASE_IMAGE: ${DEV_BASE_IMAGE:-ubuntu:jammy}
        PYTHON_VERSION: ${DEV_PYTHON_VERSION:-3.10}
    user: ${UID:-1000}:${GID:-1000}
    env_file:
      - .env
    volumes:
      - .:/opt/geotrek-admin

services:
  redis:
    image: redis:alpine
    volumes:
      - redis:/data

  convertit:
    image: makinacorpus/convertit:latest

  screamshotter:
    image: makinacorpus/screamshotter:v2

  celery:
    <<: [ *django ]
    depends_on:
      redis:
        condition: service_started

    command: celery -A geotrek worker -c 1

  web:
    <<: [ *django ]

    ports:
      - "${WEB_PORT:-8000}:8000"

    depends_on:
      screamshotter:
        condition: service_started
      convertit:
        condition: service_started
      celery:
        condition: service_started

    networks:
      default:
        aliases:
          - ${SERVER_NAME:-geotrek.local}

volumes:
  redis:
