include README.rst CHANGES LICENSE
recursive-include mapentity/templates *.html
recursive-include mapentity/static *.js
recursive-include mapentity/static *.css
recursive-include mapentity/static *.png
