setuptools==39.0.1
redis==2.10.6
celery == 4.1.0
mr.developer == 1.38
djangorecipe == 2.2.1
django-extensions == 2.0.6
hexagonit.recipe.download == 1.7.0
z3c.recipe.mkdir == 0.6
zc.recipe.egg==2.0.5
distribute==0.7.3
zc.buildout==2.11.2
Django==1.11.11
mapentity==4.3.0
GDAL==1.11.2 --global-option=build_ext --global-option="-I/usr/include/gdal"
tif2geojson==0.1.3
django-extended-choices==1.3
django-multiselectfield==0.1.8
geojson==2.3.0
appy==0.9.10
paperclip==2.1.2
convertit==1.1.5
django-geojson==2.11.0
django-appypod==1.0.0
django-screamshot==0.8.1
screamshotter==1.1.0
gpxpy==1.1.2
BeautifulSoup4==4.6.0
requests==2.18.4
django-shapes==0.2.0
django-crispy-forms==1.7.2
django-compressor==2.2
django-filter==1.1.0
easy-thumbnails==2.5.0
django-tinymce==2.5.0
psycopg2==2.7.4
docutils== 0.14
Pillow==5.1.0
simplekml==1.3.0
djangorestframework==3.7.7
djangorestframework-gis==0.12.0
drf-extensions==0.3.1
drf-dynamic-fields==0.2.0
django-rest-swagger==2.1.2
django-embed-video==1.1.2
xlrd==0.9.3
landez==2.4.0
bpython==0.14
cffi==1.11.2
WeasyPrint==0.36
django-weasyprint==0.1
lxml==3.4.4
celery==4.1.0
django-celery-results==1.0.1
html5lib==0.999999999
idna==2.5
git+git://github.com/makinacorpus/django-modeltranslation.git@0.13-beta1+geotrek1
git+git://github.com/makinacorpus/pygal.git@master
git+git://github.com/GeotrekCE/django-leaflet.git@0.19.0+geotrek3