{% load i18n static %}

<!DOCTYPE html>
<html>
<head>
    <title>TOOLS : extents</title>
    <link rel='stylesheet' href='https://unpkg.com/maplibre-gl@5.16.0/dist/maplibre-gl.css' />
    <script src='https://unpkg.com/maplibre-gl@5.16.0/dist/maplibre-gl.js'></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        #map {
            height: 100%;
            width: 50%;
        }
        #infos {
            position: absolute;
            left: 50%;
            top: 0px;
        }
        tr.paths {
            color: #009F5F;
        }
        tr.tiles {
            color: #005EFF;
        }
        tr.dem {
            color: #CF00FF;
        }
        tr.viewport {
            color: #FF6E00;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <div id="infos">
        <table>
            <tr class="paths">
                <td>{% trans "Paths" %}</td>
                <td>BOX{{ path_extent_native }}</td>
            </tr>
            <tr class="tiles">
                <td>{% trans "Tiles" %}</td>
                <td>BOX{{ tiles_extent_native }}</td>
            </tr>
            <tr class="dem">
                <td>{% trans "DEM" %}</td>
                <td>{% if dem_extent %}BOX{{ dem_extent_native }}{% else %}{% trans "None" %}{% endif %}</td>
            </tr>
            <tr class="viewport">
                <td>{% trans "Viewport (WGS84)" %}</td>
                <td>BOX{{ viewport_native }}</td>
            </tr>
            <tr class="mouse">
                <td>{% trans "Mouse" %} (WGS84)</td>
                <td id="mouseposition"></td>
            </tr>
        </table>
    </div>
<script>
    // Create map
    const map = new maplibregl.Map({
        container: 'map',
        style: 'https://tiles.openfreemap.org/styles/bright',
        center: {{ CENTER }},
        zoom: 5
    });

    // Add rectangles
    map.on('load', () => {
        map.addSource('route', {
            'type': 'geojson',
            'data': {
                type: "FeatureCollection",
                features: [{
                    type: "Feature",
                    properties: {'color': '#009F5F'},
                    geometry: {
                        'type': 'LineString',
                        'coordinates': {{ path_extent }}
                    }
                },
                {
                    type: "Feature",
                    properties: {'color': '#005EFF'},
                    geometry: {
                        'type': 'LineString',
                        'coordinates': {{ tiles_extent }}
                    }
                },
                {
                    type: "Feature",
                    properties: {'color': '#CF00FF'},
                    geometry: {
                        'type': 'LineString',
                        'coordinates': {{ dem_extent }}
                    }
                },
                {
                    type: "Feature",
                    properties: {'color': '#FF6E00'},
                    geometry: {
                        'type': 'LineString',
                        'coordinates': {{ viewport }}
                    }
                },
                ]
            }
        });
        map.addLayer({
            'id': 'route',
            'type': 'line',
            'source': 'route',
            'layout': {
                'line-join': 'round',
                'line-cap': 'round'
            },
            'paint': {
                'line-color': ['get', 'color'],
                'line-width': 5,
                'line-opacity': 0.5,
            }
        });
    });

    // Add draggable marker
    const coordinates = document.getElementById('mouseposition');

    const marker = new maplibregl.Marker({draggable: true})
        .setLngLat({{ CENTER }})
        .addTo(map);

    function onClick(e) {
        console.log(e.lngLat.wrap());
        const lngLat = e.lngLat.wrap();
        marker.setLngLat(lngLat);
        coordinates.style.display = 'block';
        coordinates.innerHTML =
            `POINT(${lngLat.lng}, ${lngLat.lat})`; // coordinates are given in WGS84
    }

    map.on('click', onClick);

</script>
</body>
</html>