{% load i18n %}

<li><a href="{% url 'common:import_dataset' %}">{% trans "Imports" %}</a></li>

{% if user.is_superuser %}
    <li><a href="{% url 'apimobile:sync_mobiles_view' %}">{% trans "Sync mobile" %}</a></li>
{% endif %}

<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go" />
</form>