{% extends "mapentity/mapentity_detail.html" %}
{% load i18n static mapentity_tags %}

{% block relatedobjectspanel %}
  {% block before_attachments_extra_tab_nav %}
  <li class="nav-item">
      <a class="nav-link" id="tab-related-objects" href="#related-objects" data-toggle="tab">
          <i class="bi-grid"></i>
          <span class="d-none d-sm-inline">{% trans "Related objects" %}</span>
      </a>
  {% endblock %}

  {% block before_attachments_extra_tab_content %}
  <div id="related-objects" class="tab-pane">
      {% smart_include "detail" %}
  </div>
  {% endblock %}
{% endblock relatedobjectspanel %}

{% block attachmentspanel %}
  {% include 'common/attachment_list.html' with attachment_form_next=object.get_detail_url|add:'?tab=attachments' %}
{% endblock attachmentspanel %}

