{% load static i18n mapentity_tags %}
<tr>
    <th>{{ object|verbose:"published" }}</th>
    <td>
    {% if object.any_published %}
        <ul>
        {% for status in object.published_status %}
            {% if status.status %}
            <li class="active">
                <img src="{% static "images/flags/"|add:status.lang|add:".png" %}" alt="{{ status.lang }}">
                <a href="?lang={{ status.lang }}">{{ status.language }}</a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        ({{ object|verbose:"publication_date" }}: {{ object.publication_date }})
    {% else %}
        {% if object.review %}
            {% trans "Waiting for publication" %}
        {% else %}
            {% trans "Draft" %}
        {% endif %}
    {% endif %}
    </td>
</tr>
