{% extends "mapentity/mapentity_detail_attributes.html" %}
{% load i18n mapentity_tags %}

{% block attributes %}

    <h3>{% trans "Attributes" %}</h3>
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ object|verbose:"structure" }}</th>
            <td>{{ object.structure }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"name" }}</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"type" }}</th>
            <td>{{ object.type }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"condition" }}</th>
            <td>{{ object.condition }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"description" }}</th>
            <td>{% if object.description %}{{ object.description|safe|linebreaks }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ object|verbose:"accessibility" }}</th>
            <td>{% if object.accessibility %}{{ object.accessibility|safe|linebreaks }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"implantation_year" }}</th>
            <td>{{ object.implantation_year|default:"" }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"usage_difficulty" }}</th>
            <td>{{ object.usage_difficulty|default:"" }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"maintenance_difficulty" }}</th>
            <td>{{ object.maintenance_difficulty|default:"" }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"access" }}</th>
            <td>{{ object.access|default:"" }}</td>
        </tr>
        <tr>
            <th>{% trans "External id" %}</th>
            <td>{% if object.eid %}{{ object.eid|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Provider" %}</th>
            <td>{% if object.provider %}{{ object.provider|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        {% include "altimetry/elevationinfo_fragment.html" %}
        {% include "common/publication_info_fragment.html" %}
        {% include "mapentity/trackinfo_fragment.html" %}
    </table>
    {{ block.super }}
{% endblock attributes %}
