{% load i18n geotrek_tags mapentity_tags %}
<h3>{% trans "Infrastructure" %}</h3>
<table class="table">
    {% if modelname != "infrastructure" %}
    <tr>
        <th>{% trans "Infrastructures" %}</th>
        <td>
            {% if perms.infrastructure.add_infrastructure %}
                {% is_topology_model model as is_topology_model %}
                <p class="autohide"><a href="{% url 'infrastructure:infrastructure_add' %}{% if is_topology_model %}?topology={{ object.pk}}{% endif %}" class="btn btn-mini btn-success">
                    <i class="icon-plus icon-white"></i> {% trans "Add a new infrastructure" %}</a>
                </p>
            {% endif %}

            {% valuelist object.infrastructures field='name' %}
        </td>
    </tr>
    {% endif %}

    {% if modelname != "signage" %}
    <tr>
        <th>{% trans "Signages" %}</th>
        <td>
            {% if perms.infrastructure.add_signage %}
            <p class="autohide"><a href="{% url 'infrastructure:signage_add' %}" class="btn btn-mini btn-success">
                <i class="icon-plus icon-white"></i> {% trans "Add a new signage" %}</a>
            </p>
            {% endif %}

            {% valuelist object.signages field='name' %}
        </td>
    </tr>
    {% endif %}
</table>
