/*
 * This file contains styles that are specific to Geotrek, 
 * with no reason to be in MapEntity.
 * (paths, aggregations, altimetric profile, etc.)
 */


/* Force tiles opacity and no transition on every tile layer */
.leaflet-tile-pane .leaflet-layer .leaflet-tile-loaded,
.leaflet-tile-pane .leaflet-fade-anim .leaflet-tile {
    opacity: 0.75;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.leaflet-container {
    background-color: #000;
}


/* Land labels */
.leaflet-label.landlabel {
    font-weight: normal;
    font: 10px/12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}


.details-panel td.paths li {
    float: left;
    width: 25%;
}

span.aggregation {
    display: block;
    font-size: 0.5em;
    margin-top: -5px;
}

#altitudegraph {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    padding: 5px;
}

#altitudegraph h4 {
    margin: 0px;
}

#altitudegraph #mouseoverprofil {
    margin: 0px;
    min-height: 20px;
}

body.screamshot #altitudegraph {
    display: none;
}

.intervention .form-row.inline.controls label {
    width: auto;
    float: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.intervention .form-horizontal .formset .controls {
    margin-left: 0px;
    display: inline-block;
}

.intervention .formset .control-group {
    display: inline-block;
}



/*
 * Trek and POIs markers
 */

.poi-marker-icon img, .poi-marker-icon.cluster {
  width: 24px;
  height: 24px;
  padding: 1px;
  color: black;
  text-align: center;
  background-color: rgba(255, 140, 0, 0.7);
  border: 1px solid  #80757d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0px 0px 7px 2px rgba(255, 255, 0, 1.0);
}


/* Icons for each entity */
.form-panel.path,           .details-panel.path           { background: url(images/path-96.png) no-repeat; }
.form-panel.trail,          .details-panel.trail          { background: url(images/trail-96.png) no-repeat; }
.form-panel.intervention,   .details-panel.intervention   { background: url(images/intervention-96.png) no-repeat; }
.form-panel.project,        .details-panel.project        { background: url(images/project-96.png) no-repeat; }
.form-panel.signage,        .details-panel.signage        { background: url(images/signage-96.png) no-repeat; }
.form-panel.infrastructure, .details-panel.infrastructure { background: url(images/infrastructure-96.png) no-repeat; }
.form-panel.trek,           .details-panel.trek           { background: url(images/trek-96.png) no-repeat; }
.form-panel.poi,            .details-panel.poi            { background: url(images/poi-96.png) no-repeat; }

 /* Icons for tabs */
li.history.trail > a, li.history.trail button:first-child                   {background-image: url(images/trail-16.png);}
li.history.path > a, li.history.path button:first-child                     {background-image: url(images/path-16.png);}
li.history.intervention > a, li.history.intervention button:first-child     {background-image: url(images/intervention-16.png);}
li.history.project > a, li.history.project button:first-child               {background-image: url(images/project-16.png);}
li.history.signage > a, li.history.signage button:first-child               {background-image: url(images/signage-16.png);}
li.history.infrastructure > a, li.history.infrastructure button:first-child {background-image: url(images/infrastructure-16.png);}
li.history.trek > a, li.history.trek button:first-child                     {background-image: url(images/trek-16.png);}
li.history.poi > a, li.history.poi button:first-child                       {background-image: url(images/poi-16.png);}
