/*
 * This file contains styles that are specific to Geotrek,
 * with no reason to be in MapEntity.
 * (paths, aggregations, altimetric profile, etc.)
 */

 /* Enabled controls */

a.leaflet-draw-toolbar-button-enabled, .leaflet-control.enabled a {
    background-color: #ffa;
}

.leaflet-control.control-disabled a {
    cursor: default;
    background-color: #B4B4B4;
    color: #bbb;
}

/* Line editing */

.leaflet-editing-icon.marker-snapped {
    background-image: none;
    background-color: yellow;
}

/* Point topology */

.marker-point {
    padding-left: 25px;
    padding-top: 41px;
    background-image: url('core/images/marker-add.png') ;
    background-repeat: no-repeat;
    height: 0px !important;
    width: 0px !important;

}

.marker-point.marker-snapped {
    background-image: url('core/images/marker-snap.png');
}


.marker-source {
    padding-left: 25px;
    padding-top: 41px;
    background-repeat: no-repeat;
    height: 0px !important;
    width: 0px !important;

    background-image: url('mapentity/images/marker-source.png');
}

.marker-drag {
    padding-left: 25px;
    padding-top: 41px;
    background-repeat: no-repeat;
    height: 0px !important;
    width: 0px !important;

    margin-left: -9px !important;
    margin-top: -9px !important;

    background-image: url('core/images/marker-drag.png');
}

.marker-target {
    padding-left: 25px;
    padding-top: 41px;
    background-repeat: no-repeat;
    height: 0px !important;
    width: 0px !important;

    background-image: url('mapentity/images/marker-target.png');
}

.marker-source.marker-snapped {
    background-image: url('core/images/marker-source-snap.png');
}

.marker-target.marker-snapped {
    background-image: url('core/images/marker-target-snap.png');
}

.marker-drag { background-image: url('core/images/marker-drag.png') }
.marker-drag.marker-snapped {
    background-image: url('core/images/marker-drag-snap.png');
}

.linetopology-control {
    background-image: url(core/images/linetopology-control.png);
}

.pointtopology-control {
    background-image: url(core/images/pointtopology-control.png);
}

/* Trek form */

#id_parking_location_map {
    min-height: 400px;
}

#add_id_web_links {
    margin-top: -20px;
    margin-left: 10px;
}

.trek_relationship_a .control-group {
    margin-bottom: 0px;
}

.form-panel.trek .form-row.inline.controls:last-of-type {
    margin-top: 10px;
}

.trek_relationship_a .control-group label,
.trek_relationship_a .control-group .control {
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-panel.trek fieldset a.delete-row,
.form-panel.trek fieldset a.add-row {
    float: right;
    margin-right: 40%;
}


/* Land labels */
.leaflet-label.landlabel {
    font-weight: normal;
    font: 10px/12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.leaflet-label.landlabel:before {
    top: 0px;
}


.details-panel td.paths li {
    float: left;
    width: 25%;
}

span.aggregation {
    display: block;
    font-size: 0.5em;
    margin-top: -5px;
}

#altitudegraph {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    padding: 5px;
    width: 30%;
}

#altitudegraph h4 {
    margin: 0px;
}

#altitudegraph.colapsed {
    width: 20px;
}
#altitudegraph.colapsed img,
#altitudegraph.colapsed h4 {
    display: none;
}

#altitudegraph a.toggle {
    background: url(images/toggle.png) no-repeat;
    background-position: 1px 2px;
    background-repeat: no-repeat;
    float: right;
    width: 20px;
    outline: none;
    text-decoration: none;
}

#altitudegraph.colapsed a.toggle {
    background-position: 1px -18px;
}

body.screamshot #altitudegraph {
    display: none;
}

.intervention .form-row.inline.controls label {
    width: auto;
    float: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.intervention .form-horizontal .formset .controls {
    margin-left: 0px;
    display: inline-block;
}

.intervention .formset .control-group {
    display: inline-block;
}



/*
 * Trek and POIs markers
 */

.poi-marker-icon img, .poi-marker-icon.cluster {
  width: 24px;
  height: 24px;
  padding: 1px;
  color: black;
  text-align: center;
  background-color: rgba(255, 140, 0, 0.7);
  border: 1px solid  #80757d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0px 0px 7px 2px rgba(255, 255, 0, 1.0);
}
