/*
 * This file contains styles that are specific to Geotrek,
 * with no reason to be in MapEntity.
 * (paths, aggregations, altimetric profile, etc.)
 */

 /* Enabled controls */

a.leaflet-draw-toolbar-button-enabled, .leaflet-control.enabled a {
    background-color: #ffa;
}

.leaflet-control.control-disabled a {
    cursor: default;
    background-color: #B4B4B4;
    color: #bbb;
}

/* Line editing */

.leaflet-editing-icon.marker-snapped {
    background-image: none;
    background-color: yellow;
}

.cursor-topo-start {
    cursor: url('core/images/marker-source-snap.png') 13 40, w-resize;
}

.cursor-topo-end {
    cursor: url('core/images/marker-target-snap.png') 13 40, e-resize;
}

/* Point topology */
.marker-point {
    padding-left: 25px;
    padding-top: 41px;
    background-image: url('core/images/marker-add.png') ;
    background-repeat: no-repeat;
    height: 0px !important;
    width: 0px !important;

}

.marker-point.marker-snapped {
    background-image: url('core/images/marker-snap.png');
}


.marker-source {
    padding-left: 25px;
    padding-top: 41px;
    background-repeat: no-repeat;
    height: 0px !important;
    width: 0px !important;

    background-image: url('core/images/marker-source.png');
}

.marker-drag {
    padding-left: 25px;
    padding-top: 41px;
    background-repeat: no-repeat;
    height: 0px !important;
    width: 0px !important;

    margin-left: -9px !important;
    margin-top: -9px !important;

    background-image: url('core/images/marker-drag.png');
}

.marker-target {
    padding-left: 25px;
    padding-top: 41px;
    background-repeat: no-repeat;
    height: 0px !important;
    width: 0px !important;

    background-image: url('core/images/marker-target.png');
}

.marker-source.marker-snapped {
    background-image: url('core/images/marker-source-snap.png');
}

.marker-target.marker-snapped {
    background-image: url('core/images/marker-target-snap.png');
}

.marker-drag { background-image: url('core/images/marker-drag.png') }
.marker-drag.marker-snapped {
    background-image: url('core/images/marker-drag-snap.png');
}

.linetopology-control {
    background-image: url(core/images/linetopology-control.png);
}

.pointtopology-control {
    background-image: url(core/images/pointtopology-control.png);
}

/* Trek form */

#add_id_web_links {
    margin-top: -20px;
    margin-left: 10px;
}

.trek_relationship_a .control-group {
    margin-bottom: 0px;
}

.form-panel.trek .form-row.inline.controls:last-of-type {
    margin-top: 10px;
}

.trek_relationship_a .control-group label,
.trek_relationship_a .control-group .control {
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-panel.trek fieldset a.delete-row,
.form-panel.trek fieldset a.add-row {
    float: right;
    margin-right: 40%;
}


/* Land labels */
.leaflet-label.landlabel {
    font-weight: normal;
    font: 10px/12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.leaflet-label.landlabel:before {
    top: 0px;
}


.details-panel td.paths li {
    float: left;
    width: 25%;
}

span.aggregation {
    display: block;
    font-size: 0.5em;
    margin-top: -5px;
}

#altitudegraph {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    padding: 5px;
    width: 30%;
}

#altitudegraph h4 {
    margin: 0px;
}

#altitudegraph.colapsed {
    width: 20px;
}
#altitudegraph.colapsed img,
#altitudegraph.colapsed h4 {
    display: none;
}

#altitudegraph a.toggle {
    background: url(images/toggle.png) no-repeat;
    background-position: 1px 2px;
    background-repeat: no-repeat;
    float: right;
    width: 20px;
    outline: none;
    text-decoration: none;
}

#altitudegraph.colapsed a.toggle {
    background-position: 1px -18px;
}

body.screamshot #altitudegraph {
    display: none;
}


.intervention table tr.total {
    border-top: solid 2px;
}
.intervention table tr.total td {
    background-color: white;
    border: none;
}

.intervention .form-row.inline.controls label {
    width: auto;
    float: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.intervention .form-horizontal .formset .controls {
    margin-left: 0px;
    display: inline-block;
}

.intervention .formset .control-group {
    display: inline-block;
}

.details-panel .spacer {
    /* Intervention list in detail pages ``maintenance_detail_fragment.html``
       Give space to "Add intervention button".
    */
    float: left;
    height: 35px;
}

.details-panel th.infrastructure {
    width: 30px;
}
.details-panel th.status,
.details-panel th.stake,
.details-panel th.date,
.details-panel th.total_cost {
    width: 60px;
}


.poi-marker-icon img {
    max-width: 100% !important;
}

.leaflet-marker-icon.point-reference {
    background-color: red;
    border-radius: 50px;
    width: 20px !important;
    height: 20px !important;
    margin-left: -10px;
    margin-top: -10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.leaflet-draw.id_points_reference .leaflet-draw-draw-marker {
    background-image: url(trekking/point_reference_widget.png);
    background-position: 0px 0px, center;
    background-size: cover;
}


.leaflet-marker-icon.parking-location {
    background-image: url(trekking/parking.png);
    background-size: cover;
    width: 20px !important;
    height: 20px !important;
    margin-left: -10px;
    margin-top: -10px;
}

.leaflet-draw.id_parking_location .leaflet-draw-draw-marker {
    background-image: url(trekking/parking.png);
    background-position: 5px 5px, center;
    background-size: 15px;
}

/* Touristic content */

.categories-filter .btn {
    height: 20px;
}
.categories-filter .btn img {
    margin-top: -4px;
    max-height: 28px;
}

/* Fix a Chosen bug, which sets width to 0px when initialized while hidden */
#mainfilter .chosen-container-multi,
#mainform .chosen-container-multi {
    width: 220px !important;
}

.servicetype img {
    width: 18px;
    height: 18px;
    margin-left: 4px;
    cursor: hand;
}
