/*
 * This file contains styles that are specific to Geotrek,
 * with no reason to be in MapEntity or in app specific style.css
 */

 /* Enabled controls */

a.leaflet-draw-toolbar-button-enabled, .leaflet-control.enabled a {
    background-color: #ffa;
}

.leaflet-control.control-disabled a {
    cursor: default;
    background-color: #B4B4B4;
    color: #bbb;
}

#mainfilter input.minmax-field {
    width: calc(60% - 1.9rem);
}
