/*
 * This file contains styles that are specific to Geotrek,
 * with no reason to be in MapEntity or in app specific style.css
 */

 /* Enabled controls */

a.leaflet-draw-toolbar-button-enabled, .leaflet-control.enabled a {
    background-color: #ffa;
}

.leaflet-control.control-disabled a {
    cursor: default;
    background-color: #B4B4B4;
    color: #bbb;
}

/* Fix a Chosen bug, which sets width to 0px when initialized while hidden */
#mainfilter .chosen-container-multi,
#mainform .chosen-container-multi {
    width: 220px !important;
}

/* Projects */
.dynamic-form .asteriskField {
    display: none;
}
.dynamic-form label.requiredField {
    font-weight: normal;
}

.dropdown-menu > li > form {
    margin: 0;
}

.dropdown-menu > li > form > button {
    background: none;
    border: none;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
    width: 100%;
    text-align: left;
}

.dropdown-menu > li > form > button:hover,
.dropdown-menu > li > form > button:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
