{% load i18n %}{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{{ META_TITLE }}</title>
    <meta name="description" content="{{ META_DESCRIPTION }}">
    <meta property="og:description" content="{{ META_DESCRIPTION }}">
    <meta property="og:title" content="{{ META_TITLE }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.GET.rando_url }}">
    <meta property="og:image" content="{{ FACEBOOK_IMAGE }}">
    <meta property="og:image:width" content="{{ FACEBOOK_IMAGE_WIDTH }}">
    <meta property="og:image:height" content="{{ FACEBOOK_IMAGE_HEIGHT }}">
    <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}">
</head>
<body>
<h1>{{ META_TITLE }}</h1>
{% for trek in treks %}
    <a href="{{ request.GET.rando_url }}/{{ trek.rando_url }}">{{ trek.name }}</a>
{% endfor %}
{% for content in contents %}
    <a href="{{ request.GET.rando_url }}/{{ content.rando_url }}">{{ content.name }}</a>
{% endfor %}
{% for event in events %}
    <a href="{{ request.GET.rando_url }}/{{ event.rando_url }}">{{ event.name }}</a>
{% endfor %}
{% for dive in dives %}
    <a href="{{ request.GET.rando_url }}/{{ dive.rando_url }}">{{ dive.name }}</a>
{% endfor %}
</body>
</html>
