{% extends "mapentity/mapentity_detail_attributes.html" %}
{% load i18n mapentity_tags %}

{% block attributes %}
    <h3>{% trans "Attributes" %}</h3>

    <table class="table-striped table-bordered table">
         <tr>
            <th>{{ poi|verbose:"type" }}</th>
            <td>{{ poi.type }}</td>
        </tr>
        <tr>
            <th>{{ poi|verbose:"name" }}</th>
            <td>{{ poi.name }}</td>
        </tr>
        <tr>
            <th>{{ poi|verbose:"description" }}</th>
            <td>{% if poi.description %}{{ poi.description|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}</td>
        </tr>
        <tr>
            <th>{% trans "Thumbnail" %}</th>
            <td><img src="{{ poi.thumbnail.url }}"></td>
        </tr>
        <tr>
            <th>{% trans "External id" %}</th>
            <td>{{ poi.eid }}</td>
        </tr>

        {% include "altimetry/elevationinfo_fragment.html" %}
        {% include "common/publication_info_fragment.html" %}
        {% include "mapentity/trackinfo_fragment.html" %}
    </table>

    {{ block.super }}
{% endblock attributes %}