{% load i18n mapentity_tags %}

<img src="{% media_static_fallback "upload/logo-header.png" "images/logo-header.png" %}">

<h2>{{ object.name }}</h2>

<h3>{{ object.districts.0 }}</h3>
<h3>{{ object.cities.0 }}</h3>

{% if object.picture_print %}
  <img src="{{ MEDIA_URL}}/{{ object.picture_print.name }}">
{% endif %}

<table>
	<tr>
		<th>
			{% trans "Type" %}
		</th>
		<td>
			{{ object.type }}
		</td>
	</tr>
	<tr>
		<th>
			{% trans "Elevation" %}
		</th>
		<td>
			{{ object.min_elevation }} m
		</td>
	</tr>
</table>

<p>{{ object.description|safe }}</p>

{% if object.treks.count > 0 %}
	<h4>{% trans "Treks" %}</h4>
	<table>
		{% for other in object.treks.all %}
			<tr>
				<td>{{ other.name }}</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}

<img src="{{ map_url }}" style="margin-left: auto; margin-right: auto; width: 100%; height: auto; ">

{% if object.pictures.0.legend or object.pictures.0.author %}
	<p>{% trans "Attribution" %} : {{ object.pictures.0.legend }} ({{ object.pictures.0.author }})</p>
{% endif %}

<a href="http://geotrek.fr">{% trans "Powered by http://geotrek.fr" %}</a>
