{% extends "mapentity/mapentity_detail_attributes.html" %}
{% load i18n mapentity_tags %}

{% block attributes %}

    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ service|verbose:"structure" }}</th>
            <td>{{ service.structure }}</td>
        </tr>
         <tr>
            <th>{{ service|verbose:"type" }}</th>
            <td>{{ service.type }}</td>
        </tr>
    </table>
    {% include "altimetry/elevationinfo_fragment.html" %}
    {% include "common/fragments/provider_eid.html" %}
    {% include "common/fragments/trackinfo.html" %}
    {{ block.super }}
{% endblock attributes %}