{% extends "mapentity/base.html" %}
{% load static crispy_forms_tags %}
{% load i18n %}

{% block extrahead %}
	<script type="text/javascript">
		var last_launched_tasked_id = null;	
	
		function enable_sync_button() {
			$('#submit-id-sync-web').attr('disabled', false);
			$('#submit-id-sync-web').val('{% trans "Launch Sync" %}');			
		}
		
		function disable_sync_button(init) {
			$('#submit-id-sync-web').attr('disabled', true);
			if (init==true){
				$('#submit-id-sync-web').val('{% trans "Sync verifications" %}');
			} else {
				$('#submit-id-sync-web').val('{% trans "Sync in progress" %}');
			}
		}
	
		function get_sync_infos() {
			$.get("{% url 'trekking:sync_randos_state' %}",
			      function(response) {

			    	  // test if sync_rando run
			    	  var has_progress = false;
			    	  
			    	  // test in each result / must be one
			    	  $.each(response, function(index) {
			    		  
			    	      if (this.status == 'PROGRESS'){
			    	    	  
			    	    	  if(last_launched_tasked_id == null){
			    	    		  last_launched_tasked_id = this.id;
			    	    	  }
			    	    	  
			    	    	  has_progress = true;
			    	    	  disable_sync_button(false);
			    	    	  $('#progress-value').show();
			    	    	  
			    	    	  if (this.result.current) {
			    	    		  $("#progress-value").css("width", this.result.current+'%');
			    	    		  
			    	    		  if (this.result.current == 100){
			    	    			  $("#progress-value").parent().removeClass("active");
			    	    			  $("#progress-value").addClass('bar-success');
			    	    		  }
			    	    	  }
			    	    	  if (this.result.infos) {
			    	    		  $("#progress-text").text(this.result.infos); 
			    	    	  }
			    	      }
			    	      else {
			    	    	  if (this.status == 'FAILURE' && last_launched_tasked_id == this.id){
			    	    		  // case of exception in task
			    	    		  $("#progress-text").text("{% trans 'Une erreur est survenue' %}");
			    	    		  $('#exception-message').text(this.result.exc_type + ' : ' + this.result.exc_message)
			    	    		  $("#progress-value").addClass('bar-danger');
			    	    		  
			    	    	  }
			    	      }
			    	  });
			    	  
			    	  if (!has_progress) {
			    		  enable_sync_button();
			    	  }
			      }
			);
		}
		
		$(function(){
			disable_sync_button(true);
			get_sync_infos();
			
			$('#form-sync').submit(function(evt) {
				
				evt.preventDefault();
				
				if(confirm("{% trans 'Are you sure you want to sync ?' %}")){
					$("#progress-value").css("width", '0%');
					$("#progress-text").text('');
					$("#progress-value").parent().addClass("active");
					$("#progress-value").removeClass('bar-success');
					$("#progress-value").removeClass('bar-danger');
					
				    $.post(
				        $(this).attr('action'), 
				        $(this).serialize()
			        );					
				}
				
				return false;
			});
			
			window.setInterval(function(){
				get_sync_infos();
			}, 500);
		});
	</script>
	<link rel="stylesheet" href="{% static 'trekking/css/sync_trek.css' %}" />
{% endblock extrahead %}

{% block toolbar %}
{% endblock toolbar %}

{% block mainpanel %}

	<div id="sync-div" class="span3 offset2">
	    <h3>{% trans "Trekking sync" %}</h3>
		<div class="progress progress-striped active">
		  <div id="progress-value" class="bar" style="width: 0%;"></div>
		  <span id="progress-text"></span>
		</div>
		{% block mainform %}
			{% crispy form form.helper %}
		{% endblock mainform %}
	</div>
	
	<div id="exception-message" style="display: none;">
	</div>
	
{% endblock mainpanel %}
