
@page {
	size: A4;/* 21 x 29.7 cm */
	@top-left {
		content: "";
	}
}

/* Map image */
#EntityScreenshot {
	margin-left: auto;
	margin-right: auto;
	/* keep ratio of 14.1(h) / 11(w) as it is the default in geotrek */
	width: 21cm;
	height: 16.4cm;
}
