{% extends "common/common_detail.html" %}
{% load i18n l10n static thumbnail geotrek_tags mapentity_tags %}

{% block download %}
    {{ block.super }}
    <a class="dropdown-item" href="{% url 'trekking:trek_printable' LANGUAGE_CODE object.pk object.slug %}" title="{% trans "Public print" %}" target="_blank">
        <i class="bi bi-file-pdf text-danger"></i> {% trans "Print" %}
    </a>
    <a class="dropdown-item" href="{% url 'trekking:trek_booklet_printable' LANGUAGE_CODE object.pk object.slug %}" title="{% trans "Public print booklet" %}" target="_blank">
        <i class="bi bi-file-pdf text-danger"></i> {% trans "Print booklet" %}
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'trekking:trek_gpx_detail' LANGUAGE_CODE object.pk object.slug %}"><img src="{% static "paperclip/fileicons/gpx.png" %}"/> {% trans "GPX" %}</a>
    <a class="dropdown-item" href="{% url 'trekking:trek_kml_detail' LANGUAGE_CODE object.pk object.slug %}"><img src="{% static "paperclip/fileicons/kml.png" %}"/> {% trans "KML" %}</a>
{% endblock download %}

{% block attachments_extra_tab_nav %}
    {% with attachments_count=object.attachments.count|add:object.attachments_accessibility.count|add:object.view_points.count %}
        <li class="nav-item">
        <a id="tab-attachments" class="nav-link" href="#attachments" data-toggle="tab"><i class="bi bi-file-earmark"></i>
            <span class="d-none d-sm-inline">{% trans "Attached files" %} ({{ attachments_count }})</span></a>
        </li>
    {% endwith %%}
{% endblock %}

{% block attachmentspanel %}
    {% include "trekking/ratio_info_fragment.html" %}
    {{ block.super }}
    {% is_photos_accessibilities_enabled as is_photos_accessibilities_enabled %}
    {% if is_photos_accessibilities_enabled %}
        <br>
        <br>
        {% include 'common/attachment_accessibility_list.html' %}
    {% endif %}
    {% are_hdviews_enabled as are_hdviews_enabled %}
    {% if are_hdviews_enabled %}
        <br>
        <br>
        {% include "common/hdviewpoint_detail_fragment.html" %}
    {% endif %}
{% endblock attachmentspanel %}

{% block detailspanel %}
    {% include "common/publishable_completeness_fragment.html" %}
    {{ block.super }}
{% endblock detailspanel %}

{% block mappanel %}
    {{ block.super }}
    {% include "altimetry/altimetric_profile_fragment.html" with profile_url="trekking:trek_profile_svg" %}
{% endblock mappanel %}

{% block extrabody %}
    {{ block.super }}
{#    <script src="{% static "trekking/poilayer.js" %}"></script>#}
{#    <script src="{% static "trekking/servicelayer.js" %}"></script>#}
{#    <script src="{% static "trekking/signagelayer.js" %}"></script>#}
{#    <script src="{% static "trekking/infrastructurelayer.js" %}"></script>#}
{#    <script type="text/javascript">#}
{#        $(window).on('detailmap:ready', function (e, data) {#}
{#            var map = data.map;#}
{##}
{#            //#}
{#            // Parking#}
{#            {% if object.parking_location %}#}
{#                var parkingIcon = L.icon({#}
{#                    iconUrl: "{% static "trekking/parking.png" %}",#}
{#                    iconSize: [{{ view.icon_sizes.parking }}, {{ view.icon_sizes.parking }}],#}
{#                    iconAnchor: [{{ view.icon_sizes.parking }}/2, {{ view.icon_sizes.parking }}/2],#}
{#                });#}
{#                var point = {{object.parking_location.geojson|safe}};#}
{#                var location = point.coordinates.reverse();#}
{#                L.marker(location, {icon: parkingIcon})#}
{#                 .bindPopup("{{ object.advised_parking|default:_("None") }}")#}
{#                 .addTo(map);#}
{##}
{#                // Make sure parking icon is visible on the map#}
{#                var bounds = map.getBounds();#}
{#                bounds.extend(location);#}
{#                map.fitBounds(bounds);#}
{#            {% endif %}#}
{##}
{#            //#}
{#            // Trek POIs layer#}
{#            $.getJSON('{% url 'trekking:trek_poi_geojson' LANGUAGE_CODE object.pk %}?fields=api_geom,id,name,type', function (data) {#}
{#                var pois = new POILayer(data, {#}
{#                    iconSize: {{ view.icon_sizes.POI }}#}
{#                });#}
{##}
{#                var poiUrl = "{% url 'trekking:poi_detail' 0 %}";#}
{#                pois.eachLayer(function (layer) {#}
{#                    layer.on('dblclick', function (e) {#}
{#                        window.location = poiUrl.replace('0', layer.properties.pk);#}
{#                    });#}
{#                });#}
{#                map.layerscontrol.addOverlay(pois, tr('POIs'), tr('Objects'));#}
{#                map.addLayer(pois);#}
{##}
{#                pois.showEnumeration();#}
{#                $('.map-panel').addClass('poi_enum_loaded');#}
{#            });#}
{##}
{#            //#}
{#            // Trek services layer#}
{#            $.getJSON('{% url 'trekking:trek_service_geojson' LANGUAGE_CODE object.pk %}', function (data) {#}
{#                var services = new ServiceLayer(data, {#}
{#                    iconSize: {{ view.icon_sizes.service }}#}
{#                });#}
{##}
{#                var serviceUrl = "{% url 'trekking:service_detail' 0 %}";#}
{#                services.eachLayer(function (layer) {#}
{#                    layer.on('dblclick', function (e) {#}
{#                        window.location = serviceUrl.replace('0', layer.properties.pk);#}
{#                    });#}
{#                });#}
{#                map.layerscontrol.addOverlay(services, tr('Services'), tr('Objects'));#}
{#                map.addLayer(services);#}
{#                $('.map-panel').addClass('services_loaded');#}
{#            });#}
{##}
{#            //#}
{#            // Trek signage layer#}
{#            $.getJSON('{% url 'signage:trek_signage_geojson' LANGUAGE_CODE object.pk %}', function (data) {#}
{#                var signages = new SignagesLayer(data, {#}
{#                    iconSize: {{ view.icon_sizes.signage }}#}
{#                });#}
{##}
{#                var signageUrl = "{% url 'signage:signage_detail' 0 %}";#}
{#                signages.eachLayer(function (layer) {#}
{#                    layer.on('dblclick', function (e) {#}
{#                        window.location = signageUrl.replace('0', layer.properties.pk);#}
{#                    });#}
{#                });#}
{#                map.layerscontrol.addOverlay(signages, tr('Signages'), tr('Objects'));#}
{#                map.addLayer(signages);#}
{#                $('.map-panel').addClass('signages_loaded');#}
{#            });#}
{##}
{#            //#}
{#            // Trek infrastructure layer#}
{#            $.getJSON('{% url 'infrastructure:trek_infrastructure_geojson' LANGUAGE_CODE object.pk %}', function (data) {#}
{#                var infrastructures = new InfrastructuresLayer(data, {#}
{#                    iconSize: {{ view.icon_sizes.infrastructure }}#}
{#                });#}
{##}
{#                var infrastructureUrl = "{% url 'infrastructure:infrastructure_detail' 0 %}";#}
{#                infrastructures.eachLayer(function (layer) {#}
{#                    layer.on('dblclick', function (e) {#}
{#                        window.location = infrastructureUrl.replace('0', layer.properties.pk);#}
{#                    });#}
{#                });#}
{#                map.layerscontrol.addOverlay(infrastructures, tr('Infrastructures'), tr('Objects'));#}
{#                map.addLayer(infrastructures);#}
{#                $('.map-panel').addClass('services_loaded');#}
{#            });#}
{##}
{#            //#}
{#            // Trek information desks layer#}
{#            $.getJSON('{% url 'tourism:trek_information_desk_geojson' LANGUAGE_CODE object.pk %}', function (data) {#}
{#                L.geoJson(data, {#}
{#                    pointToLayer: function (feature, latlng) {#}
{#                        var infoDeskIcon = L.icon({#}
{#                            iconUrl: feature.properties.type.pictogram,#}
{#                            iconSize: [{{ view.icon_sizes.information_desk }}, {{ view.icon_sizes.information_desk }}],#}
{#                            iconAnchor: [{{ view.icon_sizes.information_desk }}/2, {{ view.icon_sizes.information_desk }}/2],#}
{#                        });#}
{#                        return L.marker(latlng, feature.properties.type.pictogram ? {icon: infoDeskIcon} : {});#}
{#                    }#}
{#                }).addTo(map);#}
{#                $('.map-panel').addClass('info_desks_loaded');#}
{#            });#}
{##}
{#            //#}
{#            // Points of reference#}
{#            (function (map) {#}
{#                var data = {{ object.points_reference.geojson|safe|default:'null' }};#}
{#                L.geoJson(data, {#}
{#                    pointToLayer: (function () {#}
{#                        var counter = 1;#}
{#                        return function (featureData, latlng) {#}
{#                            var icon = L.divIcon({html: counter++,#}
{#                                                  className: 'point-reference'});#}
{#                            return L.marker(latlng, {#}
{#                                clickable: false,#}
{#                                icon: icon,#}
{#                                zIndexOffset: 9999#}
{#                            }).addTo(map);#}
{#                        };#}
{#                    })()#}
{#                }).addTo(map);#}
{#                $('.map-panel').addClass('ref_points_loaded');#}
{#            })(map);#}
{##}
{#        });#}
{#    </script>#}

    <script type="text/javascript">
        // Supposons que 'map' est votre instance MapLibre GL JS déjà initialisée
        window.addEventListener('entity:map:detail', function (e) {
            const map = e.detail.map.getMap();

            // Fonction utilitaire pour créer des markers HTML personnalisés
            function createCustomMarker(feature, iconSize, className, showPopup = false) {
                const el = document.createElement('div');
                el.className = `custom-marker ${className}`;
                el.style.width = `${iconSize}px`;
                el.style.height = `${iconSize}px`;


                const img = document.createElement('img');
                img.src = feature.properties.type.pictogram;
                img.style.width = '100%';
                img.style.height = '100%';

                // TODO : switch case className
                img.onerror = function () {
                    if (className === 'poi-marker') {
                        this.src = "{% static 'trekking/img/default-poi.png' %}";
                    } else if (className === 'service-marker') {
                        this.src = "{% static 'trekking/img/default-service.png' %}";
                    } else if (className === 'signage-marker') {
                        this.src = "{% static 'trekking/img/default-signage.png' %}";
                    } else if (className === 'infrastructure-marker') {
                        this.src = "{% static 'trekking/img/default-infra.png' %}";
                    } else {
                        this.src = "{% static 'trekking/img/default-marker.png' %}";
                    }
                };

                // Définir le title/tooltip selon le type
                let title = '';
                 // TODO : switch case className
                if (className === 'poi-marker') {
                    const category = feature.properties.type.label;
                    const name = feature.properties.name;
                    title = name.indexOf(category) === 0 ? name : `${category}: ${name}`;
                } else if (className === 'service-marker') {
                    title = feature.properties.type.name;
                } else if (className === 'infrastructure-marker' || className === 'signage-marker') {
                    const category = feature.properties.type.label;
                    const name = feature.properties.name;
                    title = name.indexOf(category) === 0 ? name : `${category}: ${name}`;
                }

                img.title = title;
                el.appendChild(img);

                // Ajouter un popup pour les POIs avec thumbnail
                if (showPopup && feature.properties.thumbnail) {
                    const popup = new maplibregl.Popup({ offset: 25 })
                        .setHTML(`<img src="${feature.properties.thumbnail}" width="110" height="110">`);

                    el.addEventListener('click', () => {
                        popup.setLngLat(feature.geometry.coordinates).addTo(map);
                    });
                }

                return el;
            }

            // Fonction pour ajouter une couche de markers
            function addMarkerLayer(url, layerName, displayName, groupName, iconSize, className, doubleClickUrl) {
                $.getJSON(url, function (data) {
                    console.log(`${layerName} data:`, data);
                    // Ajouter les markers individuellement
                    data.features.forEach(feature => {
                        const marker = new maplibregl.Marker({
                            element: createCustomMarker(feature, iconSize, className, className === 'poi-marker')
                        })
                        .setLngLat(feature.geometry.coordinates)
                        .addTo(map);

                        // aucune interaction par défaut autorisée sur la page détail
                        {#if (doubleClickUrl) {#}
                        {#    marker.getElement().addEventListener('dblclick', function(e) {#}
                        {#        e.stopPropagation();#}
                        {#        window.location = doubleClickUrl.replace('0', feature.properties.pk || feature.properties.id);#}
                        {#    });#}
                        {# } #}
                    });

                    // Ajouter une classe CSS pour indiquer que la couche est chargée
                    $('.map-panel').addClass(`${layerName}_loaded`);
                });
            }

            //
            // Parking
            {% if object.parking_location %}
                const parkingEl = document.createElement('div');
                parkingEl.className = 'parking-marker';
                parkingEl.style.width = '{{ view.icon_sizes.parking }}px';
                parkingEl.style.height = '{{ view.icon_sizes.parking }}px';
                parkingEl.style.backgroundImage = 'url("{% static "trekking/img/parking.png" %}")';
                parkingEl.style.backgroundSize = 'contain';
                parkingEl.style.backgroundRepeat = 'no-repeat';

                const point = {{object.parking_location.geojson|safe}};
                const location = [point.coordinates[0], point.coordinates[1]]; // Pas besoin de reverse avec MapLibre

                const parkingMarker = new maplibregl.Marker({ element: parkingEl })
                    .setLngLat(location)
                    .addTo(map);

                // Ajouter popup
                const parkingPopup = new maplibregl.Popup({ offset: 25 })
                    .setHTML("{{ object.advised_parking|default:_("None") }}");

                parkingEl.addEventListener('click', () => {
                    parkingPopup.setLngLat(location).addTo(map);
                });

                // Ajuster les bounds pour inclure le parking
                const bounds = map.getBounds();
                bounds.extend(location);
                map.fitBounds(bounds);
            {% endif %}

            //
            // Trek POIs layer
            addMarkerLayer(
                '{% url 'trekking:trek_poi_geojson' LANGUAGE_CODE object.pk %}?fields=api_geom,id,name,type',
                'poi',
                tr('POIs'),
                tr('Objects'),
                {{ view.icon_sizes.POI }},
                'poi-marker',
                "{% url 'trekking:poi_detail' 0 %}"
            );

            // Fonction pour afficher l'énumération des POIs (équivalent de showEnumeration)
            setTimeout(() => {
                $('.map-panel').addClass('poi_enum_loaded');
            }, 1000);

            //
            // Trek services layer
            addMarkerLayer(
                '{% url 'trekking:trek_service_geojson' LANGUAGE_CODE object.pk %}',
                'services',
                tr('Services'),
                tr('Objects'),
                {{ view.icon_sizes.service }},
                'service-marker',
                "{% url 'trekking:service_detail' 0 %}"
            );

            //
            // Trek signage layer
            addMarkerLayer(
                '{% url 'signage:trek_signage_geojson' LANGUAGE_CODE object.pk %}',
                'signages',
                tr('Signages'),
                tr('Objects'),
                {{ view.icon_sizes.signage }},
                'signage-marker',
                "{% url 'signage:signage_detail' 0 %}"
            );

            //
            // Trek infrastructure layer
            addMarkerLayer(
                '{% url 'infrastructure:trek_infrastructure_geojson' LANGUAGE_CODE object.pk %}',
                'infrastructures',
                tr('Infrastructures'),
                tr('Objects'),
                {{ view.icon_sizes.infrastructure }},
                'infrastructure-marker',
                "{% url 'infrastructure:infrastructure_detail' 0 %}"
            );

            //
            // Trek information desks layer
            $.getJSON('{% url 'tourism:trek_information_desk_geojson' LANGUAGE_CODE object.pk %}', function (data) {
                data.features.forEach(feature => {
                    console.log('Information Desk Feature:', feature);
                    if (feature.properties.type.pictogram) {
                        const infoDeskEl = document.createElement('div');
                        infoDeskEl.className = 'info-desk-marker';
                        infoDeskEl.style.width = '{{ view.icon_sizes.information_desk }}px';
                        infoDeskEl.style.height = '{{ view.icon_sizes.information_desk }}px';

                        const img = document.createElement('img');
                        img.src = feature.properties.type.pictogram;
                        img.style.width = '100%';
                        img.style.height = '100%';
                        infoDeskEl.appendChild(img);

                        new maplibregl.Marker({ element: infoDeskEl })
                            .setLngLat(feature.geometry.coordinates)
                            .addTo(map);
                    }
                });
                $('.map-panel').addClass('info_desks_loaded');
            });

            //
            // Points of reference
            (function (map) {
                const data = {{ object.points_reference.geojson|safe|default:'null' }};
                if (data && data.features) {
                    let counter = 1;
                    data.features.forEach(feature => {
                        const refPointEl = document.createElement('div');
                        refPointEl.className = 'point-reference';
                        refPointEl.textContent = counter++;
                        refPointEl.style.width = '30px';
                        refPointEl.style.height = '30px';
                        refPointEl.style.backgroundColor = 'white';
                        refPointEl.style.border = '2px solid #333';
                        refPointEl.style.borderRadius = '50%';
                        refPointEl.style.display = 'flex';
                        refPointEl.style.alignItems = 'center';
                        refPointEl.style.justifyContent = 'center';
                        refPointEl.style.fontWeight = 'bold';
                        refPointEl.style.fontSize = '12px';
                        refPointEl.style.zIndex = '9999';

                        new maplibregl.Marker({
                            element: refPointEl,
                            anchor: 'center'
                        })
                        .setLngLat(feature.geometry.coordinates)
                        .addTo(map);
                    });
                }
                $('.map-panel').addClass('ref_points_loaded');
            })(map);

        });
    </script>
{% endblock extrabody %}