<!DOCTYPE html>
{% load i18n geotrek_tags mapentity_tags static %}

{% settings_value "PRIMARY_COLOR" as primary_color %}

<html lang="en">
  <head>
    {% block style %}
      <style type="text/css">
        {% include template_css %}

        .intro-left .teaser,
        .meta-items-title,
        .advice-title,
        .how_to_come-title,
        .accessibility-title,
        .gear-title,
        .elevation-title,
        .half-block h2,
        .block h2,
        .information-desks h2 {
          color: {{ primary_color }};
        }
        /* TODO: Remove when the map generation is fixed */
        .full-map img {
            max-height: 20cm;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
      </style>
    {% endblock style %}
  </head>
  <body>
    {% block body %}
      <header>
        <div class="logo">
          {% block logo %}
            <img src="file://{% media_static_fallback_path "upload/logo-header.png" "images/logo-header.png" %}" alt="">
          {% endblock %}
        </div>
        <div class="url">
          {% block url %}
            <div class="main">rando.geotrek.fr</div>
            <div class="geo">{% trans "Powered by geotrek.fr" %}</div>
          {% endblock url %}
        </div>
      </header>
      <div class="gray">
        <div>
          {% if object.practice and object.practice.pictogram %}
            <div class="main-icon category-T{{ object.practice.pk }}" {% block picto_attr %}{% endblock picto_attr %}>
              <img src="file://{{ object.practice.pictogram.path }}" alt="">
            </div>
          {% endif %}
          <div class="main-title">
            <h1>{{ object.name }}</h1>
            <h2>
              {% block main_title_h2 %}
                {{ object.districts.0.name }}{% if object.districts and object.city_departure %} - {% endif %}{{ object.city_departure }}
              {% endblock %}
            </h2>
          </div>
        </div>
        <hr>
        <div class="main-picture-map">
          {% if object.picture_print %}
            <div class="main-picture" style="background-image: url('file://{{ object.picture_print.path }}');"></div>
            <div class="main-map" style="background-image: url('file://{{ map_path }}');"></div>

          {% else %}
            <div class="main-picture" style="background-image: url('file://{% media_static_fallback_path "upload/placeholder.png" "images/placeholder.png" %}');"></div><div class="main-map" style="background-image: url('file://{{ map_path }}');"></div>
          {% endif %}
        </div>
        {% if object.picture_print.legend or object.picture_print.author %}
          <legend>
            {{ object.picture_print.legend }}
            {% if object.picture_print.author %}({{ object.picture_print.author }}){% endif %}
          </legend>
        {% endif %}
      </div>
      <div class="intro">
        <div class="intro-left">
          {% if object.description_teaser %}
            <section class="teaser text-content">
              {{ object.description_teaser|safe }}
            </section>
          {% endif %}
          {% if object.ambiance %}
            <section class="ambiance text-content">
              {{ object.ambiance|safe }}
            </section>
          {% endif %}
        </div>
        <div class="meta-items">
          <div class="meta-items-title">{% trans "Useful information" %}</div>
          <section class="meta-items-list">
            {% if object.practice %}
              <span class="meta-item">
                <span class="meta-item-label">{% trans "Practice" %}</span>
                <span class="meta-item-value">{{ object.practice }}</span>
              </span>
            {% endif %}
            {% if object.duration_pretty %}
              <span class="meta-item">
                <span class="meta-item-label">{% trans "Duration" %}</span>
                <span class="meta-item-value">{{ object.duration_pretty }}</span>
              </span>
            {% endif %}
            {% if object.length_kilometer %}
              <span class="meta-item">
                <span class="meta-item-label">{% trans "Length" %}</span>
                <span class="meta-item-value">{{ object.length_kilometer }} km</span>
              </span>
            {% endif %}
            {% if object.ascent %}
              <span class="meta-item">
                <span class="meta-item-label">{% trans "Trek ascent" %}</span>
                <span class="meta-item-value">{{ object.ascent }} m</span>
              </span>
            {% endif %}
            {% if object.difficulty %}
              <span class="meta-item">
                <span class="meta-item-label">{% trans "Difficulty" %}</span>
                <span class="meta-item-value">{{ object.difficulty }}</span>
              </span>
            {% endif %}
            <div class="lists-ratings">
              {% if object.ratings.all %}
                <span class="meta-item">
                  <span class="meta-item-label">{% trans "Rating scale" %}</span>
                  {% for rating in object.ratings.all %}<span class="meta-item-value">{{ rating.scale.name }} : {{ rating.name }}</span>{% endfor %}
                </span>
              {% endif %}
            </div>
            {% if object.route %}
              <span class="meta-item">
                <span class="meta-item-label">{% trans "Type" %}</span>
                <span class="meta-item-value">{{ object.route }}</span>
              </span>
            {% endif %}
            <div class="lists">
              {% if object.themes.all %}
                <span class="meta-item">
                  <span class="meta-item-label">{% trans "Themes" %}</span>
                  {% for theme in object.themes.all %}<span class="meta-item-value">{{ theme.label }}</span>{% endfor %}
                </span>
              {% endif %}
              {% if object.accessibilities.all %}
                <span class="meta-item">
                  <span class="meta-item-label">{% trans "Accessibility" %}</span>
                  {% for accessibility in object.accessibilities.all %}<span class="meta-item-value">{{ accessibility.name }}</span>{% endfor %}
                </span>
              {% endif %}
            </div>
          </section>
        </div>
      </div>
      {% block description %}
        {% if object.description or object.networks.all or object.departure or object.arrival %}
          <div class="inner-title">
            <h2>{% trans "Trek" %}</h2>
          </div>
          <div class="gray top-trek">
            {% if object.departure or object.arrival or object.networks.all or object.cities.all %}
              <div class="text-content departure-arrival">
                <ul>
                  {% if object.departure %}<li><b>{% trans "Departure" %}</b> : {{ object.departure }}</li>{% endif %}
                  {% if object.arrival %}<li><b>{% trans "Arrival" %}</b> : {{ object.arrival }}</li>{% endif %}
                  {% if object.networks.all %}
                    <li>
                      <b>{% trans "Markings" %}</b> :
                      {% for network in object.networks.all %}
                        {% if network.pictogram %}<span class="network-icon"><img src="file://{{ network.pictogram.path }}"></span>{% endif %}
                        {{ network.network }}
                      {% endfor %}
                    </li>
                  {% endif %}
                  {% if object.published_cities %}
                    <li>
                        <b>{% trans "Cities" %}</b> :
                        {% for city in object.published_cities %}
                          {{ forloop.counter }}. {{ city.name }}<br/>
                        {% endfor %}
                    </li>
                  {% endif %}
                </ul>
              </div>
            {% endif %}
            {% block elevation %}
              {% if object.get_elevation_chart_url %}
                <div class="elevation">
                  <div class="elevation-title">{% trans "Altimetric profile" %}</div>
                  <img class="elevation-chart" src="file://{{ object.get_elevation_chart_path }}">
                  <div class="elevation-meta">
                    <span class="elevation-meta-item"><span class="item-label">{% trans "Min elevation" %}</span> <span class="item-value">{{ object.min_elevation }} m</span></span>
                    <span class="elevation-meta-item"><span class="item-label">{% trans "Max elevation" %}</span> <span class="item-value">{{ object.max_elevation }} m</span></span>
                  </div>
                </div>
              {% endif %}
            {% endblock elevation %}
            <div style="clear:both; overflow: hidden;"></div>
          </div>
          <section class="description">
            <div class="text-content">{{ object.description|safe }}</div>
          </section>
          {% if object.children %}
            <div class="gray text-content departure-arrival">
              <strong>{% trans "Stages" %} :</strong><br/><br/>
              <ul>
                {% for child in object.children %}
                  <li><strong>{{ forloop.counter }}.</strong> {{ child.name }}<br/>&nbsp;&nbsp;&nbsp;&nbsp;{{ child.length_kilometer }} km / {{ child.ascent }} m D+ / {{ child.duration_pretty }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endif %}
      {% endblock description %}
      <div class="inner-title">
        <h2>{% trans "On your path..." %}</h2>
      </div>
      <div class="full-map">
        <img src="file://{{ map_path }}" alt="">
      </div>
      {% block poisSummary %}
        <section class="pois-summary">
          {% if pois %}
            {% for poi in pois %}
              <div class="poi">
                  {% if poi.type.pictogram %}<span class="icon"><img src="file://{{ poi.type.pictogram.path }}"></span>{% endif %}
                  {{ poi.name }} ({{ poi.letter }})
              </div>
            {% endfor %}
          {% endif %}
        </section>
      {% endblock poisSummary %}
      <div class="inner-title">
        <h2>{% trans "All useful information" %}</h2>
      </div>
      {% for label in object.labels.all %}
        <div class="advice">
          <div class="advice-title">
            <div class="advice-icon">
              {% if label.pictogram %}
                <img src="file://{{ label.pictogram.path }}">
              {% else %}
                <img src="file://{{ STATIC_ROOT }}/trekking/information.svg">
              {% endif %}
            </div>
            {{ label.name|safe }}
          </div>
          <div class="advice-content">{{ label.advice|safe }}</div>
        </div>
      {% endfor %}
      {% if object.advice %}
        <div class="advice">
          <div class="advice-title">
            <div class="advice-icon">
              <img src="file://{{ STATIC_ROOT }}/trekking/advice.svg">
            </div>
            {% trans "Advices" %}
          </div>
          <div class="advice-content">{{ object.advice | safe }}</div>
        </div>
      {% endif %}
      {% if object.gear %}
        <div class="gear">
          <div class="gear-title">
            <div class="gear-icon">
              <img src="file://{{ STATIC_ROOT }}/trekking/gear.svg">
            </div>
            {% trans "Gear" %}
          </div>
          <div class="gear-content">{{ object.gear | safe }}</div>
        </div>
      {% endif %}
      {% block how_to_come %}
        {% if object.public_transport or object.access or object.advised_parking %}
          <div class="how_to_come">
            <div class="how_to_come-title">
              {% trans "How to come ?" %}
            </div>
            {% block transport %}
              {% if object.public_transport %}
                <h4>{% trans "Transports" %}</h4>
                <div class="transport-content">{{ object.public_transport|safe }}</div>
              {% endif %}
            {% endblock transport %}
            {% block access %}
              {% if object.access %}
                <h4>{% trans "Access" %}</h4>
                <div class="access-content">{{ object.access|safe }}</div>
              {% endif %}
            {% endblock access %}
            {% block parking %}
              {% if object.advised_parking %}
                <h4>{% trans "Advised parking" %}</h4>
                <div class="advised_parking-content">{{ object.advised_parking|safe }}</div>
              {% endif %}
            {% endblock parking %}
          </div>
        {% endif %}
      {% endblock how_to_come %}
      {% block accessibility %}
        {% if object.accessibility_infrastructure or object.accessibilities.all or object.accessibility_level or object.accessibility_slope or object.accessibility_width or object.accessibility_signage or object.accessibility_covering or object.accessibility_exposure or object.accessibility_advice %}
          <div class="accessibility">
            <div class="accessibility-title">
              {% trans "Accessibility" %}
            </div>
            {% block accessibility_infrastructure %}
              {% if object.accessibility_infrastructure %}
                  <div class="accessibility_infrastructure-content">{{ object.accessibility_infrastructure|safe }}</div>
              {% endif %}
            {% endblock accessibility_infrastructure %}
            {% block accessibilities %}
              {% if object.accessibilities.all %}
                <div class="accessibility-accessibilities">
                  {% for accessibility in object.accessibilities.all %}{% if accessibility.pictogram %}<img class="icon-accessibility" src="file://{{ accessibility.pictogram.path }}">{% endif %}<p>{{ accessibility.name }}</p>{% endfor %}
                </div>
              {% endif %}
            {% endblock accessibilities %}
            {% block accessibility_level %}
              {% if object.accessibility_level %}
                <div class="accessibility-level">
                  <strong>{% trans "Accessibility level" %} :</strong>&nbsp;{{ object.accessibility_level.name }}
                </div>
              {% endif %}
            {% endblock accessibility_level %}

            {% block accessibility_slope %}
              {% if object.accessibility_slope %}
                <h4>{% trans "Slope" %}</h4>
                <div class="accessibility_slope-content">{{ object.accessibility_slope|safe }}</div>
              {% endif %}
            {% endblock accessibility_slope %}
            {% block accessibility_width %}
              {% if object.accessibility_width %}
                <h4>{% trans "Width" %}</h4>
                <div class="accessibility_width-content">{{ object.accessibility_width|safe }}</div>
              {% endif %}
            {% endblock accessibility_width %}
            {% block accessibility_signage %}
              {% if object.accessibility_signage %}
                <h4>{% trans "Signage" %}</h4>
                <div class="accessibility_signage-content">{{ object.accessibility_signage|safe }}</div>
              {% endif %}
            {% endblock accessibility_signage %}
            {% block accessibility_covering %}
              {% if object.accessibility_covering %}
                <h4>{% trans "Covering" %}</h4>
                <div class="accessibility_covering-content">{{ object.accessibility_covering|safe }}</div>
              {% endif %}
            {% endblock accessibility_covering %}
            {% block accessibility_exposure %}
              {% if object.accessibility_exposure %}
                <h4>{% trans "Exposure" %}</h4>
                <div class="accessibility_exposure-content">{{ object.accessibility_exposure|safe }}</div>
              {% endif %}
            {% endblock accessibility_exposure %}
            {% block accessibility_advice %}
              {% if object.accessibility_advice %}
                <h4>{% trans "Advice" %}</h4>
                <div class="accessibility_advice-content">{{ object.accessibility_advice|safe }}</div>
              {% endif %}
            {% endblock accessibility_advice %}
          </div>
        {% endif %}
      {% endblock accessibility %}
      {% block sensitive_areas %}
        {% if object.published_sensitive_areas %}
          <div class="inner-title">
            <h2>{% trans "Environmental sensitive areas" %}</h2>
          </div>
          <section class="block sensitive-areas">
            {% blocktrans %}
              Along your trek, you will go through sensitive areas related to the presence of a specific species or
              environment. In these areas, an appropriate behaviour allows to contribute to their preservation. For
              detailed information, specific forms are accessible for each area.
            {% endblocktrans %}
            {% for area in object.published_sensitive_areas %}
              <div class="text-content">
                {% if area.species.pictogram %}<img src="file://{{ area.species.pictogram.path }}">{% endif %}
                <h3>{{ area.name }}</h3>
                <p>{% trans "Sensitivity period:" %} {{ area.pretty_period }}</p>
                {% if area.contact %}<p>{% trans "Contact:" %} {{ area.contact|safe }}</p>{% endif %}
                <p>{{ area.description|safe }}</p>
                {% if area.species.url %}<p><a href="{{ area.specie.url }}">{{ area.specie.url }}</a></p>{% endif %}
              </div>
            {% endfor %}
          </section>
          <div style="clear: both"></div>
        {% endif %}
      {% endblock sensitive_areas %}
      {% block informationDesks %}
        {% if  object.information_desks.all %}
          <div class="gray">
              <section class="information-desks">
                <h2>
                  <div class="information-desks-icon">
                    <img src="file://{{ STATIC_ROOT}}/trekking/information.svg">
                  </div>
                  {% trans "Information desks" %}
                </h2>
                <ul class="desks">
                  {% for desk in object.information_desks.all %}
                    <li class="desk">
                      <div class="desk-text">
                        <div class="desk-name">{{ desk.name }}</div>
                        <div class="content">
                          {% if desk.street %}<div class="desk-address">{{ desk.street }}, {{ desk.postal_code }} {{ desk.municipality }}</div>{% endif %}
                          {% if desk.email %}<div class="desk-email"><a href="mailto:{{ desk.email }}">{{ desk.email }}</a></div>{% endif %}
                          {% if desk.phone %}<div class="desk-tel">Tel : {{ desk.phone }}</div>{% endif %}
                          {% if desk.website %}<div class="desk-website"><a href="{{ desk.website }}">{{ desk.website }}</a></div>{% endif %}
                          {% if desk.accessibility %}<div class="desk-accessibility">{% trans "Accessibility" %} : {{ desk.accessibility|safe }}</div>{% endif %}
                        </div>
                      </div>
                      {% if desk.thumbnail %}
                        <div class="desk-thumbnail"><img src="file://{{ desk.thumbnail.path }}"></div>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </section>
          </div>
        {% endif %}
      {% endblock informationDesks %}
      {% block source %}
          {% if object.source.all %}
            <section class="half-block source">
              <h2>{% trans "Source" %}</h2>
              {% for s in object.source.all %}
                <div class="source-content">
                  <div class="source-pictogram">
                    {% if s.pictogram %}<img src="file://{{ s.pictogram.path }}">{% endif %}
                  </div>
                  <div class="source-text">
                    <div class="source-name">
                      {{ s.name }}
                    </div>
                    <div class="source-website">
                      {% if s.website %}{{ s.website }}{% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </section>
          {% endif %}
      {% endblock source %}
      {% block poisDetails %}
        <section class="pois-details">
          {% if pois %}
            <div class="inner-title">
              <h2>{% trans "On your path..." %}</h2>
            </div>
            {% for poi in pois %}
              <div class="poi">
                <div class="thumbnail">
                  {% if poi.thumbnail %}
                    <img src="file://{{ poi.thumbnail.path }}">
                  {% endif %}
                </div>
                <div class="content with-pic">
                  <h3>
                    {% if poi.type.pictogram %}<span class="icon"><img src="file://{{ poi.type.pictogram.path }}"></span>{% endif %}
                    {{ poi.name }} ({{ poi.letter }})
                  </h3>
                  <div class="description">{{ poi.description|safe }}</div>
                  {% if poi.thumbnail and poi.thumbnail.author %}
                    <legend>{% trans "Attribution" %} : {{ poi.thumbnail.author }}</legend>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </section>
      {% endblock poisDetails %}
    {% endblock body %}
    {% block footer %}
      <div id="footer">
        <div class="text">{% now 'SHORT_DATE_FORMAT' %} &#8226; {{ object.name }}</div>
      </div>
    {% endblock footer %}
  </body>
</html>
