{% extends "mapentity/mapentity_form.html" %}

{% load i18n crispy_forms_tags staticfiles %}

{% block mainform %}

    <script type="text/javascript" src="{% static 'trekking/chosen.order.jquery.min.js' %}"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>

    <script type="text/javascript">
        $(function(){
            $("#id_children_trek").change(function(){
               $("#id_hidden_ordered_children").val($("#id_children_trek").getSelectionOrder().toString());
            });

            $('#id_children_trek_chosen').find('ul').sortable();
        });
    </script>

    <form id="mainform" action="{% if object.pk %}{{ object.get_update_url }}{% else %}{{ object.get_add_url }}{% endif %}" class="form-horizontal" method="POST">
        {% crispy form %}
        <fieldset class="formset">
            {{ relationship_formset.management_form }}
            {% for relationship_form in relationship_formset %}
                <div class="form-row inline controls controls-row {{ relationship_formset.prefix }}">
                {% crispy relationship_form %}
                </div>
            {% endfor %}
        </fieldset>
    </form>
{% endblock mainform %}


{% block extrabody %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "common/js/main.js" %}"></script>
    <script type="text/javascript">
        MapEntity.i18n['Add a point of reference'] = "{% trans "Add a point of reference" %}";
        MapEntity.i18n['Move points of reference'] = "{% trans "Move points of reference" %}";
        MapEntity.i18n['Delete a point of reference'] = "{% trans "Delete a point of reference" %}";
        MapEntity.i18n['Set the parking location'] = "{% trans "Set the parking location" %}";
        MapEntity.i18n['Move the parking location'] = "{% trans "Move the parking location" %}";
        MapEntity.i18n['Delete the parking location'] = "{% trans "Delete the parking location" %}";

        $(document).ready(function() {
            // TODO: do this with crispyforms !
            $("fieldset.formset").detach().appendTo('#mainform fieldset');

            $('.form-row.inline.{{ relationship_formset.prefix }}').formset({
                prefix: '{{ relationship_formset.prefix }}',
                keepFieldValues: "[name='csrfmiddlewaretoken']",
                addCssClass: 'btn btn-success add-row',
                deleteCssClass: 'delete-row',
                addText: '{% trans "Add relation" %}',
                deleteText: '{% trans "Remove" %}'
            });

            $('select[multiple]').chosen({
                no_results_text: "{% trans "No result" %}",
                placeholder_text_multiple: "{% trans "Choose value(s)" %}"
            });

            /* Show advanced tab if error in there */
            if ($('.tab-content #advanced .error').length > 0) {
                $('#tab-advanced').find('a').addClass('error').click();
            }

            // Tab changed
            $('.nav-tabs a').on('shown', function (e) {
                // Recompute scrollable panels
                $(window).trigger('resize');
            });

            // Insert service buttons
            $('.servicetype').click(function(e) {
                var url = $(this).data('url');
                var name = $(this).data('name');
                var id = $('div[id^="description_"]:not([id*="teaser"]):visible textarea').attr('id');
                tinymce.get(id).execCommand('mceInsertContent', false, '<img src="' + url + '" alt="' + name + '" />');
                return false;
            });

            $("#id_children_trek").setSelectionOrder($("#id_hidden_ordered_children").val().split(","));
        });

    </script>
{% endblock extrabody %}
