{% extends "mapentity/mapentity_detail_attributes.html" %}
{% load i18n trekking_tags mapentity_tags %}


{% block attributes %}

    <h3>{% trans "Attributes" %}</h3>
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ trek|verbose:"name" }}</th>
            <td>{{ trek.name }}</td>
        </tr>
        <tr>
            <th>{{ trek|verbose:"departure" }}</th>
            <td>{{ trek.departure }}</td>
        </tr>
        <tr>
            <th>{{ trek|verbose:"arrival" }}</th>
            <td>{{ trek.arrival }}</td>
        </tr>
        <tr>
            <th>{{ trek|verbose:"duration" }}</th>
            <td>{{ trek.duration|duration }}</td>
        </tr>
        {% include "altimetry/elevationinfo_fragment.html" %}
        <tr>
            <th>{{ trek|verbose:"route" }}</th>
            <td>{% if trek.route %}{{ trek.route|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ trek|verbose:"difficulty" }}</th>
            <td>{% if trek.difficulty %}{{ trek.difficulty|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ trek|verbose:"is_park_centered" }}</th>
            <td>{{ trek.is_park_centered|yesno:_("yes,no") }}</td>
        </tr>
        <tr>
            <th>{{ trek|verbose:"description_teaser" }}</th>
            <td>{% if trek.description_teaser %}{{ trek.description_teaser|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ trek|verbose:"description" }}</th>
            <td>{% if trek.description %}{{ trek.description|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ trek|verbose:"ambiance" }}</th>
            <td>{% if trek.ambiance %}{{ trek.ambiance|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ trek|verbose:"access" }}</th>
            <td>{% if trek.access %}{{ trek.access|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ trek|verbose:"advice" }}</th>
            <td>{% if trek.advice %}{{ trek.advice|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ trek|verbose:"advised_parking" }}</th>
            <td>{% if trek.advised_parking %}{{ trek.advised_parking }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ trek|verbose:"public_transport" }}</th>
            <td>{% if trek.public_transport %}{{ trek.public_transport|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ trek|verbose:"disabled_infrastructure" }}</th>
            <td>{% if trek.disabled_infrastructure %}{{ trek.disabled_infrastructure|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ trek|verbose:"themes" }}</th>
            <td>
                {% valuelist trek.themes.all %}
            </td>
        </tr>
        <tr>
            <th>{{ trek|verbose:"practice" }}</th>
            <td>{% if trek.practice %}{{ trek.practice|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ trek|verbose:"accessibilities" }}</th>
            <td>
                {% valuelist trek.accessibilities.all %}
            </td>
        </tr>
        <tr>
            <th>{{ trek|verbose:"networks" }}</th>
            <td>
                {% valuelist trek.networks.all %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Related treks" %}</th>
            <td>
                {% valuelist trek.relationships.all field='relation' %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Itinerancy" %}</th>
            <td>
                {% if trek.parents %}
                    {% trans "Child of:" %}<br/>
                    {% valuelist trek.parents field='name_display' %}
                {% endif %}
                {% if trek.children %}
                    {% trans "Parent of:" %}<br/>
                    {% valuelist trek.children field='name_display' %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ trek|verbose:"web_links" }}</th>
            <td>
                {% valuelist trek.web_links.all %}
            </td>
        </tr>
        <tr>
            <th>{% trans "POI types" %}</th>
            <td>
                {% valuelist trek.poi_types %}
            </td>
        </tr>
        <tr>
            <th>{{ trek|verbose:"information_desks" }}</th>
            <td>
                {% valuelist trek.information_desks.all %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Source" %}</th>
            <td>
                {% valuelist trek.source.all %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Portal" %}</th>
            <td>
                {% valuelist trek.portal.all %}
            </td>
        </tr>
        <tr>
            <th>{% trans "External id" %}</th>
            <td>{{ trek.eid }}</td>
        </tr>
        <tr>
            <th>{% trans "Second external id" %}</th>
            <td>{{ trek.eid2 }}</td>
        </tr>
        <tr>
            <th>{% trans "Thumbnail" %}</th>
            <td><img src="{{ trek.thumbnail.url }}"></td>
        </tr>

        {% include "common/publication_info_fragment.html" %}
        {% include "mapentity/trackinfo_fragment.html" %}
    </table>

    {{ block.super }}
{% endblock attributes %}
