{% load i18n geotrek_tags mapentity_tags %}
<h3>{% trans "Trekking" %}</h3>
<table class="table">
    {% if modelname != "trek" %}
    <tr>
        <th>{% trans "Treks" %}</th>
        <td>
            {% if perms.trekking.add_trek %}
            {% is_topology_model model as is_topology_model %}
            <p class="autohide"><a href="{% url 'trekking:trek_add' %}{% if is_topology_model %}?topology={{ object.pk}}{% endif %}" class="btn btn-mini btn-success">
                <i class="icon-plus icon-white"></i> {% trans "Add a new trek" %}</a>
            </p>
            {% endif %}

            {% valuelist object.treks field='name' %}
        </td>
    </tr>
    {% endif %}

    {% if modelname != "poi" %}
    <tr>
        <th>{% trans "POIs" %}</th>
        <td>
            {% if perms.trekking.add_poi %}
            <p class="autohide"><a href="{% url 'trekking:poi_add' %}" class="btn btn-mini btn-success">
                <i class="icon-plus icon-white"></i> {% trans "Add a new poi" %}</a>
            </p>
            {% endif %}

            {% if modelname == "trek" %}
                {# Because, in trek detail, we show enumeration on POI layer #}
                {% valuelist object.pois field='name' enumeration=True %}
            {% else %}
                {% valuelist object.pois field='name' %}
            {% endif %}
        </td>
    </tr>
    {% endif %}

    {% if modelname != "service" %}
    <tr>
        <th>{% trans "Services" %}</th>
        <td>
            {% if perms.trekking.add_service %}
            <p class="autohide"><a href="{% url 'trekking:service_add' %}" class="btn btn-mini btn-success">
                <i class="icon-plus icon-white"></i> {% trans "Add a new service" %}</a>
            </p>
            {% endif %}

            {% if modelname == "trek" %}
                {# Because, in trek detail, we show enumeration on service layer #}
                {% valuelist object.services field='name' enumeration=True %}
            {% else %}
                {% valuelist object.services field='name' %}
            {% endif %}
        </td>
    </tr>
    {% endif %}
</table>
