{% load i18n mapentity_tags staticfiles %}

{% block body %}
	<body>
	{% block style %}

		<style type="text/css">
			{% include template_css %}
		</style>
	{% endblock style %}

	{% block EntityDetail %}

 		{% include template_attributes %}

		{% block Map %}
			<h3>{% trans "Map" %}</h3>
			<img src="{{ map_url }}" id="EntityScreenshot">
		{% endblock Map %}

		{% block Altimetry %}
			{% if object.get_elevation_chart_url %}
			    <h3>Elevation</h3>
			    <img src="{{ object.get_elevation_chart_url }}" style="margin-left: auto; margin-right: auto; width: 100%; height: auto; ">
		    {% endif %}
		{% endblock Altimetry %}

	{% endblock EntityDetail %}
	</body>
{% endblock body %}
