{% load i18n static %}

<script type="text/javascript">
    MapEntity.i18n['Trekking'] = "{% trans "Trekking" %}";
    MapEntity.i18n['Services'] = "{% trans "Services" %}";
    MapEntity.i18n['POI'] = "{% trans "POI" %}";
    MapEntity.i18n['POIs'] = "{% trans "POIs" %}";
    MapEntity.i18n['Treks'] = "{% trans "Treks" %}";

    window.SETTINGS.urls['trek_layer'] = "{% url "trekking:trek_layer" %}";
    window.SETTINGS.urls['poi_layer'] = "{% url "trekking:poi_layer" %}";
    window.SETTINGS.urls['service_layer'] = "{% url "trekking:service_layer" %}";
</script>
