{% extends "mapentity/mapentity_detail.html" %}
{% load i18n l10n static geojson_tags thumbnail %}

{% block download %}
    {{ block.super }}
  </div>

  <div class="btn-group pull-right">
    <a class="btn btn-mini" href="{% url 'trekking:trek_gpx_detail' LANGUAGE_CODE object.pk object.slug %}"><img src="{% static "paperclip/fileicons/gpx.png" %}"/> {% trans "GPX" %}</a>
    <a class="btn btn-mini" href="{% url 'trekking:trek_kml_detail' LANGUAGE_CODE object.pk object.slug %}"><img src="{% static "paperclip/fileicons/kml.png" %}"/> {% trans "KML" %}</a>

    <a class="btn btn-mini" href="{% url 'trekking:trek_printable' LANGUAGE_CODE object.pk object.slug %}" title="{% trans "Public print" %}" target="_blank"><img src="{% static "paperclip/fileicons/pdf.png" %}"/> {% trans "Print" %}</a>
{% endblock download %}


{% block attachmentspanel %}
    {% include "trekking/ratio_info_fragment.html" %}
    {{ block.super }}
{% endblock attachmentspanel %}

{% block detailspanel %}
    {% include "common/publishable_completeness_fragment.html" %}
    {{ block.super }}
{% endblock detailspanel %}

{% block mappanel %}
    {{ block.super }}
    {% include "altimetry/altimetric_profile_fragment.html" with profile_url="trekking:trek_profile_svg" %}
{% endblock mappanel %}

{% block extrabody %}
    {{ block.super }}
    <script src="{% static "trekking/poilayer.js" %}"></script>
    <script src="{% static "trekking/servicelayer.js" %}"></script>
    <script type="text/javascript">
        $(window).on('detailmap:ready', function (e, data) {
            var map = data.map;

            //
            // Parking
            {% if object.parking_location %}
                var parkingIcon = L.icon({
                    iconUrl: "{% static "trekking/parking.png" %}",
                    iconSize: [{{ view.icon_sizes.parking }}, {{ view.icon_sizes.parking }}],
                    iconAnchor: [{{ view.icon_sizes.parking }}/2, {{ view.icon_sizes.parking }}/2],
                });
                var point = {{object.parking_location|geojsonfeature|safe}};
                var location = point.geometry.coordinates.reverse();
                L.marker(location, {icon: parkingIcon})
                 .bindPopup("{{ object.advised_parking|default:_("None") }}")
                 .addTo(map);

                // Make sure parking icon is visible on the map
                var bounds = map.getBounds();
                bounds.extend(location);
                map.fitBounds(bounds);
            {% endif %}

            //
            // Trek POIs layer
            $.getJSON('{% url 'trekking:trek_poi_geojson' LANGUAGE_CODE object.pk %}', function (data) {
                var pois = new POILayer(data, {
                    iconSize: {{ view.icon_sizes.POI }}
                });

                var poiUrl = "{% url 'trekking:poi_detail' 0 %}";
                pois.eachLayer(function (layer) {
                    layer.on('dblclick', function (e) {
                        window.location = poiUrl.replace('0', layer.properties.pk);
                    });
                });
                map.layerscontrol.addOverlay(pois, tr('POIs'), tr('Objects'));
                map.addLayer(pois);

                pois.showEnumeration();
                $('.map-panel').addClass('poi_enum_loaded');
            });

            //
            // Trek services layer
            $.getJSON('{% url 'trekking:trek_service_geojson' LANGUAGE_CODE object.pk %}', function (data) {
                var services = new ServiceLayer(data, {
                    iconSize: {{ view.icon_sizes.service }}
                });

                var serviceUrl = "{% url 'trekking:service_detail' 0 %}";
                services.eachLayer(function (layer) {
                    layer.on('dblclick', function (e) {
                        window.location = serviceUrl.replace('0', layer.properties.pk);
                    });
                });
                map.layerscontrol.addOverlay(services, tr('services'), tr('Objects'));
                map.addLayer(services);
                $('.map-panel').addClass('services_loaded');
            });

            //
            // Trek information desks layer
            $.getJSON('{% url 'tourism:trek_information_desk_geojson' pk=object.pk format='geojson' %}', function (data) {
                L.geoJson(data, {
                    pointToLayer: function (feature, latlng) {
                        var infoDeskIcon = L.icon({
                            iconUrl: feature.properties.type.pictogram,
                            iconSize: [{{ view.icon_sizes.information_desk }}, {{ view.icon_sizes.information_desk }}],
                            iconAnchor: [{{ view.icon_sizes.information_desk }}/2, {{ view.icon_sizes.information_desk }}/2],
                        });
                        return L.marker(latlng, {icon: infoDeskIcon});
                    }
                }).addTo(map);
                $('.map-panel').addClass('info_desks_loaded');
            });

            //
            // Points of reference
            (function (map) {
                var data = {{ object.points_reference|geojsonfeature|safe }};
                L.geoJson(data, {
                    pointToLayer: (function () {
                        var counter = 1;
                        return function (featureData, latlng) {
                            var icon = L.divIcon({html: counter++,
                                                  className: 'point-reference'});
                            return L.marker(latlng, {
                                clickable: false,
                                icon: icon,
                                zIndexOffset: 9999
                            }).addTo(map);
                        };
                    })()
                }).addTo(map);
                $('.map-panel').addClass('ref_points_loaded');
            })(map);

        });
    </script>
{% endblock extrabody %}
