{% load i18n mapentity_tags %}

<img src="{% media_static_fallback "upload/logo-header.png" "images/logo-header.png" %}" >


<h2>{{ object.name }}</h2>


<h3>{{ object.districts_display }}{% if object.districts_display and object.city_departure %} - {% endif %}{{ object.city_departure }}</h3>

 <table>
	<tr>
		<th>
			{% trans "Duration" %}
		</th>
		<td>
			{{ object.duration_pretty }}
		</td>
	</tr>
	<tr>
		<th>
			{% trans "Length" %}
		</th>
		<td>
			{{ object.length_kilometer }} km
		</td>
	</tr>
	<tr>
		<th>
			{% trans "Trek_ascent" %}
		</th>
		<td>
			{{ object.ascent }} m
		</td>
	</tr>
	{% if object.difficulty %}
	<tr>
		<th>
			{% trans "Difficulty" %}
		</th>
		<td>
			{{ object.difficulty }}
		</td>
	</tr>
	{% endif %}
	{% if object.route %}
	<tr>
		<th>
			{% trans "Type" %}
		</th>
		<td>
			<p>{{ object.route }}</p>
		</td>
	</tr>
	{% endif %}
	{% if object.practice %}
	<tr>
		<th>
			{% trans "Practice" %}
		</th>
		<td>
			{{ object.practice }}
		</td>
	</tr>
	{% endif %}
	{% if object.accessibilities.all %}
	<tr>
		<th>
			{% trans "Accessibility" %}
		</th>
		<td>
			{% for accessibility in object.accessibilities.all %}
				{{ accessibility.name }}
			{% endfor %}
		</td>
	</tr>
	{% endif %}
	{% if object.themes.all.count > 0 %}
	<tr>
		<th>
			{% trans "Themes" %}
		</th>
		<td>
			{% for theme in object.themes.all %}
				{{ theme.label }}
			{% endfor %}
		</td>
	</tr>
	{% endif %}
</table>
{% if object.picture_print %}
	<img src="{{ MEDIA_URL|add:object.picture_print.name }}" style="margin-left: auto; margin-right: auto; width: 100%; height: auto; " >
	{% if object.pictures.0.legend and object.pictures.0.author %}
		<p>
			{% trans "Attribution" %} : {{ object.pictures.0.legend }} ({{ object.pictures.0.author }})
		</p>
	{% endif %}
{% endif %}
<p>
	{{ object.description_teaser }}
</p>
<p>
	{{ object.ambiance }}
</p>
{% if object.is_park_centered %}
	<p>
		{% trans "This hike is at the heart of the national park > The national park is an unrestricted natural area but subjected to regulations which must be known by all visitors." %}
	</p>
{% endif %}

<img src="{{ map_url }}" style="margin-left: auto; margin-right: auto; width: 100%; height: auto; ">


{% if pois|length > 0 %}
<h3>{% trans "On the way..." %}</h3>
<table>
	{% for poi in pois %}
	<tr>
		<th>
			<img src="{{ MEDIA_URL|add:poi.type }}">
		</th>
		<td>
			{{ poi.name }} : {{ enumeration.poi.pk }}
		</td>
	</tr>
	{% endfor %}
</table>
{% endif %}

{% for poi in pois %}
<table>
	<tr>
		<th>
			<img src="{{ MEDIA_URL|add:poi.type.pictogram.name }}">
		</th>
		<td>
			{{ poi.name }}
		</td>
	</tr>
	<tr>
		<th>
			{% if poi.thumbnail %}
				<img src="{{ MEDIA_URL|add:poi.thumbnail.name }}">
			{% endif %}
		</th>
		<td>
			{{ poi.description }}
		</td>
	</tr>
	{% if poi.thumbnail and poi.picture.0.author %}
		<tr>
			{% trans "Attribution" %} : {{ poi.picture.0.author }}
		</tr>
	{% endif %}
</table>
{% endfor %}

{% if object.description %}
	<h3>{% trans "Trek" %}</h3>
	<p>{{ object.description }}</p>
{% endif %}

{% if object.advice %}
	<h3>{% trans "Advice" %}</h3>
	<p>{{ object.advice }}</p>
{% endif %}

{% if object.disabled_infrastructure %}
	<h3>{% trans "Disabled Infrastructure" %}</h3>
	<p>{{ object.disabled_infrastructure }}</p>
{% endif %}

{% if object.get_elevation_chart_url %}
	<h3>{% trans "Altimetric profile" %}</h3>
	<table>
		<tr>
			<img src="{{ object.get_elevation_chart_url }}" style="margin-left: auto; margin-right: auto; width: 100%; height: auto; ">
		</tr>
		<tr>
			<th>
				{% trans "Min elevation" %}
			</th>
			<td>
				{{ object.min_elevation }} m
			</td>
		</tr>
		<tr>
			<th>
				{% trans "Max elevation" %}
			</th>
			<td>
				{{ object.max_elevation }} m
			</td>
		</tr>
	</table>
{% endif %}

{% if object.access %}
	<h3>{% trans "Access" %}</h3>
	<p>{{ object.access }}</p>
{% endif %}

{% if object.advised_parking %}
	<h3>{% trans "Advised parking" %}</h3>
	<p>{{ object.advised_parking }}</p>
{% endif %}

{% if  object.information_desks.all.count > 0 %}
	<h3>{% trans "Information desks" %}</h3>
	<p>{% trans "To check the practicability of the hiking paths and to know more about the National park, please visit us or call us at" %}</p>

	<table>
		{% for desk in information_desks %}
			<tr>{{ desk.name }}</tr>
			<tr>
				<th>{{ desk.description_strip }}</th>
				<td><img src="{{ MEDIA_URL|add:desk.photo.name }}"></td>
			</tr>
			{% if desk.phone %}
			<tr>
				<td>Tel : {{ desk.phone }}</td>
			</tr>
			{% endif %}
			<tr>
				<td>
					{% if desk.website %}
						<a href="{{ desk.website }}"></a> 
					{% endif %}
					{% if desk.email %}
						<a href="{{ desk.email }}"></a>
					{% endif %}
				</td>
			</tr>
			{% if desk.street %}
			<tr>
				<td>
					{{ desk.street }}<br>
					{{ desk.postal_code }} {{ desk.municipality }}
				</td>
			</tr>
			{% endif %}
			{% if desk.geom %}
			<tr>
				<td>Lat : {{ desk.lattitude }} Long : {{ desk.longitude }}</td>
			</tr>
			{% endif %}
		{% endfor %}
	</table>
{% endif %}

{% if object.related|length > 0 %}
	<h3>{% trans "Related Treks" %}</h3>
	<table>
		{% for other in object.related.all %}
			<tr>
				{{ other.name }}<br>
			</tr>
		{% endfor %}
	</table>
{% endif %}

<a href="http://geotrek.fr">{% trans "Powered by http://geortrek.fr" %}</a>