/**
 * node-sass --output-style=expanded trek_public_pdf.scss -o .
 */
@page {
  margin: 1.3cm 1.8cm 2.5cm 1.8cm;
  @bottom-left {
    font-family: sans, sans-serif;
    color: #646464;
    font-weight: 100;
    font-size: .8em;
    font-style: italic;
    content: "Page " counter(page);
  }
}

html {
  -weasy-hyphens: auto;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans, sans-serif;
  color: #646464;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5 {
  color: black;
  font-weight: normal;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: 100;
}

section {
  page-break-inside: avoid;
}

#footer {
  position: fixed;
  height: 2cm;
  bottom: -2cm;
  left: 0;
  right: 0;
}

#footer .text {
  display: inline-block;
  vertical-align: middle;
  max-width: 60%;
  font-size: .8em;
  font-style: italic;
}

#footer .loire-atlantique {
  float: right;
  height: 1cm;
}

.main-title {
  text-align: center;
  padding-bottom: 2.36em;
}

.main-title h1, .main-title h2 {
  margin: 0;
}

.main-title h2 {
  font-size: 1.25em;
}

.map img {
  max-width: 100%;
}

header .meta {
  margin-top: 1em;
  font-size: .65em;
}

.ambiance {
  margin-top: 1em;
  font-style: italic;
}

.teaser {
  margin-top: 1em;
}

.description ol {
  list-style: none;
  padding: 0;
  margin: 0;
  counter-reset: li;
}

.description ol li {
  position: relative;
  margin-top: 1em;
  line-height: 1.5em;
  vertical-align: middle;
  padding-left: 2em;
  padding-bottom: 0.5em;
  orphans: 3;
  text-indent: -36px;
}

.description ol li:empty {
  display: none;
}

.description ol li:before {
  content: counter(li);
  /* Use the counter as content */
  counter-increment: li;
  display: inline-block;
  background: #E83737;
  color: white;
  font-weight: bold;
  vertical-align: middle;
  font-size: .9em;
  text-align: center;
  line-height: 26px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  page-break-after: avoid;
  text-indent: 0;
  margin-right: 10px;
}

.meta .lists {
  display: inline;
}

.meta-item {
  display: inline-block;
  vertical-align: middle;
  border-radius: .05em;
  margin-bottom: 0.236em;
  margin-top: .236em;
  margin-right: .472em;
  padding-right: .354em;
}

.meta-item .item-label,
.meta-item .item-value {
  border-radius: .25mm 0 0 .25mm;
  display: inline-block;
}

.meta-item .item-label {
  margin: -1px 0 -1px -1px;
  padding: 1.2mm 1.5mm;
}

.meta-item .item-value + .item-value:before {
  content: ", ";
}

.meta-item {
  background-color: #f7fcda;
  border: 1px solid rgba(174, 201, 14, 0.45);
  color: #323a04;
}

.meta-item .item-label {
  background-color: #aec90e;
}

.lists .meta-item {
  background-color: #f3fbc2;
  border: 1px solid rgba(153, 177, 12, 0.45);
  color: #1e2202;
}

.lists .meta-item .item-label {
  background-color: #99b10c;
}

.centered {
  font-size: .80em;
  padding: 2mm;
  margin-top: 1.2em;
  background-color: #f7fcda;
}

.text-content {
  line-height: 1.5;
}

.elevation img {
  padding: 2mm;
  border: 1px solid #aaa;
  background-color: #f7fcda;
  border: 1px solid rgba(174, 201, 14, 0.45);
}

.pic legend {
  font-style: italic;
  text-align: right;
  font-size: .8em;
}

.pois-summary {
  page-break-inside: auto;
}

.pois-summary:after {
  content: "";
  display: table;
  clear: both;
}

.pois-summary .poi {
  page-break-inside: avoid;
  clear: both;
}

.pois-summary .thumbnail {
  float: right;
  margin-left: 1.5em;
}

.pois-summary .icon {
  display: inline-block;
  width: 1.5em;
  height: 1em;
  vertical-align: baseline;
}

.pois-summary .icon img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.information-desks .intro {
  font-style: italic;
  font-size: .85em;
}

.desks {
  margin-top: 1em;
  font-size: .8em;
}

.desk {
  padding: .5em;
  margin-top: .5em;
}

.desk .content {
  padding-left: 2em;
}

.desk-name {
  font-weight: bold;
}

footer {
  margin-top: 2em;
  background-color: #eee;
  padding: .3em;
  text-align: center;
}
