<!DOCTYPE html>
{% load i18n mapentity_tags staticfiles %}
<html lang="en">
  <head>
    {% block style %}
      <style type="text/css">
        {% include template_css %}
      </style>
    {% endblock style %}
  </head>
  <body>
    {% block body %}
      <header>
        <div class="logo">
          <img src="{{ MEDIA_URL|add:'upload/logo-header.png' }}" alt="">
        </div>
        <div class="url">
          <div class="main">rando.geotrek.fr</div>
          <div class="geo">{% trans "Powered by geotrek.fr" %}</div>
        </div>
      </header>
      <div class="gray">
        {% if object.practice %}
          <div class="main-icon category-T{{ object.practice.pk }}">
            <img src="{{ object.practice.pictogram.url }}" alt="">
          </div>
        {% endif %}
        <div class="main-title">
          <h1>{{ object.name }}</h1>
          <h2>{{ object.districts.0.name }}{% if object.districts and object.city_departure %} - {% endif %}{{ object.city_departure }}</h2>
        </div>
        <hr>
        {% if object.picture_print %}
          <div class="main-picture" style="background-image: url({{ object.picture_print.url }});"></div><div class="main-map" style="background-image: url({{ map_url }});"></div>
          {% if object.picture_print.legend or object.picture_print.author %}
            <legend>
              {{ object.picture_print.legend }}
              {% if object.picture_print.author %}({{ object.picture_print.author }}){% endif %}
            </legend>
          {% endif %}
        {% else %}
          <div class="main-picture" style="background-image: url('{{ MEDIA_URL|add:'upload/placeholder.png' }}');"></div><div class="main-map" style="background-image: url({{ map_url }});"></div>
        {% endif %}
      </div>
      <div class="intro-left">
        {% if object.description_teaser %}
          <section class="teaser text-content">
            {{ object.description_teaser|safe }}
          </section>
        {% endif %}
        {% if object.ambiance %}
          <section class="ambiance text-content">
            {{ object.ambiance|safe }}
          </section>
        {% endif %}
      </div>
      <div class="meta-items">
        <div class="meta-items-title">{% trans "Usefull informations" %}</div>
        <section class="meta-items-list">
          {% if object.practice %}
            <span class="meta-item">
              <span class="meta-item-label">{% trans "Practice" %}</span>
              <span class="meta-item-value">{{ object.practice }}</span>
            </span>
          {% endif %}
          {% if object.duration_pretty %}
            <span class="meta-item">
              <span class="meta-item-label">{% trans "Duration" %}</span>
              <span class="meta-item-value">{{ object.duration_pretty }}</span>
            </span>
          {% endif %}
          {% if object.length_kilometer %}
            <span class="meta-item">
              <span class="meta-item-label">{% trans "Length" %}</span>
              <span class="meta-item-value">{{ object.length_kilometer }} km</span>
            </span>
          {% endif %}
          {% if object.ascent %}
            <span class="meta-item">
              <span class="meta-item-label">{% trans "Trek ascent" %}</span>
              <span class="meta-item-value">{{ object.ascent }} m</span>
            </span>
          {% endif %}
          {% if object.difficulty %}
            <span class="meta-item">
              <span class="meta-item-label">{% trans "Difficulty" %}</span>
              <span class="meta-item-value">{{ object.difficulty }}</span>
            </span>
          {% endif %}
          {% if object.route %}
            <span class="meta-item">
              <span class="meta-item-label">{% trans "Type" %}</span>
              <span class="meta-item-value">{{ object.route }}</span>
            </span>
          {% endif %}
          <div class="lists">
            {% if object.themes.all %}
              <span class="meta-item">
                <span class="meta-item-label">{% trans "Themes" %}</span>
                {% for theme in object.themes.all %}<span class="meta-item-value">{{ theme.label }}</span>{% endfor %}
              </span>
            {% endif %}
            {% if object.accessibilities.all %}
              <span class="meta-item">
                <span class="meta-item-label">{% trans "Accessibility" %}</span>
                {% for accessibility in object.accessibilities.all %}<span class="meta-item-value">{{ accessibility.name }}</span>{% endfor %}
              </span>
            {% endif %}
          </div>
        </section>
      </div>
      {% block description %}
        {% if object.description or object.networks.all or object.departure or object.arrival %}
          <div class="inner-title">
            <h2>{% trans "Trek" %}</h2>
          </div>
          {% if object.departure or object.departure or object.networks.all %}
            <div class="gray text-content departure-arrival">
              <ul>
                {% if object.departure %}<li>{% trans "Departure" %} : {{ object.departure }}</li>{% endif %}
                {% if object.arrival %}<li>{% trans "Arrival" %} : {{ object.arrival }}</li>{% endif %}
                {% if object.networks.all %}
                  <li>
                    {% trans "Markings" %} :
                    {% for network in object.networks.all %}
                      {% if network.pictogram %}<span class="network-icon"><img src="{{ MEDIA_URL|add:network.pictogram.name }}"></span>{% endif %}
                      {{ network.network }}</span>
                    {% endfor %}
                  </li>
                {% endif %}
                {% if object.children %}
                  {% trans "Stages" %} :
                  <ul>
                    {% for child in object.children %}
                      <li><strong>{{ forloop.counter }}.</strong> {{ child.name }}, {{ child.length_kilometer }} km, {{ child.ascent }} m D+, {{ child.duration_pretty }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </ul>
            </div>
          {% endif %}
          <section class="description">
            <div class="text-content">{{ object.description|safe }}</div>
          </section>
        {% endif %}
      {% endblock description %}
      <div class="inner-title">
        <h2>{% trans "On your path..." %}</h2>
      </div>
      <div class="full-map">
        <img src="{{ map_url }}" alt="">
      </div>
      {% block poisSummary %}
        <section class="pois-summary">
          {% if pois %}
            {% for poi in pois %}
              <div class="poi">
                  {% if poi.type.pictogram %}<span class="icon"><img src="{{ MEDIA_URL|add:poi.type.pictogram.name }}"></span>{% endif %}
                  {{ poi.name }} ({{ poi.letter }})
              </div>
            {% endfor %}
          {% endif %}
        </section>
      {% endblock poisSummary %}
      <div class="inner-title">
        <h2>{% trans "All usefull informations" %}</h2>
      </div>
      {% if object.is_park_centered %}
        <div class="advice">
          <div class="advice-title">
            <div class="advice-icon">
              <img src="{% static 'trekking/advice.svg' %}">
            </div>
            {% trans "This hike is at the heart of the national park" %}
          </div>
          <div class="advice-content">{% trans "The national park is an unrestricted natural area but subjected to regulations which must be known by all visitors." %}</div>
        </div>
      {% endif %}
      {% if object.advice %}
        <div class="advice">
          <div class="advice-title">
            <div class="advice-icon">
              <img src="{% static 'trekking/advice.svg' %}">
            </div>
            {% trans "Advices" %}
          </div>
          <div class="advice-content">{{ object.advice | safe }}</div>
        </div>
      {% endif %}
      {% block elevation %}
        {% if object.get_elevation_chart_url %}
          <section class="elevation">
            <div class="elevation-title">{% trans "Altimetric profile" %}</div>
            <img class="elevation-chart" src="{{ object.get_elevation_chart_url }}">
            <div class="elevation-meta">
              <span class="elevation-meta-item"><span class="item-label">{% trans "Min elevation" %}</span> <span class="item-value">{{ object.min_elevation }} m</span></span>
              <span class="elevation-meta-item"><span class="item-label">{% trans "Max elevation" %}</span> <span class="item-value">{{ object.max_elevation }} m</span></span>
            </div>
          </section>
        {% endif %}
      {% endblock elevation %}
      {% block transport %}
        {% if object.public_transport %}
          <section class="half-block transport">
            <h2>{% trans "Transports" %}</h2>
            <div class="text-content">{{ object.public_transport|safe }}</div>
          </section>
        {% endif %}
      {% endblock transport %}
      {% block access %}
        {% if object.access %}
          <section class="half-block access">
            <h2>{% trans "Access" %}</h2>
            <div class="text-content">{{ object.access|safe }}</div>
          </section>
        {% endif %}
      {% endblock access %}
      {% block parking %}
        {% if object.advised_parking %}
          <section class="half-block access">
            <h2>{% trans "Advised parking" %}</h2>
            <div class="text-content">{{ object.advised_parking }}</div>
          </section>
        {% endif %}
      {% endblock parking %}
      {% block disabledInfrastructure %}
        {% if object.disabled_infrastructure %}
          <section class="half-block disabled-infrastructure">
            <h2>{% trans "Disabled Infrastructure" %}</h2>
            <div class="text-content">{{ object.disabled_infrastructure|safe }}</div>
          </section>
        {% endif %}
      {% endblock disabledInfrastructure %}
      {% block source %}
        {% if object.source.all %}
          <section class="half-block source">
            <h2>{% trans "Source" %}</h2>
            {% for s in object.source.all %}
               <div class="text-content">{% if s.pictogram %}<span class="source-icon"><img src="{{ MEDIA_URL|add:s.pictogram.name }}"></span> {% endif %}{{ s.name }}</div>
            {% endfor %}
          </section>
        {% endif %}
      {% endblock source %}
      <div class="gray">
        {% block informationDesks %}
          {% if  object.information_desks.all %}
            <section class="information-desks">
              <h2>
                <div class="information-desks-icon">
                  <img src="{% static 'trekking/information.svg' %}">
                </div>
                {% trans "Information desks" %}
              </h2>
              <div class="text-content intro">
                {% if object.information_desks.first.thumbnail %}
                  <img src="{{ object.information_desks.first.thumbnail.url }}">
                {% endif %}
              </div>
              <ul class="desks">
                {% for desk in object.information_desks.all %}
                  <li class="desk">
                    <div class="desk-name">{{ desk.name }}</div>
                    <div class="content">
                      {% if desk.street %}<div class="desk-address">{{ desk.street }}, {{ desk.postal_code }} {{ desk.municipality }}</div>{% endif %}
                      {# {% if deks.photo %}<picture class="desk-picture"><img src="{{ MEDIA_URL|add:desk.photo.name }}"></picture>{% endif %} #}
                      {% if desk.email %}<div class="desk-email"><a href="mailto:{{ desk.email }}">{{ desk.email }}</a></div>{% endif %}
                      {% if desk.phone %}<div class="desk-tel">Tel : {{ desk.phone }}</div>{% endif %}
                      {% if desk.website %}<div class="desk-website"><a href="{{ desk.website }}">{{ desk.website }}</a></div>{% endif %}
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </section>
          {% endif %}
        {% endblock informationDesks %}
      </div>
      {% block poisDetails %}
        <section class="pois-details">
          {% if pois %}
            {% for poi in pois %}
              <div class="poi">
                <div class="thumbnail">
                  {% if poi.thumbnail %}
                    <img src="{{ MEDIA_URL|add:poi.thumbnail.name }}">
                  {% endif %}
                </div>
                <div class="content with-pic">
                  <h3>
                    {% if poi.type.pictogram %}<span class="icon"><img src="{{ MEDIA_URL|add:poi.type.pictogram.name }}"></span>{% endif %}
                    {{ poi.name }} ({{ poi.letter }})
                  </h3>
                  <div class="description">{{ poi.description|safe }}</div>
                  {% if poi.thumbnail and poi.thumbnail.author %}
                    <legend>{{ poi.thumbnail.author }}</legend>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </section>
      {% endblock poisDetails %}
    {% endblock body %}
    {% block footer %}
      <div id="footer">
        <div class="text">{% now 'SHORT_DATE_FORMAT' %} &#8226; {{ object.name }}</div>
      </div>
    {% endblock footer %}
  </body>
</html>
