{% extends "mapentity/mapentity_detail_attributes.html" %}
{% load i18n mapentity_tags %}


{% block attributes %}
<style>
    .pictogram {
        height: 50px;
        width: 50px;
        padding: 2px;
    }
</style>
    <h3>{% trans "Attributes" %}</h3>
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ sensitivearea|verbose:"structure" }}</th>
            <td>{{ sensitivearea.structure }}</td>
        </tr>
        {% if sensitivearea.species.category == 1 %}
            <tr>
                <th>{{ sensitivearea|verbose:"species" }}</th>
                <td>{{ sensitivearea.name }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>{{ sensitivearea.species|verbose:"name" }}</th>
            <td>{{ sensitivearea.name }}</td>
        </tr>
        <tr>
            <th>{% trans "Period" %}</th>
            <td>{{ sensitivearea.species.pretty_period }}</td>
        </tr>
        <tr>
            <th>{{ sensitivearea.species|verbose:"practices" }}</th>
            <td>{{ sensitivearea.species.pretty_practices }}</td>
        </tr>
        <tr>
            <th>{{ sensitivearea.species|verbose:"url" }}</th>
            <td><a href="{{ sensitivearea.species.url }}" target="_blank">{{ sensitivearea.species.url }}</a></td>
        </tr>
        {% if sensitivearea.species.radius != None %}
            <tr>
                <th>{{ sensitivearea.species|verbose:"radius" }}</th>
                <td>{{ sensitivearea.species.radius }} m</td>
            </tr>
        {% endif %}
        <tr>
            <th>{{ sensitivearea|verbose:"description" }}</th>
            <td>{{ sensitivearea.description|safe|linebreaks }}</td>
        </tr>
        <tr>
            <th>{{ sensitivearea|verbose:"contact" }}</th>
            <td>{{ sensitivearea.contact|safe|linebreaks }}</td>
        </tr>
        <tr>
            <th>{{ sensitivearea|verbose:"rules" }}</th>
            <td>
                {% for rule in  sensitivearea.rules.all %}
                <img
                    class="pictogram"
                    src="{{rule.pictogram.url}}"
                    title="{{rule.name}}"
                    alt="{{rule.name}}"
                />
                {%endfor%}
            </td>
        </tr>
        {% include "common/publication_info_fragment.html" %}
        {% include "mapentity/trackinfo_fragment.html" %}
        <tr>
            <th>{% trans "External id" %}</th>
            <td>{% if sensitivearea.eid %}{{ sensitivearea.eid|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Provider" %}</th>
            <td>{% if sensitivearea.provider %}{{ sensitivearea.provider|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
    </table>

    {{ block.super }}
{% endblock attributes %}
