{% extends "common/common_detail.html" %}


{% block mappanel %}
    {% if object.get_geom %}
        {% load i18n static mapentity_tags %}
        <div id="detailmap"
             data-fitmaxzoom="{{ MAP_FIT_MAX_ZOOM }}"
             data-mapextent="{{ object|latlngbounds }}"
             data-readonly="{% if readonly %}readonly{% endif %}" data-feature-url="{{ object.get_layer_detail_url }}">
        </div>
    {% else %}
        <p class="nomap">{{ empty_map_message }}</p>
    {% endif %}
{% endblock mappanel %}


{% block extrabody %}
    {{ block.super }}
{#    l'affichage devrait normalement se faire depuis maplibreObjectsLayer comme un cercle et avec un rayon bien spécifique #}

{#    <script type="text/javascript">#}
{#    L.ObjectsLayer.pointToLayer = function (geojson, latlng) {#}
{#        return new L.Circle(latlng, {{ object.species.radius }});#}
{#    };#}
{#    </script>#}
{% endblock extrabody %}
