{% extends "mapentity/mapentity_list.html" %}
{% load i18n static %}


{% block mainactions %}
    {% if can_add %}
         <div class="dropdown">
          <button class="btn btn-sm btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-plus"></i> <span class="d-none d-sm-inline">{% trans "Add" %}</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ model.get_add_url }}?category=1">
                {% trans "Species area" %}
            </a>
            <a class="dropdown-item" href="{{ model.get_add_url }}?category=2">
                {% trans "Regulatory area" %}
            </a>
          </div>
        </div>
    {% else %}
        <span class="btn disabled" href="#">
            <i class="bi bi-plus d-none d-sm-inline"></i> {% trans "Add" %}
        </span>
    {% endif %}
{% endblock mainactions %}
