{% extends "mapentity/base.html" %}
{% load i18n static sensitivity_extras attachments_tags thumbnail leaflet_tags %} 
{% block extrahead %}

<style>
  html,
  body {
    min-height: 100vh !important;
  }
  #container {
    padding-top: unset;
    flex: 1;
  }
  #app {
    flex: 1;
    height: 100vh;
    max-height: 100vh !important;
  }
  #desc {
    overflow-y: auto;
    height: 100%;
    max-height: 100vh !important;
  }
  #descHeader {
    background-color: #e6e6e6;
  }

  #map {
    min-height: 500px;
    height: 100% !important;
  }
  .current-month {
    border-bottom: 5px solid var(--danger);
  }
  h2,
  h3 {
    color: var(--primary);
  }
</style>
{% endblock extrahead %} {% block navbar %}
<!-- No bar -->
{% endblock navbar %} {% block mainpanel %}
<div class="container-fluid h-100">
  <div id="app" class="row min-vh-100">
    <div class="col-sm p-0">
      <div id="desc" class="h-100 d-flex flex-column">
        <div v-if="sensitiveArea">
          <div id="descHeader" class="p-3">
            {% for p in object.species.practices.all %}
            <span
              
              class="m-1 p-1 badge badge-info float-right"
              >{{p}}</span
            >
            {%endfor%}
            <h2 class="text-uppercase">{{object.species.name}}</h2>
            <p>
              <span class="badge badge-success">{% if object.species.category == 1 %}Zone espèce{%else%}Zone réglementaire{%endif%}</span>
              créée par <strong>{{object.structure}}</strong>
            </p>
          </div>
          <div id="descContent" class="p-3">
            <div class="block">
              <h3>Période de sensibilité</h3>

              <div class="text-center">
                {% for p in object.species.list_period %}
                <span
                  data-toggle="tooltip"
                  data-placement="bottom"
                  data-toggle-title="{%if p%}Période sensible{%else%}Hors période sensible{%endif%}"
                  title="{%if p%}Période sensible{%else%}Hors période sensible{%endif%}"
                  class="m-1 p-1 badge text-uppercase {%if p%}badge-warning{%else%}badge-success{%endif%} {%if forloop.counter == current_month %}current-month{%endif%}"
                  >{{forloop.counter|month_abbr}}</span
                >
                {% endfor %}
              </div>
              <div
                class="alert {% if current_sensitivity %}alert-warning{%else%}alert-success{% endif %}"
                role="alert"
              >
                Statut de sensibilité aujourd'hui&nbsp;:
                <span
                  class="badge text-uppercase {% if current_sensitivity %}badge-warning{%else%}badge-success{% endif %}"
                  >{% if current_sensitivity %}Sensible{%else%}Non sensible{% endif %}</span
                >
              </div>
            </div>
            <div class="block">
              
              <h3>Description</h3>
              {% if object.description %}
              <div >{{object.description|safe}}</div>
              {%else%}
              <div class="text-muted">Pas de description</div>
              {%endif%}
            </div>
            <div class="block">
              <h3>Contact</h3>
              {% if object.contact %}
              <div >{{object.contact|safe}}</div>
              {%else%}
              <div class="text-muted">Pas de contact</div>
              {%endif%}
            </div>
            

            {% if object.attachments.count > 0 %}
            <div id="attachments">
              <h3>Documents joints</h3>
              <ul class="list-unstyled">
                {% for a in object.attachments.all %}
                <li class="media py-2">
                  <img
                    src="{%if a.is_image %}{{a.attachment_file.url}}{%else%}{{a.filetype|svg_thumbnail}}{%endif%}"
                    class="mr-3"
                    alt="{{a.title}}"
                    class="img-thumbnail rounded"
                    height="100"
                    width="100"
                    title="{{a.title}}"
                  />
                  <div class="media-body">
                    <span
                      class="float-right m-1 p-1 badge text-uppercase badge-success"
                      >{{a.filetype.type}}</span
                    >
                    <h5 class="mt-0 mb-1">
                      <a href="{{a.attachment_file}}" targer="_blank" title="Télécharger"
                        >{{a.title}}</a
                      >
                    </h5>

                    <small >Autheur: {{a.author}}</small> |                     <small >Licence: {{a.license}}</small><br>
                    <p >{{a.legend}}</p>
                  </div>
                </li>
                {%endfor%}
              </ul>
            </div>
            {%endif%}
            <div id="links" class="text-center">
              {%if object.species.url %}
              <a
                href="{{object.species.url}}"
                class="btn btn-success m-2"
                target="_blank"
                ><i class="bi bi-info-circle-fill"></i> Plus d'informations</a
              >
              {% endif %}
              {% if object.kml %}
              <a
                href="{% url 'sensitivity:sensitivearea_kml_detail' lang=LANGUAGE_CODE pk=object.pk %}"
                class="btn btn-primary m-2"
                target="_blank"
                ><i class="bi bi-cloud-download-fill"></i> KML</a
              >
              {% endif %}

              {% if object.openair %}
              <a
                href="{% url 'sensitivity:sensitivearea_openair_detail' lang=LANGUAGE_CODE pk=object.pk %}"
                class="btn btn-primary m-2"
                target="_blank"
                ><i class="bi bi-cloud-download-fill"></i> OpenAir</a
              >
              {% endif %}
              {% if object %}
              <a
                href="{% url 'apiv2:sensitivearea-detail' pk=object.pk format='geojson' %}"
                class="btn btn-primary m-2"
                target="_blank"
                ><i class="bi bi-cloud-download-fill"></i> GeoJSON</a
              >
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm p-0">
      {% leaflet_map "map" callback="window.map_init_basic" %}
    </div>
  </div>
</div>
<script>
  
  sensitiveAreaPk = "{{object.pk}}";

  saMap = document.getElementById("map");
  saMap.classList.add("h100", "d-flex", "flex-column");

  const getArea = async (sensitiveAreaPk) => {
    const response = await fetch(
      `/api/v2/sensitivearea/${sensitiveAreaPk}/?format=geojson&period=any`
    );
    return await response.json();
  };

  const addLayer = (sensitiveAreaPk, map) => {
    getArea(sensitiveAreaPk).then((r) => {
      const area = L.geoJson(r, {}).bindPopup(function (layer) {
        return layer.feature.properties.name;
      });
      map.fitBounds(area.getBounds());
      map.setMaxBounds(area.getBounds());
      area.addTo(map);
    });
  };

  function map_init_basic(map, options) {
    addLayer(sensitiveAreaPk, map);
  }

</script>
{% endblock mainpanel %}
