{% load i18n geotrek_tags mapentity_tags %}

<h3>{% trans "Sensitive area" %}</h3>
<table class="table">
    <tr>
        <th>{% trans "Sensitive areas" %}</th>
        <td>
            {% if perms.sensitivity.add_sensitivearea %}
            <p class="autohide"><a href="{% url 'sensitivity:sensitivearea_add' %}" class="btn btn-light btn-sm btn-success">
                <i class="icon-plus icon-white"></i> {% trans "Add a sensitive area (Species)" %}</a>
            </p>
            {% endif %}
            {% valuelist object.sensitive_areas field='species' %}
        </td>
    </tr>
</table>
