.progress {
    position: relative;
}

.bar {
    z-index: 1;
    position: absolute;
}

.progress span {
    position: absolute;
    top: 0;
    z-index: 2;
    padding: 2px;
    margin-left: 5px;
    color: black;
    text-align: center;
    width: 100%;
}