{% extends "mapentity/mapentity_detail.html" %}
{% load i18n static field_verbose_name %}

{% block detailspanel %}
    {{ block.super }}
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ intervention|verbose:"name" }}</th>
            <td>{{ intervention.name }}</td>
        </tr>
        <tr>
            <th>{{ intervention|verbose:"date" }}</th>
            <td>{{ intervention.date }}</td>
        </tr>
        <tr>
            <th>{{ intervention|verbose:"stake" }}</th>
            <td>{% if intervention.stake %}<span class="label">{{ intervention.stake }}</span>
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
         <tr>
            <th>{{ intervention|verbose:"status" }}</th>
            <td>{% if intervention.status %}{{ intervention.status }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ intervention|verbose:"type" }}</th>
            <td>{% if intervention.type %}{{ intervention.type }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ intervention|verbose:"disorders" }}</th>
            <td>
                {% for disorder in  intervention.disorders.all %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li> {{ disorder }} </li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    <span class="none">{% trans "None" %}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>{{ intervention|verbose:"material_cost" }}</th>
            <td>{{ intervention.material_cost|floatformat:2 }} &euro;</td>
        </tr>
        <tr>
            <th>{{ intervention|verbose:"heliport_cost" }}</th>
            <td>{{ intervention.heliport_cost|floatformat:2 }} &euro;</td>
        </tr>
        <tr>
            <th>{{ intervention|verbose:"subcontract_cost" }}</th>
            <td>{{ intervention.subcontract_cost|floatformat:2 }} &euro;</td>
        </tr>
        <tr>
            <th>{% trans "Mandays" %}</th>
            <td>
                {% for md in intervention.manday_set.all %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li>
                    {% blocktrans with md.nb_days as nb_days and md.job as job %}
                     {{ job }}: {{ nb_days }} days
                    {% endblocktrans %}
                    </li>
                    {% if forloop.last %}</ul>{% endif %}
                {% endfor %}
                <p>{% trans "Total:" %} {{ intervention.total_manday }} {% trans "manday" %}{{ intervention.total_manday|pluralize }}</p>
                <p>{% trans "Total cost:" %} {{ intervention.total_cost|floatformat:2 }} &euro;</p>
            </td>
        </tr>
        <tr>
            <th>{% trans "Related Project" %}</th>
            <td>{% if intervention.project %}
                    {{ intervention.project.name_display|safe }}
                    ({{ intervention.project.begin_year }} - {{ intervention.project.end_year }})
                {% else %} <span class="none">{% trans "None" %}</span>
                {% endif %}
            </td>
        </tr>

        {% if intervention.is_infrastructure %}
        <tr>
            <th>{% trans "Related infrastructure" %}</th>
            <td><img src="{% static "images/infrastructure-16.png" %}"/> {{ intervention.infrastructure.name_display|safe }}</td>
        </tr>
        {% endif %}

        {% if intervention.is_signage %}
        <tr>
            <th>{% trans "Related signage" %}</th>
            <td><img src="{% static "images/signage-16.png" %}"/> {{ intervention.infrastructure.name_display|safe }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>{% trans "Dimensions" %}</th>
            <td>{% trans "H:" %} {{ intervention.height|stringformat:".2f" }}m ,
                {% trans "L:" %} {{ intervention.length|stringformat:".2f" }}m ,
                {% trans "W:" %} {{ intervention.width|stringformat:".2f" }}m :
                {{ intervention.area|stringformat:".1f" }}m&sup2;
            </td>
        </tr>
        {% include "core/elevationinfo_fragment.html" %}
        <tr>
            <th>{{ intervention|verbose:"comments" }}</th>
            <td>{% if intervention.comments %}{{ intervention.comments|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        {% include "mapentity/trackinfo_fragment.html" %}
    </table>
{% endblock detailspanel %}
