{% load i18n %}

{% regroup interventions by on_infrastructure as interventions_list %}

{% for intervention in interventions_list %}
    <ul>
        {% for i in intervention.list %}
          <li>{{ i.infrastructure_display|safe }}
              {{ i.name_display|safe }}
              {% if i.stake %}<span class="label">{{ i.stake }}</span>{% endif %}
              ({{ i.date }})
          </li>
        {% endfor %}
    </ul>
{% empty %}
    <span class="none">{% trans "None" %}</span>
{% endfor %}
