{% extends "mapentity/mapentity_form.html" %}
{% load i18n crispy_forms_tags %}

{% block mainform %}
    <form id="mainform" action="{% if object.pk %}{{ object.get_update_url }}{% else %}{{ object.get_add_url }}{% endif %}" class="form-horizontal" method="POST">
    
    {% crispy form %}
    
    <fieldset class="formset">
        {{ manday_formset.management_form }}
        {% for manday_form in manday_formset %}
            <div class="form-row inline controls controls-row {{ manday_formset.prefix }}">
            {% crispy manday_form %}
            </div>
        {% endfor %}
    </fieldset>
    
    </form>
{% endblock mainform %}


{% block extrabody %}
    {{ block.super }}
    <script type="text/javascript">
        $(window).ready(function () {
            $('#id_date').datepicker({
                autoclose: true,
                language: '{{ request.LANGUAGE_CODE }}',
                format: window.SETTINGS.date_format
            });

            // TODO: do this with crispyforms !
            $("fieldset.formset").detach().appendTo('#mainform fieldset');
            
            $(".clearfix").removeClass("clearfix");
            
            $('.form-row.inline.{{ manday_formset.prefix }}').formset({
                prefix: '{{ manday_formset.prefix }}',
                keepFieldValues: "[name='csrfmiddlewaretoken']",
                addCssClass: 'btn btn-success add-row',
                deleteCssClass: 'delete-row',
                addText: '{% trans "Add" %}',
                deleteText: '{% trans "Remove" %}', 
            });
        });
    </script>
{% endblock extrabody %}
