{% load i18n geotrek_tags mapentity_tags %}

{% if modelname != "intervention" %}

<h3>{% trans "Works" %}</h3>
<table class="table">
    <tr>
        <td colspan="3">
        <strong>{% trans "Interventions" %}</strong>
            {% with columns="infrastructure,name,status,stake,total_cost,date" %}
                {% if modelname == "infrastructure" or modelname == "signage" %}
                    {% valuetable object.interventions_set.existing|dictsort:"on_infrastructure" columns=columns %}
                {% elif modelname == "project" %}
                    {% valuetable object.interventions.existing|dictsort:"on_infrastructure" enumeration=True columns=columns %}
                {% else %}
                    {% valuetable object.interventions.all|dictsort:"on_infrastructure" columns=columns %}
                {% endif %}
            {% endwith %}

            <p class="spacer"></p>

            {% is_topology_model model as is_topology_model %}
            {% if perms.maintenance.add_intervention %}
            <p class="autohide"><a href="{% url 'maintenance:intervention_add' %}{% if modelname == "infrastructure" or modelname == "signage" %}?infrastructure={{ object.pk}}{% elif is_topology_model %}?topology={{ object.pk}}{% endif %}" class="btn btn-mini btn-success">
                <i class="icon-plus icon-white"></i> {% trans "Add a new intervention" %}</a>
            </p>
            {% endif %}

        </td>
    </tr>

    {% if modelname != "project" %}
    <tr>
        <th colspan="3">{% trans "Projects" %}<br/></th>
    </tr>
        {% with object.projects.all as projects %}
            {% if projects.exists %}
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Begin year" %}</th>
                <th>{% trans "End year" %}</th>
            </tr>
        {% for project in projects %}
        <tr>
            <td>
                <a href="{% url 'maintenance:project_detail' project.pk %}">{{ project.name }}
            </td>
        <td>
                {{ project.begin_year }}
            </td>
        <td>
                {{ project.end_year }}
            </td>
        </tr>

        {% endfor %}
            {% endif %}
        {% endwith %}
    {% endif %}

</table>

{% endif %}
