{% load i18n geotrek_tags mapentity_tags %}

{% if modelname != "intervention" %}

<h3>{% trans "Works" %}</h3>
<table class="table">
    <tr>
        <td colspan="3">
        <strong>{% trans "Interventions" %}</strong>
            {% with columns="target,name,status,stake,total_cost,begin_date,end_date" %}
                {% if modelname == "project" %}
                    {% valuetable object.interventions.existing enumeration=True columns=columns %}
                {% else %}
                    {% valuetable object.interventions.all columns=columns %}
                {% endif %}
            {% endwith %}

            <p class="spacer"></p>

            {% is_topology_model model as is_topology_model %}
            {% is_blade_model model as is_blade_model %}
            {% is_site_model model as is_site_model %}
            {% is_course_model model as is_course_model %}
            {% if perms.maintenance.add_intervention %}
            <p class="autohide">
                <a href="{% url 'maintenance:intervention_add' %}{% if is_topology_model or is_blade_model or is_site_model or is_course_model %}?target_id={{ object.pk }}&target_type={{ object.get_content_type_id }}{% endif %}"
                   class="btn btn-sm btn-success">
                <i class="bi bi-plus-circle-fill"></i> {% trans "Add a new intervention" %}</a>
            </p>
            {% endif %}

        </td>
    </tr>

    {% if modelname != "project" %}
    <tr>
        <th colspan="3">{% trans "Projects" %}<br/></th>
    </tr>
        {% with object.projects.all as projects %}
            {% if projects.exists %}
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Begin year" %}</th>
                <th>{% trans "End year" %}</th>
            </tr>
        {% for project in projects %}
        <tr>
            <td>
                <a href="{% url 'maintenance:project_detail' project.pk %}">{{ project.name }}
            </td>
        <td>
                {{ project.begin_year }}
            </td>
        <td>
                {{ project.end_year|default:"" }}
            </td>
        </tr>

        {% endfor %}
            {% endif %}
        {% endwith %}
    {% endif %}

</table>

{% endif %}
