{% load i18n geotrek_tags mapentity_tags %}

{% if modelname != "intervention" %}

<h3>{% trans "Works" %}</h3>
<table class="table">
    <tr>
        <th>{% trans "Interventions" %}</th>
        <td>
            {% with columns="infrastructure,name,stake,total_cost,date" %}
                {% if modelname == "infrastructure" or modelname == "signage" %}
                    {% valuetable object.interventions_set.existing|dictsort:"on_infrastructure" columns=columns %}
                {% elif modelname == "project" %}
                    {% valuetable object.interventions.existing|dictsort:"on_infrastructure" enumeration=True columns=columns %}
                {% else %}
                    {% valuetable object.interventions.all|dictsort:"on_infrastructure" columns=columns %}
                {% endif %}
            {% endwith %}

            <p class="spacer"></p>

            {% is_topology_model model as is_topology_model %}
            {% if perms.maintenance.add_intervention %}
            <p class="autohide"><a href="{% url 'maintenance:intervention_add' %}{% if modelname == "infrastructure" or modelname == "signage" %}?infrastructure={{ object.pk}}{% elif is_topology_model %}?topology={{ object.pk}}{% endif %}" class="btn btn-mini btn-success">
                <i class="icon-plus icon-white"></i> {% trans "Add intervention" %}</a>
            </p>
            {% endif %}

        </td>
    </tr>

    {% if modelname != "project" %}
    <tr>
        <th>{% trans "Projects" %}</th>
        <td>
            {% valuelist object.projects.all %}
        </td>
    </tr>
    {% endif %}

</table>

{% endif %}
