{% extends "mapentity/mapentity_detail.html" %}
{% load i18n mapentity_tags %}

{% block detailspanel %}
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ project|verbose:"name" }}</th>
            <td>{{ project.name }}</td>
        </tr>
        <tr>
            <th>{{ project|verbose:"begin_year" }}</th>
            <td>{{ project.begin_year }}</td>
        </tr>
        <tr>
            <th>{{ project|verbose:"end_year" }}</th>
            <td>{{ project.end_year }}</td>
        </tr>
        <tr>
            <th>{{ project|verbose:"global_cost" }}</th>
            <td>{{ project.global_cost }} &euro;</td>
        </tr>
        <tr>
            <th>{{ project|verbose:"interventions_total_cost" }}</th>
            <td>{{ project.interventions_total_cost }} &euro;</td>
        </tr>
        <tr>
            <th>{{ project|verbose:"type" }}</th>
            <td>{% if project.type %}{{ project.type }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ project|verbose:"domain" }}</th>
            <td>{% if project.domain %}{{ project.domain }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ project|verbose:"constraint" }}</th>
            <td>{% if project.constraint %}{{ project.constraint|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ project|verbose:"project_owner" }}</th>
            <td>{% if project.project_owner %}{{ project.project_owner }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ project|verbose:"project_manager" }}</th>
            <td>{% if project.project_manager %}{{ project.project_manager }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ project|verbose:"contractors" }}</th>
            <td>
                {% valuelist project.contractors.all %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Fundings" %}</th>
            <td>
                {% for f in project.funding_set.all %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li>
                    {% blocktrans with f.amount as amount and f.organism as organism %}
                    {{ amount }}€ by {{ organism }}
                    {% endblocktrans %}
                    </li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    <span class="none">{% trans "None" %}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>{{ project|verbose:"comments" }}</th>
            <td>{% if project.comments %}{{ project.comments|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        {% include "mapentity/trackinfo_fragment.html" %}
    </table>
    {{ block.super }}
{% endblock detailspanel %}


{% block extrabody %}
    {{ block.super }}
    <script type="text/javascript">
        $(window).on('detailmap:ready', function (e, data) {
            var map = data.map;

            // Remove project geometry layer (GeometryCollection)
            map.removeLayer(data.layer);

            //
            // Load intervention layer filtered on project
            var layer_url = "{% url 'maintenance:intervention_layer' %}?project={{ object.pk}}";
            var DETAIL_STYLE = L.Util.extend(window.SETTINGS.map.styles.detail, {clickable: true});

            var layer = new L.ObjectsLayer(layer_url, {
                style: DETAIL_STYLE,
                objectUrl: interventionUrl,
                onEachFeature: showInterventionLabel,
                modelname: 'intervention',
            });
            layer.addTo(map);
            layer.on('data:load', function (e) {
                layer.showEnumeration();
            });


            function showInterventionLabel (geojson, layer) {
                if (geojson.properties.name) layer.bindLabel(geojson.properties.name);
            }

            function interventionUrl(properties, layer) {
                return window.SETTINGS.urls.detail.replace(new RegExp('modelname', 'g'), 'intervention')
                                      .replace('0', properties.pk);
            };
        });
    </script>
{% endblock extrabody %}
