{% extends "mapentity/mapentity_form.html" %}
{% load i18n crispy_forms_tags %}

{% block extrabody %}
{{ block.super }}
<script type="text/javascript">
$(function() {
    $(".clearfix").removeClass("clearfix");
    
    $('.form-row.inline').formset({
        prefix: '{{ funding_formset.prefix }}',
        keepFieldValues: "[name='csrfmiddlewaretoken']",
        addCssClass: 'btn btn-success add-row',
        deleteCssClass: 'delete-row',
        addText: '{% trans "Add funding" %}',
        deleteText: '{% trans "Remove" %}', 
    })
})
</script>
{% endblock extrabody %}
