#mainfilter input.minmax-field {
    width: calc(60% - 1.9rem);
}

.caption-detail {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  color: black;
  text-align: left;
  caption-side: top;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #cccccc;
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

fieldset {
  margin-left: 80px;
}

#hdviewpoint-map {
  width: 100%;
  height: 550px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.loader-wrapper {
  display: table;
  margin: 0 auto;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid green;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#controls {
  left: 10px;
  top: 80px;
  z-index: 1000;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 1px 1px 3px black;
  opacity: 0.5;
  transition: opacity 250ms ease;
  background: #CCC;
  color: black;
  padding: 4px;
  font-size: 14px;
  max-height: calc(100% - 100px);
  min-width: 310px;
}
#controls:hover {
  opacity: 1;
}
#controls .form-group {
  margin-bottom: 0;
}
#controls label {
  min-width: 160px;
}
#controls.no-controls {
  display: none;
}
.annotationtype button.lastused {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.annotationtype button.active {
  color: white;
  background-color: #025aa5;
  border-color: #01549b;
}
.shortlabel {
  margin-bottom: 5px;
  font-weight: bold;
  display: inline-block;
}
#instructions .annotation {
  display: none;
  max-width: 300px;
  font-size: 12px;
  line-height: 1.42857em;
  min-height: 2.85714em;
}
#instructions[annotation="polygon"] .annotation.polygon,
#instructions[annotation="rectangle"] .annotation.rectangle,
#instructions[annotation="square"] .annotation.square,
#instructions[annotation="ellipse"] .annotation.ellipse,
#instructions[annotation="circle"] .annotation.circle,
#instructions[annotation="point"] .annotation.point,
#instructions[annotation="line"] .annotation.line,
#instructions[annotation="none"] .annotation.none {
  display: block;
}
#controls a {
  color: #333;
  cursor: pointer;
}
#controls .form-group.compact label {
  min-width: 0px;
  padding-right: 5px;
}
#controls .form-group.compact select {
  padding-right: 10px;
}
#controls .form-group.compact input[type="range"] {
  width: 120px;
  display: inline-block;
  vertical-align: middle;
}

.entry span, .entry a {
  display: inline-block;
}
.entry .entry-name {
  width: 82%;
}
.entry a {
  width: 6%;
  text-align: right;
}
.entry .entry-edit {
  font-weight: bold;
}
.entry-remove-all {
  float: right;
}
#annotationheader, .entry#sample {
  display: none;
}
#editdialog {
  font-size: 14px;
}
#editdialog .form-group {
  margin-bottom: 0px;
}
#editdialog #edit-update {
  float: right;
  margin-left: 10px;
}
#editdialog label {
  min-width: 105px;
}
#editdialog #edit-validation-error {
  color: red;
  font-weight: bold;
}
#geojson {
  width: 100%;
  resize: vertical;
}
