#mainfilter input.minmax-field {
    width: calc(60% - 1.9rem);
}

.caption-detail {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  color: black;
  text-align: left;
  caption-side: top;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #cccccc;
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

fieldset {
  margin-left: 80px;
}

#hdviewpoint-map {
  width: 100%;
  height: 600px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.loader-wrapper {
  display: table;
  margin: 0 auto;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid green;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
