{% extends "mapentity/entity_detail.html" %}
{% load i18n field_verbose_name %}

{% block detailspanel %}
    {{ block.super }}
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ poi|verbose:"type" }}</th>
            <td>{{ poi.type }}</td>
        </tr>
        <tr>
            <th>{{ poi|verbose:"name" }}</th>
            <td>{{ poi.name }}</td>
        </tr>
        <tr>
            <th>{{ poi|verbose:"description" }}</th>
            <td>{{ poi.description|safe }}</td>
        </tr>
    </table>

    <h3>{% trans "Management" %}</h3>
    <table class="table">
        <tr>
            <th>{% trans "Paths" %}</th>
            <td>
                {% for p in poi.paths.all %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li>{{ p.name_display|safe }}</li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    {% trans "None" %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Trekkings" %}</th>
            <td>
                {% for t in poi.treks %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li>{{ t.name_display|safe }}</li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    {% trans "None" %}
                {% endfor %}
            </td>
        </tr>
    </table>
{% endblock detailspanel %}
