{% extends "mapentity/entity_form.html" %}

{% load i18n crispy_forms_tags %}

{% block mainform %}
    <form id="mainform" action="{% if object.pk %}{{ object.get_update_url }}{% else %}{{ object.get_add_url }}{% endif %}" method="POST">
    
    {% crispy form %}
    
    <fieldset class="formset">
        {{ relationship_formset.management_form }}
        {% for relationship_form in relationship_formset %}
            <div class="form-row inline controls controls-row {{ relationship_formset.prefix }}">
            {% crispy relationship_form %}
            </div>
        {% endfor %}
    </fieldset>
    
    </form>
{% endblock mainform %}


{% block extrabody %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            // TODO: do this with crispyforms !
            $("fieldset.formset").detach().appendTo('#mainform fieldset');

            $('.form-row.inline.{{ relationship_formset.prefix }}').formset({
                prefix: '{{ relationship_formset.prefix }}',
                keepFieldValues: "[name='csrfmiddlewaretoken']",
                addCssClass: 'btn btn-success add-row',
                deleteCssClass: 'delete-row',
                addText: '{% trans "Add relation" %}',
                deleteText: '{% trans "Remove" %}', 
            })


            /* Show advanced tab if error in there */
            if ($('.tab-content #advanced .error').length > 0) {
                $('#tab-advanced a').addClass('error').click();
            }

            // Initialize map states on tab change
            $('.nav-tabs a').on('shown', function (e) {
                if (e.target.getAttribute('href') == '#advanced') {
                    var parkingMap = window.maps[0],
                        topoMap =  window.maps[1];
                    console.assert(parkingMap._container.getAttribute('id'), 'map_parking_location');
                    // Force redraw
                    parkingMap.invalidateSize();
                    // Synchronize map center of parking from topology
                    topoMap.on('move', function () {
                        parkingMap.setView(topoMap.getCenter(), topoMap.getZoom());
                    })
                }
            })
        });
    </script>
{% endblock extrabody %}