{% extends "mapentity/entity_detail.html" %}
{% load i18n static field_verbose_name %}


{% block download %}
    {{ block.super }}
    <a class="btn btn-mini" href="{% url trekking:trek_gpx_detail object.pk %}"><img src="{% static "paperclip/fileicons/gpx.png" %}"/> {% trans "GPX" %}</a>
    <a class="btn btn-mini" href="{% url trekking:trek_kml_detail object.pk %}"><img src="{% static "paperclip/fileicons/kml.png" %}"/> {% trans "KML" %}</a>
{% endblock download %}


{% block mapinit %}
    // POIs markers
    var pointToLayer = function (geojson, latlng) {
        var url = "{% url trekking:poi_detail 0 %}".replace('0', geojson.properties.pk);
        return L.marker(latlng).bindPopup('<a href="' + url + '">{% trans "Details" %}</a>');;
    };

    // Trek POIs layer
    var pois = new L.ObjectsLayer(null, {
        pointToLayer: pointToLayer, 
        indexing: false
    });
    pois.load('{% url trekking:trek_poi_geojson object.pk %}');
    map.addLayer(pois);
{% endblock mapinit %}


{% block detailspanel %}
    {{ block.super }}
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ trek|verbose:"name" }}</th>
            <td>{{ trek.name }}</td>
        </tr>
        <tr>
            <th>{{ trek|verbose:"themes" }}</th>
            <td>
                {% for t in trek.themes.all %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li>{{ t }}</li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    <span class="none">{% trans "None" %}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>{% trans "POIs" %}</th>
            <td>
                {% for p in trek.pois %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li>{{ p.name_display|safe }}</li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    <span class="none">{% trans "None" %}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>{% trans "POI types" %}</th>
            <td>
                {% for t in trek.poi_types %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li>{{ t }}</li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    <span class="none">{% trans "None" %}</span>
                {% endfor %}
            </td>
        </tr>
    </table>

    <h3>{% trans "Management" %}</h3>
    <table class="table">
        <tr>
            <th>{% trans "Paths" %}</th>
            <td>
                {% for p in trek.paths.all %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li>{{ p.name_display|safe }}</li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    <span class="none">{% trans "None" %}</span>
                {% endfor %}
            </td>
        </tr>
    </table>
{% endblock detailspanel %}
