#altitudegraph {
    position: fixed;
    bottom: 24px;
    right: 14px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    padding: 5px;
    width: 30%;
}

#altitudegraph h4 {
    margin: 0px;
}

#altitudegraph.colapsed {
    width: revert;
}
#altitudegraph.colapsed img,
#altitudegraph.colapsed h4 {
    display: none;
}

#altitudegraph a.toggle {
    background: url(images/toggle.png) no-repeat;
    background-position: 1px 2px;
    background-repeat: no-repeat;
    float: right;
    width: 20px;
    outline: none;
    text-decoration: none;
}

#altitudegraph.colapsed a.toggle {
    background-position: 1px -18px;
}

body.screamshot #altitudegraph {
    display: none;
}
