{% extends "mapentity/mapentity_detail_attributes.html" %}
{% load i18n mapentity_tags feedback_tags %}


{% block attributes %}
    {% suricate_workflow_enabled as suricate_workflow_enabled %}
    {% workflow_manager as workflow_manager %}
    <h3>{% trans "Attributes" %}</h3>
    <table class="table-striped table-bordered table">
        {% if not suricate_workflow_enabled or request.user.pk == workflow_manager or request.user.is_superuser%}
            <tr>
                <th>{{ report|verbose:"email" }}</th>
                <td>{{ report.email }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>{{ report|verbose:"comment" }}</th>
            <td>{{ report.comment|safe|linebreaks }}</td>
        </tr>
        <tr>
            <th>{{ report|verbose:"activity" }}</th>
            <td>{% if report.activity %}{{ report.activity|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ report|verbose:"category" }}</th>
            <td>{% if report.category %}{{ report.category|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ report|verbose:"problem_magnitude" }}</th>
            <td>{% if report.problem_magnitude %}{{ report.problem_magnitude|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ report|verbose:"status" }}</th>
            <td>{% if report.status %}{{ report.status|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ report|verbose:"related_trek" }}</th>
            <td>{% if report.related_trek %}{{ report.related_trek|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Districts" %}</th>
            <td>
                {% for district in report.districts %}
                    {{ district.name }}{% if not forloop.last %}, {% endif %}
                {%endfor%}
            </td>
        </tr>
        <tr>
            <th>{% trans "Cities" %}</th>
            <td>
                {% for city in report.cities %}
                    {{ city.name }}{% if not forloop.last %}, {% endif %}
                {%endfor%}
            </td>
        </tr>
        <tr>
            <th>{{ report|verbose:"assigned_user" }}</th>
            <td>{% if report.assigned_user %}{{ report.assigned_user|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        {% if suricate_workflow_enabled %}
        <tr>
            <th>{{ report|verbose:"created_in_suricate" }}</th>
            <td>{{ report.created_in_suricate }}</td>
        <tr>
            <th>{{ report|verbose:"last_updated_in_suricate" }}</th>
            <td>{{ report.last_updated_in_suricate }}</td>
        </tr>
        <tr>
            <th>{{ report|verbose:"external_uuid" }}</th>
            <td>{{ report.external_uuid }}</td>
        </tr>
        <tr>
            <th>{{ report|verbose:"origin" }}</th>
            <td>{{ report.origin }}</td>
        </tr>
        <tr>
            <th>{% trans "Messages" %}</th>
            <td>
                {% for msg in report.attachedmessage_set.all %}
                    {% if forloop.first %}
                    <table>
                    <thead><th>{% trans "Text" %}</th><th>{% trans "Author" %}</th><th>{% trans "Date" %}</th></thead>
                    <tbody>
                    {% endif %}
                    <tr><td>{{ msg.content|safe|linebreaks }}</td><td>{{ msg.author }}</td><td>{{ msg.date }}</td></tr>
                    {% if forloop.last %}
                    </tbody>
                    </table>
                    {% endif %}
                {% empty %}
                    <span class="none">{% trans "None" %}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>{{ report|verbose:"uses_timers" }}</th>
            <td>{% if report.uses_timers %}{% trans "Yes" %}{% else %}{% trans "No"%}{% endif %}</td>
        </tr>
            <tr>
                <th>{{ report|verbose:"eid" }}</th>
                <td>{{ report.eid }}</td>
            </tr>
        <tr>
            <th>{{ report|verbose:"locked" }}</th>
            <td>{% if report.locked %}{% trans "Yes" %}{% else %}{% trans "No"%}{% endif %}</td>
        </tr>
        {% endif %}
        {% include "mapentity/trackinfo_fragment.html" %}
    </table>
    
    <table class="table">
        <tr>
            <td colspan="3">
            {% if perms.maintenance.add_intervention %}
                <h3>{% trans "Intervention" %}</h3>
                    {% with columns="name,status,stake,total_cost,begin_date,end_date" %}
                            {% valuetable report.interventions.all columns=columns %}
                    {% endwith %}
                    {% if not suricate_workflow_enabled %}
                        <p class="spacer"></p>
                        <p class="autohide">
                            <a href="{% url 'maintenance:intervention_add' %}?target_id={{ report.pk }}&target_type={{ report.get_content_type_id }}"
                            class="btn btn-sm btn-success">
                            <i class="bi bi-plus-circle-fill"></i> {% trans "Add a new intervention" %}</a>
                        </p>
                    {% elif suricate_workflow_enabled and report.interventions.all|length == 0 %}
                        {% if report.status.identifier == 'late_intervention' or report.status.identifier == 'waiting' %}
                            <p class="spacer"></p>
                            <p class="autohide">
                                <a href="{% url 'maintenance:intervention_add' %}?target_id={{ report.pk }}&target_type={{ report.get_content_type_id }}"
                                class="btn btn-sm btn-success">
                                <i class="bi bi-plus-circle-fill"></i> {% trans "Add a new intervention" %}</a>
                            </p>
                        {% endif %}
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    </table>

{% endblock attributes %}
