{% extends "common/common_detail.html" %}
{% load feedback_tags i18n %}


{% block detailspanel %}
    {% suricate_workflow_enabled as suricate_workflow_enabled %}
    {% if suricate_workflow_enabled %}
        {% if object.sync_errors > 0 %}
            <div class="alert alert-danger">
                <strong>{% trans "Some data could not be forwarded to Suricate yet - Please come back later" %}</strong>
            </div>
        {% endif %}
        {% if object.mail_errors > 0 %}
        <div class="alert alert-danger">
            <strong>{% trans "A notification email could not be sent. Please contact an administrator" %}</strong>
        </div>
        {% endif %}
    {% endif %}
    {{ block.super }}
    <p hidden=true id="report_color">{{ report.color }}</p>
{% endblock detailspanel %}
