{% load i18n mapentity_tags static %}

{% block body %}
	<body>
		{% block style %}

			<style type="text/css">
				{% include template_css %}
			</style>

		{% endblock style %}

		{% block EntityDetail %}

			{% include template_attributes %}

			{% if object.pictures %}
				<img src="file://{{ object.pictures.0.attachment_file.path }}" id="EntityImage">
			{% endif %}

			{% block Map %}
				<h3>{% trans "Map" %}</h3>
				<img src="file://{{ map_path }}" id="EntityScreenshot">
			{% endblock Map %}

		{% endblock EntityDetail %}
	</body>
{% endblock body %}
