{% extends "mapentity/mapentity_detail_attributes.html" %}
{% load i18n mapentity_tags %}


{% block attributes %}
    <h3>{% trans "Attributes" %}</h3>

    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ report|verbose:"name" }}</th>
            <td>{{ report.name }}</td>
        </tr>
        <tr>
            <th>{{ report|verbose:"email" }}</th>
            <td>{{ report.email }}</td>
        </tr>
        <tr>
            <th>{{ report|verbose:"comment" }}</th>
            <td>{{ report.comment|safe }}</td>
        </tr>
        <tr>
            <th>{{ report|verbose:"category" }}</th>
            <td>{{ report.category }}</td>
        </tr>
        {% include "mapentity/trackinfo_fragment.html" %}
    </table>
{% endblock attributes %}
