{% extends "mapentity/mapentity_detail_attributes.html" %}
{% load i18n mapentity_tags feedback_tags %}


{% block attributes %}
    <h3>{% trans "Attributes" %}</h3>
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ report|verbose:"email" }}</th>
            <td>{{ report.email }}</td>
        </tr>
        <tr>
            <th>{{ report|verbose:"comment" }}</th>
            <td>{{ report.comment|safe|linebreaks }}</td>
        </tr>
        <tr>
            <th>{{ report|verbose:"activity" }}</th>
            <td>{{ report.activity }}</td>
        </tr>
        <tr>
            <th>{{ report|verbose:"category" }}</th>
            <td>{{ report.category }}</td>
        </tr>
        <tr>
            <th>{{ report|verbose:"problem_magnitude" }}</th>
            <td>{{ report.problem_magnitude }}</td>
        </tr>
        <tr>
            <th>{{ report|verbose:"status" }}</th>
            <td>{{ report.status }}</td>
        </tr>
        <tr>
            <th>{{ report|verbose:"related_trek" }}</th>
            <td>{{ report.related_trek }}</td>
        </tr>
        <tr>
            <th>{% trans "Districts" %}</th>
            <td>
                {% for district in report.districts %}
                    {{ district.name }}{% if not forloop.last %}, {% endif %}
                {%endfor%}
            </td>
        </tr>
        <tr>
            <th>{% trans "Cities" %}</th>
            <td>
                {% for city in report.cities %}
                    {{ city.name }}{% if not forloop.last %}, {% endif %}
                {%endfor%}
            </td>
        </tr>
        <tr>
            <th>{{ report|verbose:"assigned_user" }}</th>
            <td>{{ report.assigned_user }}</td>
        </tr>
        {% suricate_management_enabled as suricate_management_enabled %}
        {% if suricate_management_enabled %}
        <tr>
            <th>{{ report|verbose:"created_in_suricate" }}</th>
            <td>{{ report.created_in_suricate }}</td>
        <tr>
            <th>{{ report|verbose:"last_updated_in_suricate" }}</th>
            <td>{{ report.last_updated_in_suricate }}</td>
        </tr>
        <tr>
            <th>{{ report|verbose:"uid" }}</th>
            <td>{{ report.uid }}</td>
        </tr>
        <tr>
            <th>{{ report|verbose:"origin" }}</th>
            <td>{{ report.origin }}</td>
        </tr>
        <tr>
            <th>{% trans "Messages" %}</th>
            <td>
                {% for msg in report.attachedmessage_set.all %}
                    {% if forloop.first %}
                    <table>
                    <thead><th>{% trans "Text" %}</th><th>{% trans "Author" %}</th><th>{% trans "Date" %}</th></thead>
                    <tbody>
                    {% endif %}
                    <tr><td>{{ msg.content|safe|linebreaks }}</td><td>{{ msg.author }}</td><td>{{ msg.date }}</td></tr>
                    {% if forloop.last %}
                    </tbody>
                    </table>
                    {% endif %}
                {% empty %}
                    <span class="none">{% trans "None" %}</span>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% suricate_workflow_enabled as suricate_workflow_enabled %}
        {% if suricate_workflow_enabled %}
        <tr>
            <th>{{ report|verbose:"uses_timers" }}</th>
            <td>{{ report.uses_timers }}</td>
        </tr>
        <tr>
            <th>{{ report|verbose:"locked" }}</th>
            <td>{{ report.locked }}</td>
        </tr>
        {% endif %}
        {% include "mapentity/trackinfo_fragment.html" %}
    </table>
    
    <table class="table">
        <tr>
            <td colspan="3">
            {% if perms.maintenance.add_intervention %}
                <h3>{% trans "Intervention" %}</h3>
                    {% with columns="name,status,stake,total_cost,date" %}
                            {% valuetable report.interventions.all columns=columns %}
                    {% endwith %}
                    {% if not suricate_workflow_enabled %}
                        <p class="spacer"></p>
                        <p class="autohide">
                            <a href="{% url 'maintenance:intervention_add' %}?target_id={{ report.pk }}&target_type={{ report.get_content_type_id }}"
                            class="btn btn-sm btn-success">
                            <i class="bi bi-plus-circle-fill"></i> {% trans "Add a new intervention" %}</a>
                        </p>
                    {% elif suricate_workflow_enabled and report.interventions.all|length == 0 and report.status.identifier == "waiting" %}
                        <p class="spacer"></p>
                        <p class="autohide">
                            <a href="{% url 'maintenance:intervention_add' %}?target_id={{ report.pk }}&target_type={{ report.get_content_type_id }}"
                            class="btn btn-sm btn-success">
                            <i class="bi bi-plus-circle-fill"></i> {% trans "Add a new intervention" %}</a>
                        </p>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    </table>

{% endblock attributes %}
