{% extends "mapentity/mapentity_detail.html" %}
{% load feedback_tags i18n %}


{% block detailspanel %}
    {% suricate_workflow_enabled as suricate_workflow_enabled %}
    {% if suricate_workflow_enabled and object.sync_error %}
        <div class="alert alert-danger">
            <strong>{% trans "Some data could not be forwarded to Suricate yet - Please come back later" %}</strong>
        </div>
    {% endif %}
    {{ block.super }}
    <p hidden=true id="report_color">{{ report.color }}</p>
{% endblock detailspanel %}
