{% load i18n %}

<h3>{% trans "Maintenance" %}</h3>
<table class="table">
    <tr>
        <th>{% trans "Interventions" %}</th>
        <td>
            <p><a href="{% url maintenance:intervention_add %}" class="btn btn-mini btn-success">
                <i class="icon-plus icon-white"></i> {% trans "Add intervention" %}</a>
            </p>
            {% for i in object.interventions.all %}
                {% if forloop.first %}<ul>{% endif %}
                <li>{{ i.name_display|safe }}</li>
                {% if forloop.last %}</ul>{% endif %}
            {% empty %}
                <span class="none">{% trans "None" %}</span>
            {% endfor %}
        </td>
    </tr><tr>
        <th>{% trans "Projects" %}</th>
        <td>
            {% for p in object.projects.all %}
                {% if forloop.first %}<ul>{% endif %}
                <li>{{ p.name_display|safe }}</li>
                {% if forloop.last %}</ul>{% endif %}
            {% empty %}
                <span class="none">{% trans "None" %}</span>
            {% endfor %}
        </td>
    </tr>
</table>
