{% load i18n %}

<h3>{% trans "Maintenance" %}</h3>
<table class="table">
    <tr>
        <th>{% trans "Interventions" %}</th>
        <td>
            <p><a href="{% url maintenance:intervention_add %}" class="btn btn-mini btn-success">
                <i class="icon-plus icon-white"></i> {% trans "Add intervention" %}
            </a></p>
            {% for i in path.interventions %}
                {% if forloop.first %}<ul>{% endif %}
                <li>{{ i.name_display|safe }}</li>
                {% if forloop.last %}</ul>{% endif %}
            {% empty %}
                {% trans "None" %}
            {% endfor %}
        </td>
    </tr><tr>
        <th>{% trans "Projects" %}</th>
        <td>
            {% for p in path.projects %}
                {% if forloop.first %}<ul>{% endif %}
                <li>{{ p.name_display|safe }}</li>
                {% if forloop.last %}</ul>{% endif %}
            {% empty %}
                {% trans "None" %}
            {% endfor %}
        </td>
    </tr><tr>
        <th>{% trans "Infrastructures" %}</th>
        <td>
            {% for i in path.infrastructures %}
                {% if forloop.first %}<ul>{% endif %}
                <li>{{ i.name_display|safe }}</li>
                {% if forloop.last %}</ul>{% endif %}
            {% empty %}
                {% trans "None" %}
            {% endfor %}
        </td>
    </tr><tr>
        <th>{% trans "Signages" %}</th>
        <td>
            {% for s in path.signages %}
                {% if forloop.first %}<ul>{% endif %}
                <li>{{ s.name_display|safe }}</li>
                {% if forloop.last %}</ul>{% endif %}
            {% empty %}
                {% trans "None" %}
            {% endfor %}
        </td>
    </tr>
</table>
