{% extends "mapentity/entity_detail.html" %}
{% load i18n field_verbose_name %}

{% block detailspanel %}
    {{ block.super }}
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ project|verbose:"name" }}</th>
            <td>{{ project.name }}</td>
        </tr>
        {% include "mapentity/trackinfo_fragment.html" %}
        <tr>
            <th>{% trans "Fundings" %}</th>
            <td>
                {% for f in project.funding_set.all %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li>
                    {% blocktrans with f.amount as amount and f.organism as organism %}
                    {{ amount }}€ by {{ organism }}
                    {% endblocktrans %}
                    </li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    <span class="none">{% trans "None" %}</span>
                {% endfor %}
            </td>
        </tr>
    </table>

    <h3>{% trans "Management" %}</h3>
    <table class="table">
        <tr>
            <th>{% trans "Paths" %}</th>
            <td class="paths">
                {% for p in project.paths %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li>{{ p.name_display|safe }}</li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    <span class="none">{% trans "None" %}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Trails" %}</th>
            <td>
                {% for t in project.trails %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li>{{ t.name_display|safe }}</li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    <span class="none">{% trans "None" %}</span>
                {% endfor %}
            </td>
        </tr>
    </table>
{% endblock detailspanel %}
