{% extends "mapentity/entity_detail.html" %}
{% load i18n field_verbose_name %}

{% block detailspanel %}
    {{ block.super }}
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ project|verbose:"name" }}</th>
            <td>{{ project.name }}</td>
        </tr>
        <tr>
            <th>{% trans "Fundings" %}</th>
            <td>
                {% for f in project.funding_set.all %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li>
                    {% blocktrans with f.amount as amount and f.organism as organism %}
                    {{ amount }}€ by {{ organism }}
                    {% endblocktrans %}
                    </li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    {% trans "None" %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Interventions" %}</th>
            <td>
                {% for intervention in project.interventions.all %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li>{{ intervention.name_display|safe }}</li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    {% trans "None" %}
                {% endfor %}
            </td>
        </tr>
    </table>

    <h3>{% trans "Management" %}</h3>
    <table class="table">
        <tr>
            <th>{% trans "Paths" %}</th>
            <td>
                {% for p in project.paths %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li>{{ p.name_display|safe }}</li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    {% trans "None" %}
                {% endfor %}
            </td>
        </tr><tr>
            <th>{% trans "Infrastructures" %}</th>
            <td>
                {% for i in project.infrastructures %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li>{{ i.name_display|safe }}</li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    {% trans "None" %}
                {% endfor %}
            </td>
        </tr><tr>
            <th>{% trans "Signages" %}</th>
            <td>
                {% for s in project.signages %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li>{{ s.name_display|safe }}</li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    {% trans "None" %}
                {% endfor %}
            </td>
        </tr>
    </table>
{% endblock detailspanel %}
