{% extends "mapentity/entity_form.html" %}
{% load crispy_forms_tags %}

{% block mainform %}
    <form action="/project/add/" method="POST">
        {% csrf_token %}
        <input type="submit"/>
        
    {% crispy form %}
    <fieldset class="formset">
        {% for funding_form in funding_formset %}
            <div class="form-row inline {{ funding_formset.prefix }}">
            {% crispy funding_form %}
            </div>
        {% endfor %}
    </fieldset>
    
    </form>
{% endblock mainform %}

{% block extrabody %}
<script type="text/javascript">
$(function() {
    $('.form-row.inline.{{ funding_formset.prefix }}').formset({
        prefix: '{{ funding_formset.prefix }}',
    })
})
</script>
{% endblock extrabody %}
