[buildout]
parts +=
    convertit-script
    bpython

extends =
    buildout.cfg

eggs +=
    convertit
    screamshotter
    django-debug-toolbar
    django-extensions
    Werkzeug
    bpython

[bpython]
recipe = zc.recipe.egg:scripts
eggs = ${buildout:eggs}
scripts = bpython

[django]
settings = settings.dev

[sources]
mapentity = git https://github.com/makinacorpus/django-mapentity.git branch=develop

[convertit-script]
recipe = zc.recipe.egg
eggs = convertit
# Supposed to be ran like (pserve) : convertit src/convertit/development.ini
scripts = convertit
entry-points = convertit=pyramid.scripts.pserve:main
