[buildout]
extends =
    buildout.cfg

app-parts=
    nginx-conf
    nginx-inc-conf
    gunicorn-app-conf
    gunicorn-api-conf
    gunicorn-celery-conf
    supervisor-geotrek-conf
    supervisor-geotrek-api-conf
    supervisor-geotrek-celery-conf

maintenance-parts=
    gunicorn
    logrotate-conf

parts +=
    ${buildout:app-parts}
    ${buildout:maintenance-parts}

eggs +=
    gunicorn
    Paste
    python-memcached

[mkdirs]
paths += ${django:deployroot}/var/log/
         ${django:deployroot}/var/tmp/
         ${django:deployroot}/etc/init
         ${django:deployroot}/etc/nginx.d

[gunicorn]
recipe = zc.recipe.egg
scripts = gunicorn_paster
          gunicorn
eggs = ${buildout:eggs}
       PasteDeploy

[gunicorn-app-conf]
recipe = collective.recipe.genshi
# workers and timeout are set ``conf/settings-default.cfg`` and can be overidden
bind = unix:/tmp/gunicorn-${django:project}.sock
pidfile = ${django:pidroot}/gunicorn-${django:project}.pid
input = ${buildout:directory}/conf/gunicorn.conf.in
output = ${buildout:directory}/etc/gunicorn-${django:project}.conf


[gunicorn-api-conf]
recipe = collective.recipe.genshi
# workers and timeout are set ``conf/settings-default.cfg`` and can be overidden
bind = unix:/tmp/gunicorn-${django:project}_api.sock
pidfile = ${django:pidroot}/gunicorn-${django:project}_api.pid
input = ${buildout:directory}/conf/gunicorn.conf.in
output = ${buildout:directory}/etc/gunicorn-${django:project}_api.conf

[gunicorn-celery-conf]
recipe = collective.recipe.genshi
# workers and timeout are set ``conf/settings-default.cfg`` and can be overidden
bind = unix:/tmp/gunicorn-${django:project}_celery.sock
pidfile = ${django:pidroot}/gunicorn-${django:project}_celery.pid
input = ${buildout:directory}/conf/gunicorn.conf.in
output = ${buildout:directory}/etc/gunicorn-${django:project}_celery.conf

[supervisor-geotrek-conf]
recipe = collective.recipe.genshi
program = geotrek
command = ${django:deployroot}/bin/gunicorn --config=${django:deployroot}/etc/gunicorn-geotrek.conf geotrek.wsgi
autostart = true
user = ${buildout:user}
priority = 20
directory = ${django:deployroot}/etc
stdout_logfile = /var/log/supervisor/geotrek.log
redirect_stderr = true
input = ${buildout:directory}/conf/supervisor-program.conf.in
output = ${buildout:directory}/etc/supervisor-geotrek.conf

[supervisor-geotrek-api-conf]
recipe = collective.recipe.genshi
program = geotrek_api
command = ${django:deployroot}/bin/gunicorn --config=${django:deployroot}/etc/gunicorn-geotrek_api.conf geotrek.wsgi
autostart = true
user = ${buildout:user}
priority = 20
directory = ${django:deployroot}/etc
stdout_logfile = /var/log/supervisor/geotrek-api.log
redirect_stderr = true
input = ${buildout:directory}/conf/supervisor-program.conf.in
output = ${buildout:directory}/etc/supervisor-geotrek-api.conf

[supervisor-geotrek-celery-conf]
recipe = collective.recipe.genshi
program = geotrek_celery
command = ${django:deployroot}/bin/django celery worker -c 1 -n geotrek
autostart = true
user = ${buildout:user}
priority = 20
directory = ${django:deployroot}/etc
stdout_logfile = /var/log/supervisor/geotrek-celery.log
redirect_stderr = true
input = ${buildout:directory}/conf/supervisor-program.conf.in
output = ${buildout:directory}/etc/supervisor-geotrek-celery.conf

[nginx-conf]
recipe = collective.recipe.genshi
port = 80
input = ${buildout:directory}/conf/nginx.conf.in
output = ${django:deployroot}/etc/nginx.conf
expiretime = 1d
server_aliases =
logformat=
level=
real_ip=
accesslog = /var/log/nginx/geotrek_access.log
errorlog = /var/log/nginx/geotrek_error.log

[nginx-inc-conf]
recipe = collective.recipe.genshi
input = ${buildout:directory}/conf/nginxinc.conf.in
output = ${django:deployroot}/etc/nginx.d/inc.conf

[logrotate-conf]
recipe = collective.recipe.genshi
input = ${buildout:directory}/conf/logrotate.conf.in
output = ${django:deployroot}/etc/logrotate.conf

[versions]
collective.recipe.genshi = 1.0
collective.recipe.template = 1.9
Genshi = 0.6
meld3 = 0.6.8
gunicorn = 19.6.0
python-memcached = 1.51
