#
#  Geotrek Settings
#..........................
# 
#  Press "Esc" and then ":wq" to save and exit.
#
# (Note: If you edit this file out of install process, 
#  run "make deploy" to apply changes, or "make serve" in development)

[settings]
# Default structure for newly created users
defaultstructure = PNE

# URL prefix, leave empty if dedicated server. (example: /ecrins)
rooturl = 

# Default language and list of available
language = fr
languages = en,fr,it

# Database
dbname = geotrekdb
dbuser = geotrek
dbpassword = geotrek
dbhost = localhost
dbport = 5432

#
#  GIS settings
#..........................

# EPSG code of the coordinate system to use
srid = 2154
# (minx, miny, maxx, maxy) expressed in the coordinate system above
spatial_extent = 700000, 6325197, 1060000, 6617738
# (minx, miny, maxx, maxy) expressed in WGS84
spatial_extent_wgs84 = 5.0, 43.8, 7.5, 45.8
# Resolution at zoomlevel 0
max_resolution = 1142.7383
# WMS server url
wms_url = http://extranet.parcnational.fr/pnx/wms?
# Layers for aerial picture
ortho_layers = ortho
# Layers for scan map
scan_layers = scan100,scan25
# Layers colors
layercolor_paths = #DD00FF
layercolor_land = #FF9700
layercolor_others = #ffff00

#
#  Email settings
#..........................

# Recipient
mailadmin = admin@yourdomain.tld
# Server config
mailfrom = 
mailhost =
mailuser =
mailpassword = 
mailport = 25
mailtls = False

#
#  Advanced settings
#..........................

# Cache duration in seconds
cachetimeout = 60 * 60


#
#  External authent settings
#...........................

# Configure remote authentication (see README file for details)

# Table or view to query
authent_tablename = 
# Connection
authent_dbname = 
authent_dbuser = 
authent_dbpassword = 
authent_dbhost = 
authent_dbport = 5432
authent_engine = postgresql_psycopg2
