#
#  Geotrek Settings
#..........................
#
# (Note: If you edit this file out of install process,
#  re-run "./install.sh" to apply changes)

[settings]

# Comma separated IP (and domains) of this server
host = 88.99.17.89, .myserver.com, .myserver.com.

# Default structure for newly created users
defaultstructure = PNX

# Default language and list of available
language = fr
languages = en,fr,it,es

# Database
dbname = geotrekdb
dbuser = geotrek
dbpassword = geotrek
dbhost = localhost
dbport = 5432

# API secret key
secret_key = change_this_key_with_a_value_of_your_choice

#
#  GIS settings
#..........................

# EPSG code of the coordinate system to use
srid = 2154
# (minx, miny, maxx, maxy) expressed in the coordinate system above
spatial_extent = 924861,6375196,985649,6448688
# WMS server url
wms_url = http://extranet.parcnational.fr/pnx/wms?
# Layers for aerial picture
ortho_layers = ortho
# Layers for scan map
scan_layers = scan100,scan25

#
#  Email settings
#..........................

# Recipient
mailadmin = admin@yourdomain.tld
# Server config
mailfrom =
mailhost =
mailuser =
mailpassword =
mailport = 25
mailtls = False
