#
#  Geotrek Settings
#..........................
#
# (Note: If you edit this file out of install process,
#  re-run "./install.sh" to apply changes.
#  Running "make env_standalone deploy" is faster and might be enough
#  depending on the entries you modified...)

[settings]

# Default structure for newly created users
defaultstructure = PNX

# Default language and list of available
language = fr
languages = en,fr,it,es

# Database
dbname = geotrekdb
dbuser = geotrek
dbpassword = geotrek
dbhost = localhost
dbport = 5432

# API secret key
secret_key = change_this_key_with_a_value_of_your_choice

#
#  GIS settings
#..........................

# EPSG code of the coordinate system to use (projection unit must be meter)
srid = 2154
# (minx, miny, maxx, maxy) expressed in the coordinate system above
spatial_extent = 105000, 6150000, 1100000, 7150000

#
#  Email settings
#..........................

# Recipients
mailadmins = admin@yourdomain.tld
mailmanagers = manager1@yourdomain.tld, manager2@yourdomain.tld

# Server config
mailfrom =
mailhost =
mailuser =
mailpassword =
mailport = 25
mailtls = False
mailssl = False

mailalertsubject = Geotrek : Signal a mistake
mailalertmessage = Hello,

                    We acknowledge receipt of your feedback, thank you for your interest in Geotrek.

                    Best regards,

                    The Geotrek Team
                    http://www.geotrek.fr

[nginx-conf]
# cors = domain.name.of.geotrek-rando.com
