{% extends "mapentity:mapentity/base.html" %}

{% load static from staticfiles %}

{% block extrabody %}

    {{ block.super }}

    {% if FORCED_LAYERS and FORCED_LAYERS != "[]" %}

    <div id="forced_layers_data" data-options="{{ FORCED_LAYERS }}" />

    <script type="text/javascript" src="{% static 'core/js/turf.min.js' %}"></script>

    <script type="text/javascript">
    	/*
    	 * Force layers in polygons defined in context
    	 */

    	var polygons_forced_layers = [];
    	var map;
        var turf_map_center = null;
    	var json_forced_layers = null;

        function create_turf_point(){
            temp_current_center = map.getCenter();
            return {
                "type" : "Feature",
                "geometry" : {
                    "type" : "Point",
                    "coordinates" : [L.latLng(temp_current_center).lat,
                                     L.latLng(temp_current_center).lng]
                }
            };
        }

        function check_layer_switch(){
            turf_map_center = create_turf_point();

            $.each(polygons_forced_layers, function(index, value) {
                if (turf.inside(turf_map_center, value[0])) {
                    // remove forced layer
                    map.removeLayer(value[1]);
                } else {
                    // add forced layer
                    map.addLayer(value[1]);
                }
            });
        }

    	$(window).on('detailmap:ready', function(e, data) {
    	    map = data.map;
            json_forced_layers = $('#forced_layers_data').data('options');

            $.each(json_forced_layers, function(index, value) {
                polygons_forced_layers.push([{
                        "type" : "Feature",
            	        "properties" : {},
            		    "geometry" : { "type" : "Polygon",
            		                   "coordinates" : value.coordinates }
                    }, new L.TileLayer(value.layer,
                                       { minZoom : 0,
                                         maxZoom : 20,
                                         attribution : '',
                                         zIndex : 99})]);
            });

            check_layer_switch();

            map.on('move', function() {
                check_layer_switch();
            });
    	});
    </script>

    {% endif %}

{% endblock %}
