{% load staticfiles i18n %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{{ TITLE }}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
    <link rel="icon" type="image/png" href="{% static "favicon.png" %}" />
    {% endblock head %}
</head>
<body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">{{ TITLE }}</a>
          <ul class="nav pull-right">
            {% block toolbar %}
            {% endblock toolbar %}
            <li class="divider-vertical"></li>
            {% if request.user.is_authenticated %}
                <li><a href="#">{{ request.user }} ({{ request.user.profile.structure }})</a></li>
                {% if request.user.is_staff %}
                    <li><a href="{% url admin:index %}">{% trans "Admin" %}</a></li>
                {% endif %}
                <li><a href="{% url logout %}">{% trans "Logout" %}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    {% block body %}
        <div class="content">
          {% block content %}
          {% endblock content %}
        </div>
    {% endblock body %}
</body>
</html>
