{% extends "main.html" %}
{% load static i18n %}


{% block content %}

        {% block navigation %}
        <!-- Onglets Recherche/Fiche/Histo -->
        <div class="row-fluid">
            <ul class="nav nav-tabs">
                <li class="{% block nav-list %}{% endblock nav-list %}"><a href="{% url home %}">{% trans "Search" %} <span id="nbresults" class="badge">?</span></a></li>
                {% for item in request.session.history %}
                    <li class="{% if forloop.first %}{% block nav-detail %}{% endblock nav-detail %}{% endif %}"><a href="{{ item.1 }}">{{ item.0 }}</a></li>
                {% endfor %}
                <li class="pull-right {% block nav-report %}disabled{% endblock nav-report %}"><a href="#">{% trans "Reporting" %}</a></li>
                <li class="pull-right {% block nav-logbook %}disabled{% endblock nav-logbook %}"><a href="#">{% trans "Logbook" %}</a></li>
            
            </ul>
        </div> <!--/row-->    
        {% endblock navigation %}
        
        <div id="container" class="container-fluid">

            <!-- Onglets des modules -->
            <div id="viewport-l4" class="row-fluid">

                {% block mainpanel %}

                <!-- Liste des modules -->
                <div class="span1">
                    <ul id="listeModules" class="nav nav-pills nav-stacked">
                        <li class="{% block nav-path %}{% endblock nav-path %}"><a href="{% url core:path_list %}"><img src="{% static "images/path.png" %}" style="width: 50px;"></img>{% trans "Path" %}</a></li>
                        <li class="{% block nav-intervention %}{% endblock nav-intervention %}"><a href="{% url maintenance:intervention_list %}"><img src="{% static "images/work.png" %}"/>{% trans "Intervention" %}</a></li>
                        <li class="{% block nav-project %}{% endblock nav-project %}"><a href="{% url maintenance:project_list %}"><img src="{% static "images/project.png" %}"/>{% trans "Project" %}</a></li>
                        <li class="{% block nav-signage %}{% endblock nav-signage %}"><a href="{% url infrastructure:signage_list %}"><img src="{% static "images/signage.png" %}"/>{% trans "Signage" %}</a></li>
                        <li class="{% block nav-infrastructure %}{% endblock nav-infrastructure %}"><a href="{% url infrastructure:infrastructure_list %}"><img src="{% static "images/infrastructure.png" %}"/>{% trans "Infrastructure" %}</a></li>
                        <li class="{% block nav-trekking %}{% endblock nav-trekking %}"><a href="{% url trekking:trek_list %}"><img src="{% static "images/trekking.png" %}"/>{% trans "Trekking" %}</a></li>
                        <li class="{% block nav-poi %}{% endblock nav-poi %}"><a href="{% url trekking:poi_list %}"><img src="{% static "images/poi.png" %}"/>{% trans "POI" %}</a></li>
                    </ul>
                </div> <!--/span-->

                <!-- Zone des résultats -->
                <div id="results-panel" class="span5">
                
                    <!-- Nom du module
                    <h2>Module 1</h2> -->
            
                    <!-- Zone des boutons -->
                    <div class="btn-toolbar">
                        {% block mainactions %}
                        {% endblock mainactions %}
                    </div> <!--/row-->
                    
                    {% block mainlist %}
                    {% endblock mainlist %}

                    <div class="pull-right">
                        <p>
                            <i class="icon-download-alt"></i> 
                            Exporter la liste
                        </p>
                        <p>
                            <button class="btn">Type1</button>    
                            <button class="btn">Type2</button>    
                            <button class="btn">Type3</button>    
                        </p>
                    </div>
                </div><!--/span-->

                <!-- Zone de carte -->
                <div id="panelright" class="span6">
                    {% block mainmap %}
                    {% endblock mainmap %}
                    
                    <div id="mainmap-controls" class="">
                        <p>
                            <i class="icon-download-alt"></i> 
                            Exporter la carte
                        </p>
                        <p>
                            <button class="btn">Type1</button>    
                            <button class="btn">Type2</button>    
                        </p>
                    </div><!--/pull-right-->
                </div><!--/span-->
                
                {% endblock mainpanel %}

            </div><!--/row-->
        </div><!--/container-->

{% endblock content %}
