{% extends "base.html" %}
{% load static i18n %}

{% block content %}

        <!-- Onglets Recherche/Fiche/Histo -->
        <div class="row-fluid">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Modules</a></li>
                <li><a href="#">[nom fiche]</a></li>
                <li class="dropdown t"> <!-- Onglet Histo (avec dropdown) -->    
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Dernières fiches consultées
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Fiche 1</a></li>
                        <li><a href="#">Fiche 2</a></li>
                        <li><a href="#">Fiche 3</a></li>
                        <li><a href="#">Fiche 4</a></li>
                        <li><a href="#">Fiche 5</a></li>
                        <li><a href="#">Fiche 6</a></li>
                        <li><a href="#">Fiche 7</a></li>
                        <li><a href="#">Fiche 8</a></li>
                        <li><a href="#">Fiche 9</a></li>
                        <li><a href="#">Fiche 10</a></li>
                    </ul>
                </li>
            </ul>
        </div> <!--/row-->    

        
        <div id="container" class="container-fluid">

            <!-- Onglets des modules -->
            <div class="row-fluid">

                <!-- Liste des modules -->
                <div class="span1">    
                    <ul id="listeModules" class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#"><img src="{% static "images/path.png" %}" style="width: 50px;"></img>Module1</a></li>
                        <li><a href="#"><img src="{% static "images/path.png" %}"/>Module2</a></li>
                        <li><a href="#"><img src="{% static "images/path.png" %}"/>Module3</a></li>
                        <li><a href="#"><img src="{% static "images/path.png" %}"/>Module4</a></li>
                        <li><a href="#"><img src="{% static "images/path.png" %}"/>Module5</a></li>
                    </ul>
                  </div> <!--/span-->    

                <!-- Zone des résultats -->
                <div class="span5">
                
                    <!-- Nom du module
                    <h2>Module 1</h2> -->
            
                    <!-- Zone des boutons -->
                    <div class="row-fluid">
                        <button class="btn"><i class="icon-plus"></i> Ajouter un tronçon</button>    
                        <div class="pull-right">
                            <p>
                                <i class="icon-download-alt"></i> 
                                Exporter la liste
                            </p>
                            <p>
                                <button class="btn">Type1</button>    
                                <button class="btn">Type2</button>    
                                <button class="btn">Type3</button>    
                            </p>
                        </div>
                    
                    </div> <!--/row-->
                
                    <!-- Liste des résultats -->
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Date d'ajout</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#">Fiche1</a></td>
                                <td>26.07.2011</td>
                                <td><button class="btn"><i class="icon-pencil"></i></button></td>
                                <td><button class="btn"><i class="icon-trash"></i></button></td>                                
                            </tr>
                            <tr>
                                <td><a href="#">Fiche2</a></td>
                                <td>26.07.2011</td>
                                <td><button class="btn"><i class="icon-pencil"></i></button></td>
                                <td><button class="btn"><i class="icon-trash"></i></button></td>
                                
                            </tr>
                            <tr>
                                <td><a href="#">Fiche3</a></td>
                                <td>26.07.2011</td>
                                <td><button class="btn"><i class="icon-pencil"></i></button></td>
                                <td><button class="btn"><i class="icon-trash"></i></button></td>
                            </tr>
                            <tr>
                                <td><a href="#">Fiche4</a></td>
                                <td>26.07.2011</td>
                                <td><button class="btn"><i class="icon-pencil"></i></button></td>
                                <td><button class="btn"><i class="icon-trash"></i></button></td>
                            </tr>
                            <tr>
                                <td><a href="#">Fiche5</a></td>
                                <td>26.07.2011</td>
                                <td><button class="btn"><i class="icon-pencil"></i></button></td>
                                <td><button class="btn"><i class="icon-trash"></i></button></td>
                            </tr>
                            <tr>
                                <td><a href="#">Fiche6</a></td>
                                <td>26.07.2011</td>
                                <td><button class="btn"><i class="icon-pencil"></i></button></td>
                                <td><button class="btn"><i class="icon-trash"></i></button></td>
                            </tr>
                            <tr>
                                <td><a href="#">Fiche7</a></td>
                                <td>26.07.2011</td>
                                <td><button class="btn"><i class="icon-pencil"></i></button></td>
                                <td><button class="btn"><i class="icon-trash"></i></button></td>
                            </tr>
                        </tbody>
                    </table>

                </div><!--/span-->

                <!-- Zone de carte -->
                <div class="span6">
                    <div class="pull-right">
                        <p>
                            <i class="icon-download-alt"></i> 
                            Exporter la carte
                        </p>
                        <p>
                            <button class="btn">Type1</button>    
                            <button class="btn">Type2</button>    
                        </p>
                    </div><!--/pull-right-->
                </div><!--/span-->

            </div><!--/row-->
        </div><!--/container-->













<h1>Liste temporaire (recette stories #10, 15, #31)</h1>
<h2>{% trans "Contractors" %}</h2>
{% for contractor in all_contractors %}
    <li>{{ contractor }}</li>
{% empty %}
    {% trans "Empty" %}
{% endfor %}

<h2>{% trans "Structure related" %}</h2>
{% for contractor in contractors %}
    <li>{{ contractor }}</li>
{% empty %}
    {% trans "Empty" %}
{% endfor %}

{% endblock content %}


{% block extrabody %}
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "assets/js/jquery.js" %}"</script>
    <script src="{% static "assets/js/bootstrap-transition.js" %}"</script>
    <script src="{% static "assets/js/bootstrap-alert.js" %}"</script>
    <script src="{% static "assets/js/bootstrap-modal.js" %}"</script>
    <script src="{% static "assets/js/bootstrap-dropdown.js" %}"</script>
    <script src="{% static "assets/js/bootstrap-scrollspy.js" %}"</script>
    <script src="{% static "assets/js/bootstrap-tab.js" %}"</script>
    <script src="{% static "assets/js/bootstrap-tooltip.js" %}"</script>
    <script src="{% static "assets/js/bootstrap-popover.js" %}"</script>
    <script src="{% static "assets/js/bootstrap-button.js" %}"</script>
    <script src="{% static "assets/js/bootstrap-collapse.js" %}"</script>
    <script src="{% static "assets/js/bootstrap-carousel.js" %}"</script>
    <script src="{% static "assets/js/bootstrap-typeahead.js" %}"</script>
{% endblock extrabody %}
