{% extends "base.html" %}
{% load i18n %}

{% block toolbar %}
    {% if request.user.is_staff %}
        <li><a href="{% url admin:index %}">{% trans "Admin" %}</a></li>
    {% endif %}
{% endblock toolbar %}

{% block content %}

<h1>Liste temporaire (recette stories #10, 15, #31)</h1>
<h2>{% trans "Contractors" %}</h2>
{% for contractor in all_contractors %}
    <li>{{ contractor }}</li>
{% empty %}
    {% trans "Empty" %}
{% endfor %}

<h2>{% trans "Structure related" %}</h2>
{% for contractor in contractors %}
    <li>{{ contractor }}</li>
{% empty %}
    {% trans "Empty" %}
{% endfor %}

{% endblock content %}
