{% load static i18n leaflet_tags compress %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{{ TITLE }}{% endblock title %}</title>
    <link rel="icon" type="image/png" href="{% static "favicon.png" %}" />

    {% compress css %}
        {% if DEBUG %}
            <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}" />
        {% else %}
            <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/datepicker.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "dataTables/css/dataTables.bootstrap.css" %}">
        {% leaflet_css %}
        <link rel="stylesheet" href="{% static "Leaflet.draw/leaflet.draw.css" %}"></link>
        <link rel="stylesheet" href="{% static "style.css" %}" />
    {% endcompress %}

    {% compress js %}
        {% if DEBUG %}
            <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
            <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js" %}"></script>
        {% else %}
            <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
            <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        {% endif %}
        <script src="{% static "bootstrap/js/bootstrap-confirm.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap-datepicker.js" %}"></script>
        {% for lang in LANGUAGES %}
            {% if lang.0 != 'en' %}<script src="{% get_static_prefix %}bootstrap/js/bootstrap-datepicker.{{ lang.0 }}.js"></script>{% endif %}
        {% endfor %}
     
        {% leaflet_js %}

        <script type="text/javascript" src="{% static "dataTables/js/jquery.dataTables.js" %}"></script>
        <script type="text/javascript" src="{% static "dataTables/js/dataTables.ajax_list.js" %}"></script>
        <script type="text/javascript" src="{% static "dataTables/js/dataTables.fnReloadAjax.js" %}"></script>
        <script type="text/javascript" src="{% static "Leaflet.draw/leaflet.draw.js" %}"></script>
        <script type="text/javascript" src="{% static "js/leaflet.measure.js" %}"></script>

        {% block extrajs %}
        {% endblock extrajs %}
    {% endcompress %}
    
    {% endblock head %}
    
    {% block extrahead %}
    {% endblock extrahead %}
</head>
<body>
    {% if messages %}
    <ul id="alert-box">
        {% for message in messages %}
        <li class="alert {{ message.tags }}">
            {{ message }}
            {% if 'warning' in message.tags or 'error' in message.tags %}<button class="close" data-dismiss="alert">×</button>{% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{% url home %}">{{ TITLE }}</a>
          <ul class="nav pull-right">
            {% block toolbar %}
            {% endblock toolbar %}
            <li class="divider-vertical"></li>
            {% if request.user.is_authenticated %}
                <li><a href="#"><img src="{% static "images/icon-user-white.png" %}"/>
                    {{ request.user }}&nbsp;<span class="badge badge-info">{{ request.user.profile.structure }}</span></a>
                </li>
                {% if request.user.is_staff %}
                    <li><a href="{% url admin:index %}">{% trans "Admin" %}</a></li>
                {% endif %}
                <li><a class="btn" href="{% url logout %}">{% trans "Logout" %}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    {% block body %}
        <div id="viewport-l2" class="content">
          {% block content %}
          {% endblock content %}
        </div>
    {% endblock body %}

    {% block extrabody %}
    <script type="text/javascript">
        var hideMessages = function () {
            // Fade out success/infos messages
            $('.alert-info, .alert-success').delay(2000).fadeOut('slow');
        }
        $().load(hideMessages);
    </script>
    {% endblock extrabody %}
</body>
</html>
