{% extends "base.html" %}
{% load static leaflet_tags i18n %}

{% block extrahead %}
    {% leaflet_css %}
    {{ block.super }}

    {% leaflet_js %}
    <script src="{% static "js/spin.js" %}"></script>
    <script src="{% static "js/rtree.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-transition.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-alert.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-modal.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-dropdown.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-scrollspy.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-tab.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-tooltip.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-popover.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-button.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-collapse.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-carousel.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-typeahead.js" %}"></script>

    <script type="text/javascript" src="{% static "core/caminae.js" %}"></script>
{% endblock extrahead %}

{% block content %}

        {% block navigation %}
        <!-- Onglets Recherche/Fiche/Histo -->
        <div class="row-fluid">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{% url core:path_list %}">{% trans "Modules" %}</a></li>
                <li><a href="#">[nom fiche]</a></li>
                <li class="dropdown t"> <!-- Onglet Histo (avec dropdown) -->    
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Dernières fiches consultées
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Fiche 1</a></li>
                        <li><a href="#">Fiche 2</a></li>
                        <li><a href="#">Fiche 3</a></li>
                        <li><a href="#">Fiche 4</a></li>
                        <li><a href="#">Fiche 5</a></li>
                        <li><a href="#">Fiche 6</a></li>
                        <li><a href="#">Fiche 7</a></li>
                        <li><a href="#">Fiche 8</a></li>
                        <li><a href="#">Fiche 9</a></li>
                        <li><a href="#">Fiche 10</a></li>
                    </ul>
                </li>
            </ul>
        </div> <!--/row-->    
        {% endblock navigation %}
        
        <div id="container" class="container-fluid">

            <!-- Onglets des modules -->
            <div class="row-fluid">

                <!-- Liste des modules -->
                <div class="span1">    
                    <ul id="listeModules" class="nav nav-pills nav-stacked">
                        <li class="active"><a href="{% url core:path_list %}"><img src="{% static "images/path.png" %}" style="width: 50px;"></img>{% trans "Path" %}</a></li>
                        <li><a href="#"><img src="{% static "images/work.png" %}"/>{% trans "Work" %}</a></li>
                        <li><a href="#"><img src="{% static "images/project.png" %}"/>{% trans "Project" %}</a></li>
                        <li><a href="#"><img src="{% static "images/signage.png" %}"/>{% trans "Signage" %}</a></li>
                        <li><a href="#"><img src="{% static "images/infrastructure.png" %}"/>{% trans "Infrastructure" %}</a></li>
                        <li><a href="#"><img src="{% static "images/trekking.png" %}"/>{% trans "Trekking" %}</a></li>
                        <li><a href="#"><img src="{% static "images/poi.png" %}"/>{% trans "POI" %}</a></li>
                    </ul>
                </div> <!--/span-->

                {% block mainpanel %}
                <!-- Zone des résultats -->
                <div class="span5">
                
                    <!-- Nom du module
                    <h2>Module 1</h2> -->
            
                    <!-- Zone des boutons -->
                    <div class="btn-toolbar">
                        {% block mainactions %}
                        {% endblock mainactions %}
                    </div> <!--/row-->
                    
                    {% block mainlist %}
                    {% endblock mainlist %}

                    <div class="pull-right">
                        <p>
                            <i class="icon-download-alt"></i> 
                            Exporter la liste
                        </p>
                        <p>
                            <button class="btn">Type1</button>    
                            <button class="btn">Type2</button>    
                            <button class="btn">Type3</button>    
                        </p>
                    </div>
                </div><!--/span-->

                <!-- Zone de carte -->
                <div id="panelright" class="span6">
                    {% block mainmap %}
                    {% endblock mainmap %}
                    
                    <div class="pull-right">
                        <p>
                            <i class="icon-download-alt"></i> 
                            Exporter la carte
                        </p>
                        <p>
                            <button class="btn">Type1</button>    
                            <button class="btn">Type2</button>    
                        </p>
                    </div><!--/pull-right-->
                </div><!--/span-->
                
                {% endblock mainpanel %}

            </div><!--/row-->
        </div><!--/container-->

{% endblock content %}
