{% load maps leaflet_tags geojson_tags static %}

{% leaflet_map module fitextent=False %}
<style type="text/css">
    {% if not display_wkt %}#{{ attrs.id }} { display: none; }{% endif %}
</style>

<script type="text/javascript" src="{% static "core/formfield.js" %}"></script>


{% if display_wkt %}<p> WKT debugging window:</p>{% endif %}
{% include "floppyforms/textarea.html" %}

<script type="text/javascript">
if (! {{ module }}); var {{ module }} = {};

var {{ module }}_settings = {
    'enableDrawing': {
        'is_polygon': {{ is_polygone|yesno:"true,false" }},
        'is_marker': {{ is_point|yesno:"true,false" }},
        'is_polyline': {{ is_linestring|yesno:"true,false" }}
    },
    {% if path_snapping %}
    'enablePathSnapping': {
        'SNAP_DISTANCE': {{ SNAP_DISTANCE }},
        'pathsLayer_url': "{% url core:path_layer %}"
    },
    {% endif %}
    'addObjectsLayer': {
        'getUrl': function(modelname) {
            return '{% url core:path_layer %}'.replace(new RegExp('path', 'g'), modelname);
        }
    },
    'init': {
        'enableDrawing': true,
        'objectBounds': {{ field|latlngbounds }},
        'pathsnapping': {{ path_snapping|yesno:"true,false" }},
        'layerStoreElemSelector': '#{{ attrs.id }}',
        'geojson': {{ field|geojsonfeature|safe }},  // If no field, will be null.
        'iconUrl': '{% static "images/marker-trans.png" %}',
        'iconDragUrl': '{% static "images/osrm_markers/marker-drag.png" %}',
        'shadowUrl': '{% static "leaflet/images/marker-shadow.png" %}'
    },
    'colors': {
        'paths': '{{ LAYERCOLOR_PATHS }}',
        'land': '{{ LAYERCOLOR_LAND }}',
        'others': '{{ LAYERCOLOR_OTHERS }}',
    }
};

FormField.makeModule({{ module }}, {{ module }}_settings);

// Callback
{{ module }}Init = function (map, bounds) {
    var module = {{ module }};
    var fitToBounds = true;

    // We are displaying a form - if no object instance, restore previous map view
    if (! module.getObjectPk()) {
        if (MapEntity.Context.restoreMapView(map)) {
            bounds = map.getBounds();
            // We just changed the map bounds, avoid resetting them...
            fitToBounds = false;
        }
    }
    module.init(map, bounds, fitToBounds);
};



</script>
