{% extends "mapentity/fieldgeometry_fragment.html" %}
{% load static mapentity %}


{% block requirements %}

    {{ block.super }}
    <script type="text/javascript" src="{% static "core/dijkstra.js" %}"></script>
    <script type="text/javascript" src="{% static "core/multipath.js" %}"></script>
    <script type="text/javascript" src="{% static "core/topology_helper.js" %}"></script>
    {# keep this for development - provides helper #}

    <script type="text/javascript" src="{% static "core/formfield.js" %}"></script>
    <script type="text/javascript" src="{% static "core/debugging.js" %}"></script>

{% endblock requirements %}


{% block settings %}

    {{ block.super }}

    delete {{ module }}_settings.enableDrawing; 
    
    {{ module }}_settings['enablePathSnapping'] = {
        'pathsLayer_url': "{% url core:path_layer %}"
    };

    {{ module }}_settings['enableMultipath'] = {
        'path_json_graph_url': '{% url core:path_json_graph %}?_u=' + (new Date().getTime()),
    };

    {{ module }}_settings.init = {
        'pathsnapping': true,
        'multipath': {{ is_multipath|yesno:"true,false" }},
        'topologypoint': {{ is_point|yesno:"true,false" }},
        'layerStoreElemSelector': '#{{ attrs.id }}',
        'iconUrl': '{% static "mapentity/images/marker-trans.png" %}',
        'iconDragUrl': '{% static "mapentity/images/osrm_markers/marker-drag.png" %}',
        'shadowUrl': '{% static "leaflet/images/marker-shadow.png" %}',

        'json': '{{ topologyjson|safe }}',  // If creation, will be empty.
        'objectBounds': {{ topology|latlngbounds }}
    };
{% endblock settings %}
