{% load maps leaflet_tags geojson_tags %}

{% leaflet_map module fitextent=fitextent %}
<style type="text/css">
    {% if not display_wkt %}#{{ attrs.id }} { display: none; }{% endif %}
</style>

{% if display_wkt %}<p> WKT debugging window:</p>{% endif %}
{% include "floppyforms/textarea.html" %}

<script type="text/javascript">
function {{ module }}Init(map) {
    map.removeControl(map.attributionControl);
    
    var objectBounds = {{ field|latlngbounds }};
    if (objectBounds) {
        map.fitBounds(new L.LatLngBounds(objectBounds));
        map.addControl(new L.Control.ResetView(objectBounds));
        map.addControl(new L.Control.Scale());
    }
    
    // Start loading all objects, readonly
    var objectsLayer = new Caminae.ObjectsLayer(null, {
        style: {weight: 2, clickable: false},
        filter: function (geojson) {
            if (object_pk && geojson.properties && geojson.properties.pk) {
                return geojson.properties.pk != object_pk;
            }
        }
    });
    map.addLayer(objectsLayer);
    objectsLayer.load("{% url core:path_layer %}");
    
    var geojson = {{ field|geojsonfeature|safe }};
    var objectLayer = new L.GeoJSON(geojson, {
        style: {weight: 5, opacity: 1, clickable: false},
        onEachFeature: function (feature, layer) {
            layer.editing = new L.Handler.SnappedEdit(layer);
            layer.editing.enable();
            layer.on('edit', function (e) {
                $('#{{ attrs.id }}').val(Caminae.getWKT(e.target));
            });
        }
    });
    map.addLayer(objectLayer);
    
    var refreshSnapList = function () {
        if (map.getZoom() > 12) {
            var guides = objectsLayer.search(map.getBounds());
            objectLayer.eachLayer(function (l) {
                l.editing.setSnapList(guides);
            });
        }
    };
    objectsLayer.on('load', refreshSnapList);
    map.on('viewreset moveend', refreshSnapList);
}
</script>
