{% load maps leaflet_tags geojson_tags static %}

{% leaflet_map module fitextent=False %}
<style type="text/css">
    {% if not display_wkt %}#{{ attrs.id }} { display: none; }{% endif %}
</style>

<link rel="stylesheet" href="{% static "Leaflet.draw/leaflet.draw.css" %}"></link>
<script type="text/javascript" src="{% static "Leaflet.draw/leaflet.draw.js" %}"></script>


{% if display_wkt %}<p> WKT debugging window:</p>{% endif %}
{% include "floppyforms/textarea.html" %}

<script type="text/javascript">
function {{ module }}Init(map) {
    var map_json_config = {% leaflet_json_config %};
    map.removeControl(map.attributionControl);


    // On creation, this should be null
    var object_pk = $('form input[name="pk"]').val() || null;

    var exclude_current_object = null;
    if (object_pk) {
        exclude_current_object = function (geojson) {
            if (geojson.properties && geojson.properties.pk)
                return geojson.properties.pk != object_pk;
        }
    }

    // Start loading all objects, readonly
    var objectsLayer = new Caminae.ObjectsLayer(null, {
        style: {weight: 2, clickable: false},
        filter: exclude_current_object
    });

    map.addLayer(objectsLayer);

    // TODO: this should be all model objects
    // and there should be an option (or always true if model != Path?) to show a snapping layer
    // with with all paths
    objectsLayer.load("{% url core:path_layer %}");

    var refreshSnapList = function () {
        if (map.getZoom() > 12) {
            var guides = objectsLayer.search(map.getBounds());
            objectLayer.eachLayer(function (l) {
                l.editing.setSnapList(guides);
            });
        }
    };

    objectsLayer.on('load', function() {
        refreshSnapList()
        map.on('viewreset moveend', refreshSnapList);
    });

    // ref to map_json_config
    var extent = map_json_config.SPATIAL_EXTENT;
    var southWest = new L.LatLng(extent.ymin, extent.xmin),
        northEast = new L.LatLng(extent.ymax, extent.xmax),
        map_bounds = new L.LatLngBounds(southWest, northEast);
    var _getBounds = null;

    function getBounds() {
        return _getBounds();
    };
    function updateGetBounds(getBoundsFn) {
        _getBounds = getBoundsFn
    };

    function getMapBounds() {
        return map_bounds;
    };
    function fitBounds() {
        map.fitBounds(getBounds())
    }

    var layerStore = Caminae.makeGeoFieldProxy($('#{{ attrs.id }}'));

    var geojson = {% if field %} {{ field|geojsonfeature|safe }} {% else %} null {% endif %};
    {% if update %}
        var objectBounds = {{ field|latlngbounds }};
        updateGetBounds(function() { return new L.LatLngBounds(objectBounds); });
    {% else %}
        updateGetBounds(getMapBounds)
    {% endif %}

    /*** <objectLayer> ***/

    var objectLayer = new L.GeoJSON(geojson, {
        style: {weight: 5, opacity: 1, clickable: false},
        onEachFeature: function (feature, layer) {
            onNewLayer(layer);
        }
    });

    function onNewLayer(new_layer) {
        updateGetBounds(function() {
            return new_layer.getBounds();
        });
        new_layer.editing = new L.Handler.SnappedEdit(new_layer);
        new_layer.editing.enable();
        new_layer.on('edit', function (e) {
            layerStore.storeLayerGeomInField(e.target);
        });

        layerStore.storeLayerGeomInField(new_layer);
    }

    map.addLayer(objectLayer);

    /*** </objectLayer> ***/

    /*** <drawing> ***/
    var drawControl = new L.Control.Draw({
        position: 'topright',
        polygon: false,
        rectangle: false,
        circle: false,
        marker: false,
        polyline: {
            shapeOptions: {
                color: '#f357a1',
                weight: 5
            }
        }
    });
    map.addControl(drawControl);

    var polyline_handler = drawControl.handlers.polyline;
    map.on('draw:poly-created', function (e) {
        var new_layer = e.poly;
        objectLayer.addLayer(new_layer);
        onNewLayer(new_layer);
    });

    // Delete previous layer
    map.on('click', deleteStoredLayer, polyline_handler);

    function deleteStoredLayer() {
        if (! polyline_handler.enabled())
            return;

        var old_layer = layerStore.getLayer();
        if (old_layer) {
            objectLayer.removeLayer(old_layer);
            updateGetBounds(getMapBounds);
            layerStore.storeLayerGeomInField(null);
        }
    }

    fitBounds();
    map.setMaxBounds(getMapBounds());
    map.addControl(new L.Control.ResetView(getBounds));
    map.addControl(new L.Control.Scale());
}
</script>
