{% extends "core/base.html" %}
{% load i18n leaflet_tags %}

{% block extrahead %}
    {{ block.super }}
    {% leaflet_css %}
    {% leaflet_js %}
{% endblock extrahead %}


{% block mainmap %}
    {% leaflet_map "mainmap" %}
{% endblock mainmap %}


{% block content %}
    {{ block.super }}
    
    <h1>Listes temporaires (recette stories #10, 15, #31)</h1>
    <h2>{% trans "Usages" %}</h2>
    {% for usage in all_usages %}
        <li>{{ usage }}</li>
    {% empty %}
        {% trans "Empty" %}
    {% endfor %}

    <h2>{% trans "Contractors" %}</h2>
    {% for contractor in all_contractors %}
        <li>{{ contractor }}</li>
    {% empty %}
        {% trans "Empty" %}
    {% endfor %}

    <h2>{% trans "Structure related" %}</h2>
    {% for contractor in contractors %}
        <li>{{ contractor }}</li>
    {% empty %}
        {% trans "Empty" %}
    {% endfor %}
{% endblock content %}


{% block extrabody %}
    {{ block.super }}
    <script type="text/javascript">
        function mainmapInit(mainmap) {
            var spinner = new Spinner().spin(document.getElementById('mainmap'));
            
            var geojsonLayer = new L.GeoJSON(null, {
                onEachFeature: function (feature, layer) {
                    if (feature.properties && feature.properties.name) {
                        layer.bindPopup(feature.properties.name);
                    }
                }
            });
            
            $.getJSON("{% url core:layerpath %}", function (data) {           
                geojsonLayer.addData(data);
                spinner.stop();
            });
            
            mainmap.addLayer(geojsonLayer);
        }
    </script>
{% endblock extrabody %}
