{% extends "mapentity/entity_detail.html" %}
{% load i18n static field_verbose_name %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "mapentity/jquery.sparkline.js" %}"></script>
{% endblock extrahead %}

{% block extratitle %}{% endblock extratitle %}

{% block detailspanel %}
    {{ block.super }}

    {% if not path.valid %}
        <div class="alert alert-error"><strong>{% trans "Invalid" %}</strong></div>
    {% endif %}
    
    <div class="groupfields">
        <h4>{{ path|verbose:"comments" }}</h4>
        {{ path.comments|default:_("None")|safe }}
    </div>

    <h3>{% trans "Properties" %}</h3>
    <table class="table">
        <tr>
            <th>{{ path|verbose:"date_insert" }}</th>
            <td>{{ path.date_insert }}</td>
        </tr><tr>
            <th>{{ path|verbose:"date_update" }}</th>
            <td>{{ path.date_update }}</td>
        </tr><tr>
            <th>{% trans "Slope" %}</th>
            <td>{{ path.descent }} m  +{{ path.ascent }} m</td>
        </tr><tr>
            <th>{{ path|verbose:"length" }}</th>
            <td>{{ path.length|stringformat:".2f" }} m</td>
        </tr><tr>
            <th>{% trans "Elevation" %}</th>
            <td>Min: {{ path.min_elevation }} m, Max: {{ path.max_elevation }} m</td>
        </tr>
    </table>
    
    <h3>{% trans "Management" %}</h3>
    <table class="table">
        <tr>
            <th>{{ path|verbose:"trail" }}</th>
            <td>{{ path.trail_display|safe }}</td>
        </tr><tr>
            <th>{{ path|verbose:"datasource" }}</th>
            <td>{{ path.datasource|default:_("None") }}</td>
        </tr><tr>
            <th>{{ path|verbose:"stake" }}</th>
            <td>{{ path.stake|default:_("None") }}</td>
        </tr>
        <tr>
            <th>{{ path|verbose:"usages" }}</th>
            <td>
                {% for usage in  path.usages.all %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li> {{ usage }} </li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    <span class="none">{% trans "None" %}</span>
                {% endfor %}
            </td>
        </tr><tr>
            <th>{{ path|verbose:"networks" }}</th>
            <td>
                {% for network in  path.networks.all %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li> {{ network }} </li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    <span class="none">{% trans "None" %}</span>
                {% endfor %}
            </td>
        </tr>
    </table>
{% endblock detailspanel %}


{% block mappanel %}
    {{ block.super }}
    <div id="altitudegraph">
        <h4>{% trans "Altitude profile" %}</h4>
        <p class="axislabel">{% trans "Altitude (m)" %}</p>
        <span id="profilealtitude"></span> <span class="axislabel" style="position:relative; top:85px">{% trans "Distance (m)" %}</span>
        <p id="mouseoverprofil" class="axislabel" >&nbsp;</p>
    </div>

    <div class="span11"></div><!-- clear -->
{% endblock mappanel %}

{% block extrabody %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            /* 
             * Load altimetric profile from JSON
             */
            $.getJSON("{% url core:path_profile path.pk %}", function(data) {
                $('#profilealtitude').sparkline(data.profile, {tooltipSuffix: ' m', width: 300, height: 100});
                $('#profilealtitude').bind('sparklineRegionChange', function(ev) {
                    var sparkline = ev.sparklines[0],
                        region = sparkline.getCurrentRegionFields();
                        value = region.y;
                    $('#mouseoverprofil').text(Math.round(region.x) +" m");
                }).bind('mouseleave', function() {
                    $('#mouseoverprofil').text('');
                });
            });
        });
    </script>
{% endblock extrabody %}
