{% extends "mapentity/entity_list.html" %}
{% load i18n mapentity %}

{% block nav-path %}active{% endblock nav-path %}

{% block mainactions %}
    {% if user.profile.is_path_manager %}
    <div class="btn-group">
        <a class="btn btn-success" href="{{ model.get_add_url }}"><i class="icon-plus"></i> {% trans "Add a path" %}</a>
        {% else %}
        <span class="btn disabled" href="#"><i class="icon-plus"></i> {% trans "Add a path" %}</span>
        {% endif %}
    </div>
{% endblock mainactions %}
