{% extends "core/base.html" %}
{% load i18n crispy_forms_tags leaflet_tags %}

{% block extrahead %}
    {{ block.super }}
    {{ form.media }}
{% endblock extrahead %}


{% block mainpanel %}    
    <div class="span11">
        <h1>{% if path %}
            {% trans "Edit" %} {{ path }}
            {% if user.profile.is_path_manager %}
                <a class="btn btn-danger" href="{{ path.get_delete_url }}">{% trans "Delete" %}</a>
            {% else %}
                <span class="btn disabled">{% trans "Delete" %}</span>
            {% endif %}
        {% else %}
            {% trans "Add a new path" %}
        {% endif %}</h1>
        
        <div>&nbsp;</div>
        
        {% crispy form %}
    </div>
{% endblock mainpanel %}

{% block extrabody %}
    {{ block.super }}
    <script type="text/javascript">
        var object_pk = '{{ path.pk }}';
        
        $('#button-id-cancel').click(function (){ window.location = '{% url core:path_list %}';});
    </script>
{% endblock extrabody %}
