{% extends "mapentity/entity_detail.html" %}
{% load i18n static field_verbose_name %}


{% block detailspanel %}
    {{ block.super }}
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ trail|verbose:"name" }}</th>
            <td>{{ trail.name }}</td>
        </tr><tr>
            <th>{{ trail|verbose:"departure" }}</th>
            <td>{{ trail.departure }}</td>
        </tr><tr>
            <th>{{ trail|verbose:"arrival" }}</th>
            <td>{{ trail.arrival }}</td>
        </tr><tr>
            <th>{{ trail|verbose:"comments" }}</th>
            <td>{{ trail.comments|safe }}</td>
        </tr>
    </table>
    <h3>{% trans "Paths" %}</h3>
    {% for path in trail.paths.all  %}
        <li><a href="{{ path.get_detail_url }}">{{ path }}</a></li>
    {% endfor %}
{% endblock detailspanel %}
