{% extends "mapentity/entity_list.html" %}
{% load i18n %}

{% block nav-path %}active{% endblock nav-path %}

{% block mainactions %}
    <div class="btn-group">
        {% if user.profile.is_path_manager %}
            <a class="btn btn-success" href="{{ model.get_add_url }}"><i class="icon-plus"></i> {% trans "Add competence edge" %}</a>
        {% else %}
            <span class="btn disabled" href="#"><i class="icon-plus"></i> {% trans "Add competence edge" %}</a>
        {% endif %}
	</div>
{% endblock mainactions %}
