{% load i18n %}

(function () {
    // Add management layers
    var managementLayers = [{url:'{% url 'land:landedge_layer' %}', name: '{% trans "Land type" %}', id: 'land'},
                            {url:'{% url 'land:physicaledge_layer' %}', name: '{% trans "Physical type" %}', id: 'physical'},
                            {url:'{% url 'land:competenceedge_layer' %}', name: '{% trans "Competence" %}', id: 'competence'},
                            {url:'{% url 'land:signagemanagementedge_layer' %}', name: '{% trans "Signage management" %}', id: 'signagemanagement'},
                            {url:'{% url 'land:workmanagementedge_layer' %}', name: '{% trans "Work management" %}', id: 'workmanagement'}];

    // We have a list of colors, each layer has a *color_index*, and will *consume* a color
    // from the list. This way we may not have the same color twice on the map.
    var colorspools = L.Util.extend({}, window.SETTINGS.map.colorspool);

    for (var i=0; i<managementLayers.length; i++) {
        var managementLayer = managementLayers[i];

        var layer = new L.ObjectsLayer(null, {
            indexing: false,
            style: L.Util.extend(window.SETTINGS.map.styles[managementLayer.id], {clickable:false}),

            onEachFeature: (function (layergroup) {
                return function (data, layer) {
                    var idx = parseInt(data.properties.color_index);
                    if (isNaN(idx)) {
                        console.warn("No proper 'color_index' properties in GeoJSON properties.");
                        idx = 0;
                    }
                    var colorspool = colorspools[layergroup.id],
                        color = colorspool[idx % colorspool.length];
                    layer.setStyle({color: color});

                    // Add label in the middle of the line
                    if (data.properties.name) {
                        MapEntity.showLineLabel(layer, {
                            color: color,
                            text: data.properties.name,
                            title: layergroup.name,
                            className: 'landlabel ' + layergroup.id + ' ' + idx
                        });
                    }
                };
            })(managementLayer),
        });
        layer.load(managementLayer.url);
        map.layerscontrol.addOverlay(layer, managementLayer.name);
    }

})();