{% extends "common/common_detail.html" %}
{% load i18n mapentity_tags %}

{% block detailspanel %}
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ landedge|verbose:"land_type" }}</th>
            <td>{{ landedge.land_type }}</td>
        </tr>
        <tr>
            <th>{{ landedge|verbose:"owner" }}</th>
            <td>{{ landedge.owner|safe }}</td>
        </tr>
        <tr>
            <th>{{ landedge|verbose:"agreement" }}</th>
            <td>
                {% if landedge.agreement %}
                    {% trans "Yes" %}
                {% else %}
                    {% trans "No" %}
                {% endif %}
            </td>
        </tr>
        {% include "altimetry/elevationinfo_fragment.html" %}
        {% include "mapentity/trackinfo_fragment.html" %}
    </table>
    {{ block.super }}
{% endblock detailspanel %}

{% block before_attachments_extra_tab_nav %}
    <li class="nav-item">
        <a class="nav-link" id="tab-related-objects" href="#related-objects" data-toggle="tab">
            <i class="bi-grid"></i>
            <span class="d-none d-sm-inline">{% trans "Related objects" %}</span>
        </a>
{% endblock %}

{% block before_attachments_extra_tab_content %}
    <div id="related-objects" class="tab-pane">
        {% smart_include "detail" %}
    </div>
{% endblock %}
