{% extends "mapentity/mapentity_detail.html" %}
{% load i18n mapentity_tags %}

{% block detailspanel %}
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ landedge|verbose:"land_type" }}</th>
            <td>{{ landedge.land_type }}</td>
        </tr>
        <tr>
            <th>{{ landedge|verbose:"owner" }}</th>
            <td>{{ landedge.owner|safe }}</td>
        </tr>
        <tr>
            <th>{{ landedge|verbose:"agreement" }}</th>
            <td>
                {% if landedge.agreement %}
                    {% trans "Yes" %}
                {% else %}
                    {% trans "No" %}
                {% endif %}
            </td>
        </tr>
        {% include "altimetry/elevationinfo_fragment.html" %}
        {% include "mapentity/trackinfo_fragment.html" %}
    </table>
    {{ block.super }}
{% endblock detailspanel %}
