{% load i18n %}

{% if appname == "land" %}
<div class="btn-group" role="group">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuModelButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <strong>
            {% if modelname == 'landedge' %}{% trans "Land edges" %}{% endif %}
            {% if modelname == 'physicaledge' %}{% trans "Physical edges" %}{% endif %}
            {% if modelname == 'competenceedge' %}{% trans "Competence edges" %}{% endif %}
            {% if modelname == 'signagemanagementedge' %}{% trans "Signage management edges" %}{% endif %}
            {% if modelname == 'workmanagementedge' %}{% trans "Work management edges" %}{% endif %}
            {% if modelname == 'circulationedge' %}{% trans "Circulation edges" %}{% endif %}
        </strong>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuModelButton">
        {% if modelname != 'landedge' %}<a class="dropdown-item" href="{% url 'land:landedge_list' %}">{% trans "Land edges" %}</a>{% endif %}
        {% if modelname != 'physicaledge' %}<a class="dropdown-item" href="{% url 'land:physicaledge_list' %}">{% trans "Physical edges" %}</a>{% endif %}
        {% if modelname != 'competenceedge' %}<a class="dropdown-item" href="{% url 'land:competenceedge_list' %}">{% trans "Competence edges" %}</a>{% endif %}
        {% if modelname != 'signagemanagementedge' %}<a class="dropdown-item" href="{% url 'land:signagemanagementedge_list' %}">{% trans "Signage management edges" %}</a>{% endif %}
        {% if modelname != 'workmanagementedge' %}<a class="dropdown-item" href="{% url 'land:workmanagementedge_list' %}">{% trans "Work management edges" %}</a>{% endif %}
        {% if modelname != 'circulationedge' %}<a class="dropdown-item" href="{% url 'land:circulationedge_list' %}">{% trans "Circulation edges" %}</a>{% endif %}
    </div>
</div>
{% endif %}
