{% load i18n geotrek_tags mapentity_tags %}

{% is_topology_model model as is_topology_model %}

<h3>{% trans "Land" %}</h3>
<table class="table">
    {% if modelname != "landedge" %}
    <tr>
        <th>{% trans "Land edges" %}</th>
        <td>
            {% if perms.land.add_landedge %}
            <p class="autohide"><a href="{% url 'land:landedge_add' %}{% if is_topology_model %}?topology={{ object.pk}}{% endif %}" class="btn btn-mini btn-success">
                <i class="icon-plus icon-white"></i> {% trans "Add a new land edge" %}</a>
            </p>
            {% endif %}

            {% valuelist object.land_edges field='land_type' %}
        </td>
    </tr>
    {% endif %}

    {% if modelname != "physicaledge" %}
    <tr>
        <th>{% trans "Physical edges" %}</th>
        <td>
            {% if perms.land.add_physicaledge %}
            <p class="autohide"><a href="{% url 'land:physicaledge_add' %}{% if is_topology_model %}?topology={{ object.pk}}{% endif %}" class="btn btn-mini btn-success">
                <i class="icon-plus icon-white"></i> {% trans "Add a new physical edge" %}</a>
            </p>
            {% endif %}

            {% valuelist object.physical_edges field='physical_type' %}
        </td>
    </tr>
    {% endif %}

    {% if modelname != "competenceedge" %}
    <tr>
        <th>{% trans "Competence edges" %}</th>
        <td>
            {% if perms.land.add_competenceedge %}
            <p class="autohide"><a href="{% url 'land:competenceedge_add' %}{% if is_topology_model %}?topology={{ object.pk}}{% endif %}" class="btn btn-mini btn-success">
                <i class="icon-plus icon-white"></i> {% trans "Add a new competence edge" %}</a>
            </p>
            {% endif %}

            {% valuelist object.competence_edges field='organization' %}
        </td>
    </tr>
    {% endif %}

    {% if modelname != "workmanagementedge" %}
    <tr>
        <th>{% trans "Work management edges" %}</th>
        <td>
            {% if perms.land.add_workmanagementedge %}
            <p class="autohide"><a href="{% url 'land:workmanagementedge_add' %}{% if is_topology_model %}?topology={{ object.pk}}{% endif %}" class="btn btn-mini btn-success">
                <i class="icon-plus icon-white"></i> {% trans "Add a new work management edge" %}</a>
            </p>
            {% endif %}

            {% valuelist object.work_edges field='organization' %}
        </td>
    </tr>
    {% endif %}

    {% if modelname != "signagemanagementedge" %}
    <tr>
        <th>{% trans "Signage management edges" %}</th>
        <td>
            {% if perms.land.add_signagemanagementedge %}
            <p class="autohide"><a href="{% url 'land:signagemanagementedge_add' %}{% if is_topology_model %}?topology={{ object.pk}}{% endif %}" class="btn btn-mini btn-success">
                <i class="icon-plus icon-white"></i> {% trans "Add a new signage management edge" %}</a>
            </p>
            {% endif %}

            {% valuelist object.signage_edges field='organization' %}
        </td>
    </tr>
    {% endif %}
</table>
