{% extends "common/common_detail.html" %}
{% load i18n mapentity_tags %}

{% block detailspanel %}
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ workmanagementedge|verbose:"organization" }}</th>
            <td>{{ workmanagementedge.organization }}</td>
        </tr>
    </table>
    {% include "altimetry/elevationinfo_fragment.html" %}
    {% include "common/fragments/provider_eid.html" %}
    {% include "common/fragments/trackinfo.html" %}
    {{ block.super }}
{% endblock detailspanel %}
