{% extends "mapentity/mapentity_detail.html" %}
{% load i18n signage_tags mapentity_tags %}

{% block detailspanel %}
    <table class="table-striped table-bordered table">
        <tr>
            <th>{% trans "Signage" %}</th>
            <td><a href="{% url 'signage:signage_detail' pk=object.signage %}">
                        {% trans "Blade" %} {{ blade.number }}
                    </a></td>
        </tr>
        <tr>
            <th>{{ object|verbose:"number" }}</th>
            <td>{{ object.number }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"type" }}</th>
            <td>{{ object.type }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"condition" }}</th>
            <td>{{ object.condition }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"color" }}</th>
            <td>{{ object.color }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"structure" }}</th>
            <td>{{ object.structure }}</td>
        </tr>
        <tr>
            <th>{% trans "Lines" %}</th>
            <td>{% for line in object.line_set %}
                    #{{ line.number }} {{ line.text }} | {{ line.distance }} / {{ line.time }} | {{ line.pictogram_name }}<br>
                {% endfor %}
            </td>
        </tr>
    </table>
    {{ block.super }}
{% endblock detailspanel %}
