{% extends "mapentity/mapentity_detail.html" %}
{% load i18n signage_tags mapentity_tags %}

{% block detailspanel %}
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ object|verbose:"number" }}</th>
            <td>{{ object.number }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"type" }}</th>
            <td>{{ object.type }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"condition" }}</th>
            <td>{{ object.condition }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"structure" }}</th>
            <td>{{ object.structure }}</td>
        </tr>
    </table>
    {{ block.super }}
{% endblock detailspanel %}
