{% extends "mapentity/mapentity_form.html" %}
{% load i18n crispy_forms_tags mapentity_tags static %}

{% block mainform %}
    <form id="mainform" action="{% if object.pk %}{{ object.get_update_url }}{% else %}{{ object.get_add_url }}{% endif %}" class="form-horizontal" method="POST">

    {% crispy form %}

    <fieldset class="formset">
        {{ line_formset.non_form_errors }}
        {{ line_formset.management_form }}
        {% for line_form in line_formset.forms %}
            <div class="form-row inline controls controls-row {{ line_form.prefix }}">
            {% if line_form.instance.pk %}{{ line_form.DELETE }}{% endif %}
            {% crispy line_form %}
            </div>
        {% endfor %}
    </fieldset>

    </form>
{% endblock mainform %}

{% block extrabody %}
    {{ block.super }}
    <script type="text/javascript">

        function updatePictogramSelectorWidth() {
            var prefix = '{{ line_formset.prefix }}';
            var totalForms = $('#id_' + prefix + '-TOTAL_FORMS');
            var formCount = parseInt(totalForms.val());

            for (let i = 0; i < formCount; i++) {
                const pictograms = document.querySelectorAll("#id_lines_" + i + "_pictograms_chosen");
                pictograms.forEach(pictogram => {
                pictogram.setAttribute("style", "width: 100% !important");
                });
            }
        }

        $('#id_date').datepicker({
            autoclose: true,
            language: '{{ request.LANGUAGE_CODE }}',
            format: window.SETTINGS.date_format
        });
        $(".clearfix").removeClass("clearfix");

        $(window).ready(function () {
            // TODO: do this with crispyforms !
            $("fieldset.formset").detach().appendTo('#mainform fieldset');

            $('.form-row.inline').formset({
                prefix: '{{ line_formset.prefix }}',
                keepFieldValues: "[name='csrfmiddlewaretoken']",
                addCssClass: 'btn btn-primary add-row',
                deleteCssClass: 'delete-row',
                addText: '{% trans "Add a line" %}',
                deleteText: '{% trans "Remove" %}',
                added: function (row) {
                    var prefix = '{{ line_formset.prefix }}';
                    var totalForms = $('#id_' + prefix + '-TOTAL_FORMS');
                    var formCount = parseInt(totalForms.val()) - 1 ;
                    row.find('input,select,textarea,label,div').each(function () {
                        var idRegex = new RegExp(prefix + '_(\\d+|__prefix__)_'),
                            replacement = prefix + '-' + formCount + '-';
                        if ($(this).attr("for")) $(this).attr("for", $(this).attr("for").replace(idRegex, replacement));
                        if ($(this).attr('id')) $(this).attr('id', $(this).attr('id').replace(idRegex, replacement));
                        if ($(this).attr('name')) $(this).attr('name', $(this).attr('name').replace(idRegex, replacement));
                    });
                    row.find('select.selectmultiple').each(function () {
                        var select_id = $(this).attr('id');
                        $('#' + select_id + '_chosen').remove();
                        var new_select = $(this).clone(false);
                        $(this).after(new_select);
                        $(this).remove()
                        new_select.chosen({
                         no_results_text: "{% trans "No result" %}",
                         placeholder_text_multiple: "{% trans "Choose value(s)" %}"
                    });
                    })
                    // Update width of pictogram selector  
                    updatePictogramSelectorWidth();
                }
            });
        });

        $(window).on('entity:view:add entity:view:update', function (e, data) {
            updatePictogramSelectorWidth();
        });
    </script>
{% endblock extrabody %}
