{% extends "mapentity/mapentity_form.html" %}
{% load i18n crispy_forms_tags %}

{% block mainform %}
    <form id="mainform" action="{% if object.pk %}{{ object.get_update_url }}{% else %}{{ object.get_add_url }}{% endif %}" class="form-horizontal" method="POST">

    {% crispy form %}

    <fieldset class="formset">
        {{ blade_formset.management_form }}
        {% for blade_form in blade_formset.forms %}
            <div class="form-row inline controls controls-row {{ blade_from.prefix }}">
                {% crispy blade_form %}
                {% if blade_form.instance.pk %}
                    <a href="{% url 'signage:blade_edit' pk=blade_form.instance.pk %}">{% trans "Edit" %}</a>
                {% endif %}
            </div>
        {% endfor %}
    </fieldset>
    </form>
{% endblock mainform %}


{% block extrabody %}
    {{ block.super }}
    <script type="text/javascript">
        $(window).ready(function () {
            $('#id_date').datepicker({
                autoclose: true,
                language: '{{ request.LANGUAGE_CODE }}',
                format: window.SETTINGS.date_format
            });

            // TODO: do this with crispyforms !
            $("fieldset.formset").detach().appendTo('#mainform fieldset');

            $(".clearfix").removeClass("clearfix");

            $('.form-row.inline').formset({
                prefix: '{{ blade_formset.prefix }}',
                keepFieldValues: "[name='csrfmiddlewaretoken']",
                addCssClass: 'btn btn-success add-row',
                deleteCssClass: 'delete-row',
                addText: '{% trans "Add" %}',
                deleteText: '{% trans "Remove" %}',
            });
        });
    </script>
{% endblock extrabody %}