{% extends "mapentity/mapentity_detail_attributes.html" %}
{% load i18n signage_tags mapentity_tags %}

{% block attributes %}
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ object|verbose:"name" }}</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"type" }}</th>
            <td>{{ object.type }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"condition" }}</th>
            <td>{{ object.condition }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"description" }}</th>
            <td>{% if object.description %}{{ object.description|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Blades" %}</th>
            <td>
                {% if view|string == "SignageDetail" %}
                    <p style="float: right">
                        {% if perms.signage.add_blade %}
                            <a href="{% url 'signage:blade_add' %}{% if modelname == "signage" %}?signage={{ object.pk}}{% endif %}" class="btn btn-mini btn-success">
                                <i class="icon-plus icon-white"></i> {% trans "Add a new blade" %}
                            </a>
                        {% else %}
                            <span class="btn disabled" href="#"><i class="icon-plus icon-white"></i> {% trans "Add a new blade" %}</span>
                        {% endif %}
                    </p>
                {% endif %}
                {% for blade in object.order_blades %}
                    {% if perms.signage.read_blade and view|string == "SignageDetail" %}
                        <a href="{% url 'signage:blade_detail' pk=blade.pk %}">
                            {% trans "Blade" %} {{ blade.number }} <br>
                        </a>
                    {% else %}
                        {% trans "Blade" %} {{ blade.number }} <br>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>{{ object|verbose:"implantation_year" }}</th>
            <td>{{ object.implantation_year|default:"" }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"code" }}</th>
            <td>{{ object.code|default:"" }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"printed_elevation" }}</th>
            <td>{{ object.printed_elevation|meters|default:"" }}</td>
        </tr>
        <tr>
            <th>{% trans "GPS" %}</th>
            <td>{{ object.gps_value|default:"" }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"sealing" }}</th>
            <td>{{ object.sealing|default:"" }}</td>
        </tr>

        <tr>
            <th>{{ object|verbose:"manager" }}</th>
            <td>{{ object.manager|default:"" }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"published" }}</th>
            <td>{{ object.published|yesno|title }}</td>
        </tr>
        {% include "altimetry/elevationinfo_fragment.html" %}
        <tr>
            <th>{{ object|verbose:"structure" }}</th>
            <td>{{ object.structure }}</td>
        </tr>
        {% include "mapentity/trackinfo_fragment.html" %}
    </table>
    {{ block.super }}
{% endblock attributes %}
