{% load i18n signage_tags %}

{% blades_enabled as is_blades_enabled %}

{% if appname == "signage" and is_blades_enabled %}
<div class="btn-group" role="group">
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuModelButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <strong>
            {% if modelname == 'signage' %}{% trans "Signages" %}{% endif %}
            {% if modelname == 'blade' %}{% trans "Blades" %}{% endif %}
        </strong>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuModelButton">
        {% if modelname != 'signage' %}
            <a class="dropdown-item" href="{% url 'signage:signage_list' %}">{% trans "Signages" %}</a>
        {% endif %}
        {% if modelname != 'blade' %}
            <a class="dropdown-item" href="{% url 'signage:blade_list' %}">{% trans "Blades" %}</a>
        {% endif %}
    </div>
</div>
{% endif %}