body {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0; margin: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0px;
}

/***** Reusables ******/

.centered {
	text-align: center;
}

.autohide {
    display: none;
}


/**** Layout (based on "Conflicting position" trick) ****/

#container {position: absolute; top: 42px; bottom: 0; left: 0; right: 0;}
#panelleft {position: absolute; top: 0; bottom: 0; width: 50%; left: 0;}
#panelright {position: absolute; top: 0; bottom: 0; width: 50%; right: 0;}

#mainmap {position: absolute; top: 0px; bottom: 0; left: 0; right: 0;}

#entitylist {
    position: absolute;
    top: 0px;
    left: 0;
    width: 60px;
}

#list-panel {
    margin-left: 60px;
    padding: 4px;
}

#list-download-toolbar, #objects-list_filter, div.dataTables_paginate { 
    position: absolute;
    bottom: 5px;
}

#list-download-toolbar {
    padding-bottom: 10px;
}

div.dataTables_paginate {
    right: 5px;
}

#objects-list_filter {
    left: 160px;
}


/***** SPAN 6 *****/
.row-fluid > .span6 > .pull-right {
	margin-top: 5px;
	/*margin-right: 5px;*/
	padding-right: 12px;

}

#entitylist a {
    padding: 0px;
}

#results-panel {
    margin-left: 10px;
}

#mainfilter label {
    display: none;
}


/***** Alerts ******/

#alert-box {
	position: absolute; 
	top: 3px; 
	left: 50%; 
	width: 50%; 
	margin: 0 0 0 -25%;
	z-index: 1000;
}

#alert-box li.alert {
    list-style-type: none; margin-bottom: 3px;
}



/**** Maps ****/

.leaflet-container {
    min-height: 600px;
}

.map-error {
    border: 5px solid red;
}

div.marker-snapped { background: yellow !important; }
img.marker-add { background-image: url('images/marker-add.png') }
img.marker-snapped { background-image: url('images/marker-snap.png') }
img.marker-source { background-image: url('images/osrm_markers/marker-source.png') }
img.marker-source.marker-snapped { background-image: url('images/osrm_markers/marker-source-snap.png') }
img.marker-target { background-image: url('images/osrm_markers/marker-target.png') }
img.marker-target.marker-snapped { background-image: url('images/osrm_markers/marker-target-snap.png') }

img.marker-via { background-image: url('images/osrm_markers/marker-via.png') }
img.marker-via.marker-snapped { background-image: url('images/osrm_markers/marker-via-snap.png') }

/* snap drag */
img.marker-drag { background-image: url('images/osrm_markers/marker-drag.png') }

.leaflet-control-draw.enabled a, .leaflet-control.enabled a {
 	background-color: #fff;
}

.leaflet-control-draw.enabled, .leaflet-control.enabled {
 	background-color: rgba(255, 255, 0, 0.6);
}

.leaflet-control.disabled a {
 	background-color: rgba(0, 0, 0, 0.25);
}

.leaflet-control-draw-measure {
	background-image: url(images/measure-control.png);
}

.multipath-control {
    background-image: url(images/multipath-control.png);
}

.screenshot-control {
    background-image: url(images/screenshot-control.png);
}

/**** Widgets ****/

.axislabel {
	color: blue;
	font-size: 10px;
}

tr.selected-row td {
    /* Button green color #5BB75B */
    background-color: #DF8 !important;
    opacity: 1 !important;
}

select.filter-set {
    font-weight: bold;
    border: 2px solid black;
    color: black;
}

#maphead {
    position: absolute;
    padding-top: 3px;
    z-index: 9999;
    width: 100%;
}

/***** Entity detail ******/

.details-panel {
    padding: 40px;
}

.details-panel .table { 
    table-layout: fixed; 
}

.details-panel .table th {
    width: 40%;
}

.details-panel h3 {
	border-bottom: 1px solid #333333;
}

.details-panel td {
	color: #636363;
}

.details-panel th, .details-panel td {
    border-top: 0px;
    border-bottom: 1px solid #DDDDDD;
}

.details-panel td ul li {
	list-style: none;
}

.details-panel span.none {
	opacity: 0.4;
}

.details-panel td .autohide {
    float: right;
}

.details-panel td ul {
	margin: 0px;
}

.details-panel td p {  /* Autohide add buttons within <p> */
    margin: 0px;
}

/* Icons for each entity */
.details-panel h2 { min-height: 75px; }
.form-panel h2 { padding-left: 100px; }
.form-panel.path,           .details-panel.path           { background: url(images/path-96.png) no-repeat; }
.form-panel.trail,          .details-panel.trail          { background: url(images/trail-96.png) no-repeat; }
.form-panel.intervention,   .details-panel.intervention   { background: url(images/intervention-96.png) no-repeat; }
.form-panel.project,        .details-panel.project        { background: url(images/project-96.png) no-repeat; }
.form-panel.signage,        .details-panel.signage        { background: url(images/signage-96.png) no-repeat; }
.form-panel.infrastructure, .details-panel.infrastructure { background: url(images/infrastructure-96.png) no-repeat; }
.form-panel.trek,           .details-panel.trek           { background: url(images/trek-96.png) no-repeat; }
.form-panel.poi,            .details-panel.poi            { background: url(images/poi-96.png) no-repeat; }

/* Icons for tabs */
li.history.path a { padding-right: 5px; padding-left: 20px; background: url(images/path-16.png) no-repeat; background-position-x: 4px; background-position-y: 10px; }
li.history.trail a { padding-right: 5px; padding-left: 20px; background: url(images/trail-16.png) no-repeat; background-position-x: 4px; background-position-y: 10px; }
li.history.intervention a { padding-right: 5px; padding-left: 20px; background: url(images/intervention-16.png) no-repeat; background-position-x: 4px; background-position-y: 10px; }
li.history.project a { padding-right: 5px; padding-left: 20px; background: url(images/project-16.png) no-repeat; background-position-x: 4px; background-position-y: 10px; }
li.history.signage a { padding-right: 5px; padding-left: 20px; background: url(images/signage-16.png) no-repeat; background-position-x: 4px; background-position-y: 10px; }
li.history.infrastructure a { padding-right: 5px; padding-left: 20px; background: url(images/infrastructure-16.png) no-repeat; background-position-x: 4px; background-position-y: 10px; }
li.history.trek a { padding-right: 5px; padding-left: 20px; background: url(images/trek-16.png) no-repeat; background-position-x: 4px; background-position-y: 10px; }
li.history.poi a { padding-right: 5px; padding-left: 20px; background: url(images/poi-16.png) no-repeat; background-position-x: 4px; background-position-y: 10px; }
