.intervention table tr.total {
    border-top: solid 2px;
}
.intervention table tr.total td {
    background-color: white;
    border: none;
}

.intervention .form-row.inline.controls label {
    width: auto;
    float: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.intervention .form-horizontal .formset .controls {
    margin-left: 0px;
    display: inline-block;
}

.intervention .formset .control-group {
    display: inline-block;
}

.details-panel .spacer {
    /* Intervention list in detail pages ``maintenance_detail_fragment.html``
       Give space to "Add intervention button".
    */
    float: left;
    height: 35px;
}

.details-panel th.status,
.details-panel th.stake,
.details-panel th.date,
.details-panel th.total_cost {
    width: 60px;
}
