Source: geotrek-admin
Maintainer: Geotrek Team <support.geotrek@makina-corpus.com>
Homepage: https://github.com/GeotrekCE/Geotrek-admin/
Bugs: https://github.com/GeotrekCE/Geotrek-admin/issues/
Vcs-Git: https://github.com/GeotrekCE/Geotrek-admin.git
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends:
 debhelper (>= 9),
 git,
 gettext,
 libgdal-dev (>= 2.2),
 libffi-dev (>= 3),
 libxml2-dev (>= 2.9.2),
 libxslt1-dev (>= 1.1.28),
 zlib1g-dev (>= 1.2.11)

Package: geotrek-admin
Architecture: amd64
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 nginx,
 postgresql-client,
 libpq5,
 libcairo2,
 libpango-1.0-0,
 libpangocairo-1.0-0,
 libmagic1 | libmagic1t64,
 libvips42 | libvips42t64,
 memcached,
 gettext,
 gdal-bin,
 fonts-dejavu-core,
 fonts-liberation,
 shared-mime-info,
 redis-server
Description: Manage and promote your trails and tourist content and activities.
