Source: geotrek-admin
Maintainer: Geotrek Team <support.geotrek@makina-corpus.com>
Homepage: https://github.com/GeotrekCE/Geotrek-admin/
Bugs: https://github.com/GeotrekCE/Geotrek-admin/issues/
Vcs-Git: https://github.com/GeotrekCE/Geotrek-admin.git
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends:
 debhelper (>= 9),
 dh-virtualenv (>= 1.0),
 git,
 python3 (>= 3.8),
 python3-venv (>= 3.8),
 python3-dev (>= 3.8),
 libgdal-dev (>= 2.2),
 libffi-dev (>= 3),
 libxml2-dev (>= 2.9.2),
 libxslt1-dev (>= 1.1.28),
 zlib1g-dev (>= 1.2.11)

Package: geotrek-admin
Architecture: any
Pre-depends:
 libcairo2
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 nginx,
 memcached,
 gettext,
 gdal-bin,
 fonts-dejavu-core,
 fonts-liberation,
 shared-mime-info,
 redis-server,
 screamshotter (>= 2.0.9),
 screamshotter (<< 3.0.0),
 convertit,
 python3 (>= 3.8),
 libvips
Description: Manage and promote your trails and tourist content and activities.
