#!/bin/sh -e

# set -x
# export DEBCONF_DEBUG=developer

# Source debconf library.
. /usr/share/debconf/confmodule

# Set dynamic defaults (only on a new install)
if [ "$2" = "" ]; then
	db_get geotrek-admin/SERVER_NAME
	[ -n "$RET" ] || db_set geotrek-admin/SERVER_NAME `hostname -f`
	db_get geotrek-admin/TIME_ZONE
	[ -n "$RET" ] || db_set geotrek-admin/TIME_ZONE `cat /etc/timezone`
else
	. /opt/geotrek-admin/var/conf/env || true
	for key in MANAGE_DB POSTGRES_HOST POSTGRES_PORT \
	POSTGRES_USER POSTGRES_PASSWORD POSTGRES_DB \
	TIME_ZONE LANGUAGES SERVER_NAME RANDO_SERVER_NAME \
	DEFAULT_STRUCTURE WORKERS TIMEOUT; do
		eval "value=\${$key}"
		db_set geotrek-admin/$key "$value"
	done
fi

if [ -z "$2" ];
then
  if ls /usr/lib/postgresql/*/bin/postgres > /dev/null 2>&1;
    then
    db_input high geotrek-admin/MANAGE_DB || true
    db_go || true
	fi
else
	db_set geotrek-admin/MANAGE_DB false || true
fi

db_get geotrek-admin/MANAGE_DB
if [ "$RET" = "true" ]; then
	db_set geotrek-admin/POSTGRES_HOST "localhost" || true
	db_fset geotrek-admin/POSTGRES_HOST seen true || true
	db_set geotrek-admin/POSTGRES_PORT "5432" || true
	db_fset geotrek-admin/POSTGRES_PORT seen true || true
	db_set geotrek-admin/POSTGRES_USER "geotrek" || true
	db_fset geotrek-admin/POSTGRES_USER seen true || true
	db_set geotrek-admin/POSTGRES_PASSWORD `dd bs=12 count=1 if=/dev/urandom 2>/dev/null | base64` || true
	db_fset geotrek-admin/POSTGRES_PASSWORD seen true || true
	db_set geotrek-admin/POSTGRES_DB "geotrekdb" || true
	db_fset geotrek-admin/POSTGRES_DB seen true || true
else
	db_input high geotrek-admin/POSTGRES_HOST || true
	db_input high geotrek-admin/POSTGRES_PORT || true
	db_input high geotrek-admin/POSTGRES_USER || true
	db_input high geotrek-admin/POSTGRES_PASSWORD || true
	db_input high geotrek-admin/POSTGRES_DB || true
	db_go || true
fi

# Only on a new install
if [ -z "$2" ]; then
	db_input high geotrek-admin/DEFAULT_STRUCTURE || true
	db_input high geotrek-admin/SRID || true
	db_go || true
fi

db_input high geotrek-admin/TIME_ZONE || true
db_input high geotrek-admin/LANGUAGES || true
db_input high geotrek-admin/SERVER_NAME || true
db_input high geotrek-admin/RANDO_SERVER_NAME || true
db_go || true

db_input low geotrek-admin/WORKERS || true
db_input low geotrek-admin/TIMEOUT || true
db_go || true
