[Unit]
Description=Geotrek-admin asynchronous tasks
PartOf=geotrek.service
After=geotrek.service
StartLimitIntervalSec=10
StartLimitBurst=3

[Service]
ExecStart=/opt/geotrek-admin/bin/celery -A geotrek worker -c 1 -n geotrek
Restart=on-failure
User=geotrek
Group=geotrek
UMask=002

[Install]
WantedBy=geotrek.service
