{% load i18n %}{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{{ object.name }}</title>
    <meta name="description" content="{{ object.meta_description }}">
    <meta property="og:description" content="{{ object.meta_description }}">
    <meta property="og:title" content="{{ object.name }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ request.GET.rando_url }}/{{ object.rando_url }}">
    <meta property="og:image" content="{{ facebook_image }}">
    <meta property="og:image:width" content="{{ FACEBOOK_IMAGE_WIDTH }}">
    <meta property="og:image:height" content="{{ FACEBOOK_IMAGE_HEIGHT }}">
    <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}">
</head>
<body>
<h1>{{ object.name }}</h1>
{{ object.content|safe }}
<a href="{{ request.GET.rando_url }}">{% trans 'Geotrek Rando' %}</a>
</body>
</html>
