{% load static i18n crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <!-- FIXME: upgrade mapentity to boostrap 3 to remove customizations here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'flatpages/css/jquery.gridmanager.css' %}">
    <link rel="stylesheet" href="{% static 'mapentity/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'mapentity/chosen/chosen.css' %}">
    <style>
        .form-horizontal .control-label {
            float: left;
        }

        .form-horizontal .checkbox {
            margin-left: 145px;
        }

        .help-block {
            display: inline-block;
            font-size: 0.7em;
        }

        .nav-pills {
            margin-bottom: 2px;
        }

        .nav-pills > li > a {
            margin-bottom: 2px;
        }

        .form-panel .form-actions {
            position: relative;
            padding: 0;
            top: -40px;
        }

        #button-id-cancel {
            margin-right: 10px;
        }

        #modelfields {
            overflow: visible;
        }

        .form-horizontal .tab-pane .form-group {
            margin-left: 0;
            margin-right: 0;
        }
    </style>
</head>
<body>
<div class="container form-panel">
    <!--         <div class="row"> -->
    {% crispy form form.helper 'bootstrap3' %}
    <!--         </div> -->
</div>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tinymce/4.1.2/tinymce.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tinymce/4.1.2/jquery.tinymce.min.js"></script>
<script src="{% static 'flatpages/js/jquery.gridmanager.js' %}"></script>
<script src="{% static 'mapentity/chosen/chosen.jquery.min.js' %}"></script>
<script type="text/javascript">
    (function () {
        $('select[multiple]').width('100%').chosen();

        $('#button-id-cancel').click(function () {
            window.history.go(-1);
        });

        tpl1 = "{% trans "Template 1" %}";
        tpl2 = "{% trans "Template 2" %}";

        $('textarea[id^=id_content_]').each(function () {
            var id = 'grid_' + $(this).attr('id');
            $(this).hide();
            $(this).parent().append('<div id="' + id + '"></div>');
            $('#' + id).html($(this).val());

            controlButtons = [[12], [6, 6], [4, 4, 4], [3, 3, 3, 3], [2, 2, 2, 2, 2, 2], [2, 8, 2], [4, 8], [8, 4]];
            controlButtons.push([tpl1], [tpl2]);

            $('#' + id).gridmanager({
                controlButtons: controlButtons,
                customControls: {global_row: [], global_col: []},
                rowCustomClasses: ["row-class-1", "row-class-2", "row-class-3", "row-class-4"],
                colCustomClasses: ["col-class-1", "col-class-2", "col-class-3", "col-class-4"],
                tinymce: {
                    config: {
                        inline: true,
                        selector: "textarea",
                        external_plugins: {
                            'youtube': '/static/tiny_mce/plugins/youtube/plugin.min.js'
                        },
                        plugins: [
                            "advlist autolink lists link image charmap print preview anchor",
                            "searchreplace visualblocks code fullscreen",
                            "insertdatetime table contextmenu paste youtube"
                        ],
                        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image youtube",
                    }
                }
            });
        });

        defaultTextContent = '<b><p>{% trans "Insert Text Here." %}</p></b>';
        defaultImageContent = '' +
                '<img src=\"{% static "images/logo-login.png" %}\" />' +
                '<div>{% trans "Legend, ©, firstname and author name." %}</div>';

        $(".add-" + tpl1.replace(" ", ".")).on('click', function (event) {
            var gm = $('#' + $(this).parents()[4].id).data('gridmanager');
            var canvas = gm.$el.find("#" + gm.options.canvasId);
            var row = '';

            [[8, 4], [8, 4], [8, 4], [8, 4], [8, 4]].forEach(function (ar) {
                //This creates the row.
                row = gm.createRow(ar);
                first = true;

                $.each($(row).children(), function () {

                    //This adds the RTE to the columns for the current row.
                    gm.addEditableAreaClick(this, null);
                    content = this.getElementsByClassName('gm-content')[0];

                    if (first) {
                        content.innerHTML = defaultTextContent;
                        first = false;
                    } else { // Special case, the second one is an image.
                        content.innerHTML = defaultImageContent;
                    }

                    if (this.classList.contains('col-sm-4')) {
                      this.classList.remove('col-sm-4');
                      this.classList.remove('col-xs-4');
                      this.classList.add('col-sm-12');
                      this.classList.add('col-xs-12');
                    }
                    if (this.classList.contains('col-sm-8')) {
                      this.classList.remove('col-sm-8');
                      this.classList.remove('col-xs-8');
                      this.classList.add('col-sm-12');
                      this.classList.add('col-xs-12');
                    }
                });
                // And we add the generated row to the content.
                canvas.prepend(row);
            });

            //This is need to get the full UI of the grid attached to the generated DOM elements.
            gm.reset()
            event.preventDefault();
        });


        $(".add-" + tpl2.replace(" ", ".")).on('click', function (event) {
            var gm = $('#' + $(this).parents()[4].id).data('gridmanager');
            var canvas = gm.$el.find("#" + gm.options.canvasId);
            [[12,], [3, 3, 3, 3], [12,], [3, 3, 3, 3], [12,]].forEach(function (ar, index) {
                row = gm.createRow(ar);

                $.each($(row).children(), function () {

                    gm.addEditableAreaClick(this, null);
                    content = this.getElementsByClassName('gm-content')[0];

                    if (index % 2) {
                        content.innerHTML = defaultImageContent;
                    } else {
                        content.innerHTML = defaultTextContent;
                    }

                    if (this.classList.contains('col-sm-3')) {
                      this.classList.remove('col-sm-3');
                      this.classList.remove('col-xs-3');
                      this.classList.add('col-sm-6');
                      this.classList.add('col-xs-12');
                    }
                });
                canvas.prepend(row);
            });

            gm.reset();
            event.preventDefault();
        });

        $("#save_changes").removeAttr("onclick");
        $('#save_changes').click(function () {
            $('textarea[id^=id_content_]').each(function () {
                var gm = $(this).next().data('gridmanager');
                gm.deinitCanvas();
                var canvas = gm.$el.find("#" + gm.options.canvasId);
                $(this).val(canvas.html());
            });
            $('form').submit();
        });
    })();
</script>
</body>
</html>
