<!DOCTYPE html>
<html lang="en">
	{% load i18n mapentity_tags staticfiles %}

	<head>
		{% block style %}
		<style type="text/css">
		{% include template_css %}
		</style>
		{% endblock style %}
	</head>
	<body>

		{% block footer %}
			<div id="footer">
				<div class="text">JJ/MM/AAA &#8226; {{ object.name }} &#8226;</div>
			</div>
		{% endblock footer %}

		{% block body %}

		<header>
			<div class="logo">
				<img src="http://dummyimage.com/600x400/ff8400/fff.png" alt="">
			</div>

			<div class="url">
				<div class="main">www.rando-pnc.fr</div>
				<div class="geo">Propulsé par geotrek.fr</div>
			</div>
		</header>

		<div class="gray">
			<div class="main-icon">
				<img src="http://dummyimage.com/50x50/ff0084/fff.png" alt="">
			</div>

			<div class="main-title">
				<h1>{{ object.name }}</h1>
				<h2>{{ object.city_departure }}</h2>
			</div>

			<hr>

			<div class="main-picture" style="background-image: url({{ object.picture_print.url }});"></div><div class="main-map" style="background-image: url({{ map_url }});"></div>
			{# {% if object.pictures.0.legend and object.pictures.0.author %}<legend>{% trans "Attribution" %} : {{ object.pictures.0.legend }} ({{ object.pictures.0.author }})</legend>{% endif %} #}
		</div>

		<div class="intro-left">
			{% if object.description_teaser %}
				<section class="teaser text-content">
					{{ object.description_teaser|safe }}
				</section>
			{% endif %}

			{% if object.ambiance %}
				<section class="ambiance text-content">
					{{ object.ambiance|safe }}
				</section>
			{% endif %}
		</div>

		<div class="meta-items">
			<div class="meta-items-title">Info pratiques</div>

			<section class="meta-items-list">
				{% if object.practice %}
					<span class="meta-item">
						<span class="item-value">{{ object.practice }}</span>
					</span>
				{% endif %}

				{% if object.duration_pretty %}
					<span class="meta-item">
						<span class="meta-item-label">{% trans "Duration" %}</span>
						<span class="meta-item-value">{{ object.duration_pretty }}</span>
					</span>
				{% endif %}

				{% if object.length_kilometer %}
					<span class="meta-item">
						<span class="meta-item-label">{% trans "Length" %}</span>
						<span class="meta-item-value">{{ object.length_kilometer }} km</span>
					</span>
				{% endif %}

				{% if object.ascent %}
					<span class="meta-item">
						<span class="meta-item-label">{% trans "Trek_ascent" %}</span>
						<span class="meta-item-value">{{ object.ascent }} m</span>
					</span>
				{% endif %}

				{% if object.difficulty %}
					<span class="meta-item">
						<span class="meta-item-label">{% trans "Difficulty" %}</span>
						<span class="meta-item-value">{{ object.difficulty }}</span>
					</span>
				{% endif %}

				{% if object.route %}
					<span class="meta-item">
						<span class="meta-item-label">{% trans "Type" %}</span>
						<span class="meta-item-value">{{ object.route }}</span>
					</span>
				{% endif %}

				{% if object.practice %}
					<span class="meta-item">
						<span class="meta-item-label">{% trans "Practice" %}</span>
						<span class="meta-item-value">{{ object.practice }}</span>
					</span>
				{% endif %}

				<div class="lists">
					{% if object.themes.all %}
						<span class="meta-item">
							<span class="meta-item-label">{% trans "Themes" %}</span>
							{% for theme in object.themes.all %}<span class="meta-item-value">{{ theme.label }}</span>{% endfor %}
						</span>
					{% endif %}
					{% if object.accessibilities.all %}
						<span class="meta-item">
							<span class="meta-item-label">{% trans "Accessibility" %}</span>
							{% for accessibility in object.accessibilities.all %}<span class="meta-item-value">{{ accessibility.name }}</span>{% endfor %}
						</span>
					{% endif %}
				</div>
			</section>
		</div>

		<div class="inner-title">
			<div>{{ object.name }}</div>
			<h2>{% trans "On your path..." %}</h2>
		</div>

		{% block poisSummary %}
			<section class="pois-summary">
				{% if object.published_pois.all %}
					{% for poi in object.published_pois.all %}
						<div class="poi">
								{% if poi.type.pictogram %}<span class="icon"><img src="{{ MEDIA_URL|add:poi.type.pictogram.name }}"></span>{% endif %}
								{{ enumeration.poi.pk }}
								{{ poi.name }}
						</div>
					{% endfor %}
				{% endif %}
			</section>
		{% endblock poisSummary %}


		<div class="full-map">
			<img src="{{ map_url }}" alt="">
		</div>

		<div class="inner-title">
			<div class="doc-title">{{ object.name }}</div>
			<h2>{% trans "Usefull informations" %}</h2>
		</div>

		{% if object.advice %}
		<div class="advice">
			<div class="advice-title">
				<div class="advice-icon">
					<img src="{{ MEDIA_URL|add:'upload/advice.svg' }}">
				</div>
				{% trans "Advices" %}
			</div>
			<div class="advice-content">{{ object.advice | safe }}</div>
		</div>
		{% endif %}

		{% block elevation %}
			{% if object.get_elevation_chart_url %}
				<section class="elevation">
					<div class="elevation-title">{% trans "Altimetric profile" %}</div>

					<img class="elevation-chart" src="{{ object.get_elevation_chart_url }}">

					<div class="elevation-meta">
						<span class="elevation-meta-item"><span class="item-label">{% trans "Min elevation" %}</span> <span class="item-value">{{ object.min_elevation }} m</span></span>
						<span class="elevation-meta-item"><span class="item-label">{% trans "Max elevation" %}</span> <span class="item-value">{{ object.max_elevation }} m</span></span>
					</div>
				</section>
			{% endif %}
		{% endblock elevation %}

		{% block transport %}
			{% if object.public_transport %}
				<section class="half-block transport">
					<h2>{% trans "Transports" %}</h2>
					<div class="text-content">{{ object.public_transport|safe }}</div>
				</section>
			{% endif %}
		{% endblock transport %}

		{% block access %}
			{% if object.access %}
				<section class="half-block access">
					<h2>{% trans "Access" %}</h2>
					<div class="text-content">{{ object.access|safe }}</div>
					{% if object.advised_parking %}<div class="adviced-parking">{% trans "Advised parking" %} {{ object.advised_parking }}</div>{% endif %}
				</section>
			{% endif %}
		{% endblock access %}

		{% block disabledInfrastructure %}
			{% if object.disabled_infrastructure %}
				<section class="half-block disabled-infrastructure">
					<h2>{% trans "Disabled Infrastructure" %}</h2>
					<div class="text-content">{{ object.disabled_infrastructure|safe }}</div>
				</section>
			{% endif %}
		{% endblock disabledInfrastructure %}


		<div class="gray">
			{% block informationDesks %}
				{% if  object.information_desks.all %}
					<section class="information-desks">
						<h2>
							<div class="information-desks-icon">
								<img src="{{ MEDIA_URL|add:'upload/information.svg' }}">
							</div>
							{% trans "Information desks" %}
						</h2>
						<div class="text-content intro">
							Les différents relais d'information renseignent sur le patrimoine naturel et culturel, sur la réglementation qui s’applique en zone cœur, sur les activités et missions de l’établissement public. Ces acteurs du tourisme sont aussi fortement impliqués dans la promotion du Festival nature et des écomusées.
						</div>
						<ul class="desks">
							{% for desk in object.information_desks.all %}
								<li class="desk">
									<div class="desk-name">{{ desk.name }}</div>
									<div class="content">
										<div class="desk-description text-content">{{ desk.description_strip }}</div>
										{% if desk.street %}<div class="desk-address">{{ desk.street }}, {{ desk.postal_code }} {{ desk.municipality }}</div>{% endif %}
										{# {% if deks.photo %}<picture class="desk-picture"><img src="{{ MEDIA_URL|add:desk.photo.name }}"></picture>{% endif %} #}
										{% if desk.email %}<div class="desk-email"><a href="mailto:{{ desk.email }}">{{ desk.email }}</a></div>{% endif %}
										{% if desk.phone %}<div class="desk-tel">Tel : {{ desk.phone }}</div>{% endif %}
										{% if desk.website %}<div class="desk-website"><a href="{{ desk.website }}">{{ desk.website }}</a></div>{% endif %}
										{% if desk.geom %}<div class="desk-coords">Lat : {{ desk.lattitude }} Long : {{ desk.longitude }}</div>{% endif %}
									</div>
								</li>
							{% endfor %}
						</ul>
					</section>
				{% endif %}
			{% endblock informationDesks %}

		</div>

		{% block poisDetails %}
			<section class="pois-details">
				{% if object.published_pois.all %}
					{% for poi in object.published_pois.all %}
						<div class="poi">
							{% if poi.thumbnail %}
								<div class="thumbnail"><img src="{{ MEDIA_URL|add:poi.thumbnail.name }}"></div>
							{% endif %}

							<div class="content {% if poi.thumbnail %}with-pic{% endif %}">

								<h3>
									{% if poi.type.pictogram %}<span class="icon"><img src="{{ MEDIA_URL|add:poi.type.pictogram.name }}"></span>{% endif %}
									{{ poi.name }}
									{{ enumeration.poi.pk }}
								</h3>

								<div class="description">{{ poi.description|safe }}</div>

								{% if poi.thumbnail and poi.picture.0.author %}
									<legend>{% trans "Attribution" %} : {{ poi.picture.0.author }}</legend>
								{% endif %}

							</div>
						</div>
					{% endfor %}
				{% endif %}
			</section>
		{% endblock poisDetails %}










{% comment %}



		{% if object.is_park_centered %}
			<div class="centered">
				{% trans "This hike is at the heart of the national park > The national park is an unrestricted natural area but subjected to regulations which must be known by all visitors." %}
			</div>
		{% endif %}



		{% block description %}
			{% if object.description %}
				<section class="description">
					<h2>{% trans "Trek" %}</h2>
					<div class="text-content">{{ object.description|safe }}</div>
				</section>
			{% endif %}
		{% endblock description %}



		{% block advice %}
			{% if object.advice %}
				<section class="advice">
					<h2>{% trans "Advice" %}</h2>
					<div class="text-content">{{ object.advice|safe }}</div>
				</section>
			{% endif %}
		{% endblock advice %}


		{% block touristicContents %}
			<section class="pois-summary">
				{% if object.published_touristic_contents.all %}
					<h2>A voir / A faire</h2>
					{% for ct in object.published_touristic_contents.all %}
						<div class="poi">
							{% if ct.thumbnail %}
								<div class="thumbnail"><img src="{{ MEDIA_URL|add:ct.thumbnail.name }}"></div>
							{% endif %}
              <h3>{% if ct.category.pictogram %}<span class="icon"><img src="{{ MEDIA_URL|add:ct.category.pictogram.name }}"></span>{% endif %}{{ ct.name }}</h3>
							<div class="description">
                  {{ ct.description_teaser|safe }}
                  {% if ct.contact %}{{ ct.contact|safe }}{% endif %}
							    {% if ct.email %}<br><a href="mailto:{{ ct.email }}">{{ ct.email }}</a>{% endif %}
							    {% if ct.website %}<br><a href="{{ ct.website }}">{{ ct.website }}</a>{% endif %}
							</div>
							{% if ct.thumbnail and ct.picture.0.author %}
								<legend>{% trans "Attribution" %} : {{ ct.picture.0.author }}</legend>
							{% endif %}
						</div>
					{% endfor %}
				{% endif %}
			</section>
		{% endblock touristicContents %}

		{% block related %}
			{% if object.related %}
				<section class="related">
					<h2>{% trans "Related Treks" %}</h2>
					<ul>
						{% for other in object.related.all %}<li>{{ other.name }}</li>{% endfor %}
					</ul>
				</section>
			{% endif %}
		{% endblock related %}

{% endcomment %}

		{% endblock body %}


	</body>
</html>
