#progress-bars {
	margin-top: 1.5em;
}

#progress-bars div.pull-left {
	width: 35px;
	margin-left: 5px;
	margin-right: 5px;
}

#progress-bars div.alert {
	margin-left: 45px;
	display: none;
}

#progress-bars div.description {
	margin-left: 45px;
}

#progress-bars span.parser{
	font-weight: bold;
}

#progress-bars button {
	margin-top: 1em;
}

#progress-bars .collapse {
	margin-top: 1em;
}

#import-forms .file-attachment-form {
	width: auto;
}