.leaflet-marker-icon.point-reference {
    background-color: red;
    border-radius: 50px;
    width: 20px !important;
    height: 20px !important;
    margin-left: -10px;
    margin-top: -10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.leaflet-draw.id_points_reference .leaflet-draw-draw-marker {
    background-image: url(../point_reference_widget.png);
    background-position: 0px 0px, center;
    background-size: cover;
}
