from .dev import *

DEBUG_TOOLBAR = False

INTERNAL_IPS += ('10.0.3.1',)


if DEBUG_TOOLBAR:
    INSTALLED_APPS = (
        'debug_toolbar',
    ) + INSTALLED_APPS

    MIDDLEWARE_CLASSES += (
        'debug_toolbar.middleware.DebugToolbarMiddleware',
    )