#
#  Caminae Settings
#..........................
# 
#  Press "Esc" and then ":wq" to save and exit.
#
# (Note: If you edit this file out of install process, 
#  run "make deploy" to apply changes, or "make serve" in development)

[settings]
dbname = caminaedb
dbuser = caminae
dbpassword = caminae
dbhost = localhost
dbport = 5432

# URL prefix, leave empty if dedicated server. (example: /ecrins)
rooturl = 
# Cache duration in seconds
cachetimeout = 60 * 60

# Default structure for newly created users
defaultstructure = PNE
# EPSG code of the coordinate system to use
srid = 2154
# (minx, miny, maxx, maxy) expressed in the coordinate system above
spatial_extent = 700000, 6325197, 1060000, 6617738
# (minx, miny, maxx, maxy) expressed in WGS84
spatial_extent_wgs84 = 5.0, 43.8, 7.5, 45.8
# Resolution at zoomlevel 0
max_resolution = 1142.7383
# WMS server url
wms_url = http://extranet.parcnational.fr/pnx/wms?
# Layers for aerial picture
ortho_layers = ortho
# Layers for terrain map
terrain_layers = scan100,scan25

layercolor_paths = #DD00FF
layercolor_others = #00FF00
