{% load i18n %}

{% for aggr in object.aggregations.all %}
    {% if forloop.first %}<ul>{% endif %}
    <li class="hoverable" data-modelname="path" data-pk="{{ aggr.path.pk }}" title="{{ aggr.start_position|floatformat:"2" }}-{{ aggr.end_position|floatformat:"2" }}">
      <span class="path">{{ aggr.path.name_display|safe }}</span>
      <span class="aggregation">
        {% if forloop.first and object.offset != 0 %}
          ⇲ {{ object.offset|floatformat:"0" }}m
        {% endif %}
        {% if aggr.is_full %}
          (⇤100%⇥)
        {% else %}
          ({% if aggr.start_position == aggr.end_position %}
            <span >{{ aggr.start_meter }}m</span>
          {% else %}
              {% if aggr.start_position == 0.0 or aggr.start_position == 1.0 %}
                ↦ {{ aggr.end_meter }}m
              {% else %}
                {% if aggr.end_position == 1.0 or aggr.end_position == 1.0 %}
                  {{ aggr.start_meter }}m ⇥
                {% else %}
                   {{ aggr.start_meter }}m ⇢ {{ aggr.end_meter }}m
                {% endif %}
              {% endif %}
          {% endif %})
        {% endif %}
      </span>
    </li>
    {% if forloop.last %}</ul>{% endif %}
{% empty %}
    <span class="none">{% trans "None" %}</span>
{% endfor %}
