{% load url from future %}
{% load i18n %}
<div id="altitudegraph">
    <h4>{% trans "Altitude profile" %}</h4>
    <p class="axislabel">{% trans "Altitude (m)" %}</p>
    <span id="profilealtitude"></span> <span class="axislabel" style="position:relative; top:85px">{% trans "Distance (m)" %}</span>
    <p id="mouseoverprofil" class="axislabel" >&nbsp;</p>
</div>

<script type="text/javascript">
$(function() {
    /* 
     * Load altimetric profile from JSON
     */
    $.getJSON("{% url 'profile_url' object.pk %}", function loadprofile(data) {
        $('#profilealtitude').sparkline(data.profile, {tooltipSuffix: ' m', width: 300, height: 100});
        $('#profilealtitude').bind('sparklineRegionChange', function(ev) {
            var sparkline = ev.sparklines[0],
                region = sparkline.getCurrentRegionFields();
                value = region.y;
            $('#mouseoverprofil').text(Math.round(region.x) +" m");
        }).bind('mouseleave', function() {
            $('#mouseoverprofil').text('');
        });
    });
});
</script>