{% load static i18n geotrek_tags %}

{% settings_value "TRAIL_MODEL_ENABLED" as trail_enabled %}
{% settings_value "PATH_MODEL_ENABLED" as path_enabled %}

<script type="text/javascript">
    {%  if path_enabled %}
    window.SETTINGS.urls['path_layer'] = "{% url "core:path-drf-list" format="geojson" %}";
    window.SETTINGS.urls['route_geometry'] = "{% url "core:path-drf-route-geometry" %}";
    {% endif %}
    {% if trail_enabled %}
    window.SETTINGS.urls['trail_layer'] = "{% url "core:trail-drf-list" format="geojson" %}";
    {% endif %}
</script>
{#<script type="text/javascript" src="{% static "core/main.js" %}"></script>#}
