{% load i18n %}

<h3>{% trans "Management" %}</h3>
<table class="table">

{% if modelname != "path" %}
    {% if object.topology %}
        {% include "core/aggregations_list_fragment.html" with object=object.topology %}
    {% elif object.aggregations %}
        {% include "core/aggregations_list_fragment.html" %}
    {% elif object.paths %}
        {% include "core/paths_list_fragment.html" %}
    {% else %}
        <span class="none">{% trans "No information" %}</span>
    {% endif %}
{% endif %}

{% if modelname != "trail" %}
    <tr>
        <th>{% trans "Trails" %}</th>
        <td>
            {% for t in object.trails %}
                {% if forloop.first %}<ul>{% endif %}
                <li>{{ t.name_display|safe }}</li>
                {% if forloop.last %}</ul>{% endif %}
            {% empty %}
                <span class="none">{% trans "None" %}</span>
            {% endfor %}
        </td>
    </tr>
{% endif %}

</table>
