{% load i18n %}

{% if modelname == 'path' %}
        {% if perms.core.change_path %}
            <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-gear-fill"></i> <span class="d-none d-sm-inline">{% trans "Actions" %}</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#confirm-merge" id="btn-merge" role="button" data-toggle="modal">
                    <i class="bi bi-bezier"></i> {% trans "Merge" %}
                </a>
                <a class="dropdown-item text-danger" href="#delete" id="btn-delete" role="button">
                        <i class="bi bi-trash"></i> {% trans "Delete" %}
                </a>
            </div>
        {% endif %}
        <div id="wait_lightbox" style="display: none;">
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>

    <div class="modal fade" id="confirm-merge" tabindex="-1" role="dialog" aria-labelledby="confirm-mergeLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>{% trans "Merge paths" %}</h4>
                </div>
                <div class="modal-body">
                    <h4></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans "Cancel" %}
                    </button>
                    <button type="button" id="btn-confirm" class="btn btn-success success">
                        {% trans "Merge" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endif %}