{% load i18n geotrek_tags mapentity_tags %}

<h3>{% trans "Management" %}</h3>
<table class="table">

  {% if modelname != "path" %}
  <tr>
    <th>{% trans "Paths" %}</th>
    <td class="paths">
      {% if object.topology %}
        {% include "core/aggregations_list_fragment.html" with object=object.topology %}
      {% elif object.aggregations %}
        {% include "core/aggregations_list_fragment.html" %}
      {% else %}
        <span class="none">{% trans "No information" %}</span>
      {% endif %}
    </td>
  </tr>
  {% endif %}

  {% settings_value "TRAIL_MODEL_ENABLED" as trail_enabled %}
  {% if trail_enabled and modelname != "trail" %}
    <tr>
        <th>{% trans "Trails" %}</th>
        <td>
            {% if perms.core.add_trail %}
                {% is_topology_model model as is_topology_model %}
                <p class="autohide"><a href="{% url 'core:trail_add' %}{% if is_topology_model %}?topology={{ object.pk}}{% endif %}" class="btn btn-mini btn-success">
                    <i class="icon-plus icon-white"></i> {% trans "Add a new trail" %}</a>
                </p>
            {% endif %}

            {% valuelist object.trails field='name' %}
        </td>
    </tr>
  {% endif %}

</table>
