{% load i18n field_verbose_name %}
{% if object.ispoint %}
    <tr>
        <th>{% trans "Elevation" %}</th>
        <td>{{ object.min_elevation|floatformat }}m</td>
    </tr>
{% else %}
<tr>
    <th>{{ object|verbose:"length" }}</th>
    <td>{{ object.length|floatformat }}m</td>
</tr>
<tr>
    <th>{% trans "Slope" %}</th>
    <td>{{ object.descent|floatformat }}m  +{{ object.ascent|floatformat }}m ({{ object.slope|floatformat }})</td>
</tr>
<tr>
    <th>{% trans "Elevation" %}</th>
    <td>Min: {{ object.min_elevation|floatformat }}m, Max: {{ object.max_elevation|floatformat }}m</td>
</tr>
{% endif %}