{% extends "mapentity/entity_detail.html" %}
{% load i18n static field_verbose_name %}

{% block detailspanel %}
    {{ block.super }}

    {% if not path.valid %}
        <div class="alert alert-error"><strong>{% trans "Not validated" %}</strong></div>
    {% endif %}
    
    <div class="groupfields">
        <h4>{{ path|verbose:"comments" }}</h4>
        {{ path.comments|default:_("None")|safe }}
    </div>

    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ path|verbose:"departure" }}</th>
            <td>{{ path.departure }}</td>
        </tr>
        <tr>
            <th>{{ path|verbose:"arrival" }}</th>
            <td>{{ path.arrival }}</td>
        </tr>
        <tr>
            <th>{{ path|verbose:"comfort" }}</th>
            <td>{% if path.comfort %}{{ path.comfort }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        {% include "core/elevationinfo_fragment.html" %}
        <tr>
            <th>{{ path|verbose:"trail" }}</th>
            <td>{{ path.trail_display|safe }}</td>
        </tr><tr>
            <th>{{ path|verbose:"datasource" }}</th>
            <td>{% if path.datasource %}{{ path.datasource }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr><tr>
            <th>{{ path|verbose:"stake" }}</th>
            <td>{% if path.stake %}{{ path.stake }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ path|verbose:"usages" }}</th>
            <td>
                {% for usage in  path.usages.all %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li> {{ usage }} </li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    <span class="none">{% trans "None" %}</span>
                {% endfor %}
            </td>
        </tr><tr>
            <th>{{ path|verbose:"networks" }}</th>
            <td>
                {% for network in  path.networks.all %}
                    {% if forloop.first %}<ul>{% endif %}
                    <li> {{ network }} </li>
                    {% if forloop.last %}</ul>{% endif %}
                {% empty %}
                    <span class="none">{% trans "None" %}</span>
                {% endfor %}
            </td>
        </tr>
        {% include "mapentity/trackinfo_fragment.html" %}
    </table>
{% endblock detailspanel %}


{% block mappanel %}
    {{ block.super }}
    {% include "core/altimetric_profile_fragment.html" with profile_url="core:path_profile" %}
{% endblock mappanel %}
