{% extends "common/common_detail.html" %}
{% load i18n static mapentity_tags %}

{% block download %}
    {{ block.super }}
  </div>

  <div class="btn-group">
    <a class="btn btn-light btn-sm" href="{% url 'core:path_gpx_detail' LANGUAGE_CODE object.pk object.pk %}"><img src="{% static "paperclip/fileicons/gpx.png" %}"/> {% trans "GPX" %}</a>
    <a class="btn btn-light btn-sm" href="{% url 'core:path_kml_detail' LANGUAGE_CODE object.pk object.pk %}"><img src="{% static "paperclip/fileicons/kml.png" %}"/> {% trans "KML" %}</a>
{% endblock download %}

{% block before_attachments_extra_tab_nav %}
    <li class="nav-item">
        <a class="nav-link" id="tab-related-objects" href="#related-objects" data-toggle="tab">
            <i class="bi-grid"></i>
            <span class="d-none d-sm-inline">{% trans "Related objects" %}</span>
        </a>
{% endblock %}

{% block before_attachments_extra_tab_content %}
    <div id="related-objects" class="tab-pane">
        {% smart_include "detail" %}
    </div>
{% endblock %}

{% block detailspanel %}
    {% if not path.valid %}
        <div class="alert alert-danger"><strong>{% trans "Not validated" %}</strong></div>
    {% endif %}

    {{ block.super }}
{% endblock detailspanel %}


{% block mappanel %}
    {{ block.super }}
    {% include "altimetry/altimetric_profile_fragment.html" with profile_url="core:path_profile_svg" %}
{% endblock mappanel %}
