{% extends "mapentity/mapentity_detail_attributes.html" %}
{% load i18n mapentity_tags %}


{% block attributes %}
    <h3>{% trans "Attributes" %}</h3>
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ object|verbose:"name" }}</th>
            <td>{{ object.name|default:object }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"comments" }}</th>
            <td>{% if object.comments %}
                {{ object.comments|safe|linebreaks }}
                {% else %}<span class="none">{% trans "None" %}</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ object|verbose:"draft" }}</th>
            <td>{{ object.draft|yesno|title }}</td>
        </tr>
        <tr>
            <th>{{ path|verbose:"structure" }}</th>
            <td>{{ path.structure }}</td>
        </tr>
        <tr>
            <th>{{ path|verbose:"departure" }}</th>
            <td>{% if path.departure %}{{ path.departure }}{% else %}<span class="none">{% trans "None" %}</span>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ path|verbose:"arrival" }}</th>
            <td>{% if path.arrival %}{{ path.arrival }}{% else %}<span class="none">{% trans "None" %}</span>{% endif %}</td>
        </tr>
        <tr>
            <th>{{ path|verbose:"comfort" }}</th>
            <td>{% if path.comfort %}{{ path.comfort }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        {% include "altimetry/elevationinfo_fragment.html" %}
        <tr>
            <th>{{ path|verbose:"source" }}</th>
            <td>{% if path.source %}{{ path.source }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{% trans "External id" %}</th>
            <td>{% if path.eid %}{{ path.eid|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Provider" %}</th>
            <td>{% if path.provider %}{{ path.provider|safe }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ path|verbose:"stake" }}</th>
            <td>{% if path.stake %}{{ path.stake }}
                {% else %}<span class="none">{% trans "None" %}</span>{% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ path|verbose:"usages" }}</th>
            <td>
                {% valuelist object.usages.all %}
            </td>
        </tr><tr>
            <th>{{ path|verbose:"networks" }}</th>
            <td>
                {% valuelist object.networks.all %}
            </td>
        </tr>
        {% include "mapentity/trackinfo_fragment.html" %}
    </table>

    {{ block.super }}

{% endblock attributes %}
