{% extends "mapentity/mapentity_list.html" %}
{% load i18n mapentity_tags %}
{% load static from staticfiles %}

{% block extrahead %}
{% csrf_token %}
 <link rel="stylesheet" href="{% static 'core/css/path_list.css' %}" />
 <script type="text/javascript">
   $(function(){
   	$('#btn-merge').click(function() {
           if ($('input[type="checkbox"][name="path\\[\\]"]:checked').length != 2) {
               alert("{% trans 'Select two pathes to merge them' %}");
           }
           else {
           	$('#wait_lightbox').show(0);
               $.post(
                   "{% url 'core:merge_path' %}",
                   $('input:checkbox:checked').serialize() + '&' + $('input[name=csrfmiddlewaretoken]').serialize(),
                   function(response){
                       if(response.error){
                    	   $('#wait_lightbox').hide(0);
                       	   alert(response.error);
                       }
                       else {
                       	   location.reload();
                       }
                   }
               ).fail(function() {
            	   $('#wait_lightbox').hide(0);
               });
           }
       });
   });
</script>
{% endblock %}

{% block mainactions %}

    {{ block.super }}
    <div class="lightbox" id="wait_lightbox">
	    <div class="row">
	    </div>
		<div class="row">
			<div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6">
				<div class="progress progress-striped active">
					<div class="bar" style="width: 100%;"></div>
				</div>
			</div>
		</div>
	</div>
	
    <div class="btn-group btn-danger">
      <a class="btn btn-primary" href="#"><i class="icon-cog icon-white"></i> Actions</a>
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#" id="btn-merge"><i class="icon-pencil"></i> Merge</a></li>
      </ul>
    </div>
    
{% endblock mainactions %}