{% extends "mapentity/mapentity_confirm_delete.html" %}
{% load static i18n geotrek_tags %}

{% block mainpanel %}
{% settings_value "ALLOW_PATH_DELETION_TOPOLOGY" as allowed_path_deletion_topology %}
<div class="div-center">
    <div class="alert alert-block">
        {% if topologies_by_model|length and not allowed_path_deletion_topology %}
            <h4 class="alert-heading">Warning!</h4>
            {% blocktrans %}You can't remove <strong>{{ object }}</strong>, some topologies are linked with this path. Modify these topologies before deleting this path.{% endblocktrans %}
        {% else %}
            <h4 class="alert-heading">Warning!</h4>
            {% blocktrans %}Do you really wish to delete <strong>{{ object }}</strong> ?{% endblocktrans %}
        {% endif %}
    </div>
    {% if allowed_path_deletion_topology or not topologies_by_model|length %}
        <form method="POST" action="{{ object.get_delete_url }}">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="{% trans "Yes, delete" %}"></input>
            <a class="btn btn-outline-secondary" href="{{ object.get_update_url }}">{% trans "No, back to edit view" %}</a>
        </form>
    {% endif %}
    <br>
    {% if topologies_by_model|length %}
        <div class="panel-heading">{% trans 'Different topologies are linked with this path' %} :</div>
    {% endif %}
    {% for model, topologies in topologies_by_model.items %}

        <h4>{{ model }} :</h4>
        <ul>
            {% for topology in topologies %}
                <li><a href="{{ topology.url }}">{{ topology.name }}</a></li>
            {% endfor %}
        </ul>

    {% endfor %}
</div>

{% endblock mainpanel %}
