{% load i18n static %}

{% if not target_map %}
    <style>
        {% block map_css %}
            #{{ id_map }} {
                width: 100%;
                height: 100%;
            }
            {% if not display_raw %}
                #{{ id }} {
                display: none;
                }
            {% endif %}
        {% endblock map_css %}
    </style>

    {% block map %}
        <link rel='stylesheet' href="{% static 'vendor/PATCHED-mapbox-gl-path/mapbox-gl-path.css' %}" />
        <div id="{{ id_map }}" class="maplibre-map"></div>
        {% include "core/toast_wrong_topology_route.html" %}
    {% endblock map %}

    {% block vars %}
        {{ module }}.is_point_topology = {{ is_point_topology|yesno:"true,false" }};
        {{ module }}.is_line_topology = {{ is_line_topology|yesno:"true,false" }};
    {% endblock vars %}
{% endif %}

<script type="module">
    import MapboxPathControl from "{% static 'vendor/PATCHED-mapbox-gl-path/PATCHED-mapbox-gl-path.js' %}";
    import MaplibrePathRoutingControl from "{% static 'vendor/PATCHED-mapbox-gl-path/MaplibrePathRoutingControl.js' %}";

    document.addEventListener('DOMContentLoaded', function () {
        const fieldId = '{{ id }}';
        const options = {
            modifiable: 'true',
            geomType: 'POINT',
        };
        console.log('fieldId', fieldId);
        console.log('options', options);

        const targetMapId = '{{ target_map|default:"" }}';
        console.log('targetMapId', targetMapId);

        if (targetMapId) { // TODO
            // Se branche sur une carte existante définie par target_map
            window.addEventListener('map:init', function (e) {
                if (e.detail.fieldId === 'id_' + targetMapId) {
                    const sharedMap = e.detail.map;
                    new MaplibreGeometryField(sharedMap, fieldId, options);
                }
            });
        } else {

            const initialLineString = {
                  "type": "Feature",
                  "geometry": {
                    "type": "LineString",
                    "coordinates": [
                      [
                        1.444187,
                        43.584461
                      ],
                      [
                        1.444174,
                        43.583902
                      ],
                      [
                        1.447712,
                        43.584401
                      ],
                      [
                        1.448439,
                        43.584258
                      ],
                      [
                        1.450551,
                        43.583664
                      ],
                      [
                        1.450716,
                        43.583681
                      ],
                      [
                        1.456207,
                        43.585915
                      ]
                    ]
                  },
                  "properties": {
                    "index": 0,
                    "isFollowingDirections": true,
                    "directionID": 2
                  }
                }
            const initialFeatureCollection = {
              "type": "FeatureCollection",
              "features": [
                {
                  "type": "Feature",
                  "geometry": {
                    "type": "Point",
                    "coordinates": [
                      1.4445662176173926,
                      43.58445067008731
                    ]
                  },
                  "properties": {
                    "index": 0
                  }
                },
                {
                  "type": "Feature",
                  "geometry": {
                    "type": "Point",
                    "coordinates": [
                      1.4561261842558224,
                      43.5860158022156
                    ]
                  },
                  "properties": {
                    "index": 1
                  }
                },
                {
                  "type": "Feature",
                  "geometry": {
                    "type": "LineString",
                    "coordinates": [
                      [
                        1.444187,
                        43.584461
                      ],
                      [
                        1.444174,
                        43.583902
                      ],
                      [
                        1.447712,
                        43.584401
                      ],
                      [
                        1.448439,
                        43.584258
                      ],
                      [
                        1.450551,
                        43.583664
                      ],
                      [
                        1.450716,
                        43.583681
                      ],
                      [
                        1.456207,
                        43.585915
                      ]
                    ]
                  },
                  "properties": {
                    "index": 0,
                    "isFollowingDirections": true,
                    "directionID": 2
                  }
                },
                {
                  "type": "Feature",
                  "geometry": {
                    "type": "LineString",
                    "coordinates": [
                      [
                        1.4445662176173926,
                        43.58445067008731
                      ],
                      [
                        1.444187,
                        43.584461
                      ]
                    ]
                  },
                  "properties": {
                    "index": 0,
                    "isPhantomJunction": true,
                    "isDeparture": true
                  }
                },
                {
                  "type": "Feature",
                  "geometry": {
                    "type": "LineString",
                    "coordinates": [
                      [
                        1.456207,
                        43.585915
                      ],
                      [
                        1.4561261842558224,
                        43.5860158022156
                      ]
                    ]
                  },
                  "properties": {
                    "index": 0,
                    "isPhantomJunction": true,
                    "isDeparture": false
                  }
                }
              ]
            }

            async function getRoute(coordinates) {
                return fetch(
                    `https://router.project-osrm.org/route/v1/driving/${coordinates.join(
                    ";"
                    )}?geometries=geojson`,
                    {
                        method: "GET",
                        headers: { "Content-Type": "application/json" },
                    }
                )
                    .then((response) => response.json())
                    .then((data) =>
                    data.code === "Ok"
                        ? {
                            coordinates: data.routes[0].geometry.coordinates,
                            waypoints: {
                                departure: data.waypoints[0].location,
                                arrival: data.waypoints[1].location,
                            },
                        }
                        : undefined
                    );
            }

            function initRoutingControl () {

                map.getMap().addControl(new MaplibrePathRoutingControl(), 'top-left');



                // TODO: controller for resetting the route
                // TODO: utiliser un controller cliquable pour commencer/mettre en pause le routing.

                // Load the arrow image which displays the route's direction
                // FIXME: currently not displayed
                map.getMap().loadImage(
                  "{% static 'vendor/PATCHED-mapbox-gl-path/assets/arrow.png' %}",
                  (error, image) => {
                  if (error) throw error;
                  map.getMap().addImage('arrow', image, {pixelRatio: 2});
                  }
                );

                // Add mapbox-gl-path control
                const mapboxPathControl = new MapboxPathControl({
                    translate: (text) => {
                        const locales = { // TODO
                            "gl-pathControl.createPoint": "Create point",
                            "gl-pathControl.createIntermediatePoint": "Create intermediate point",
                            "gl-pathControl.deletePoint": "Delete point",
                            "gl-pathControl.loopPoint": "Round trip",
                            "gl-pathControl.oneWayPoint": "One way"
                        }
                        return locales[text]
                    },
                    directionsThemes: [
                        {
                            id: 1,
                            name: 'Tracé sur tronçons',
                            selected: true,
                            getPathByCoordinates: getRoute,
                        }
                    ],
                    //featureCollection: initialFeatureCollection,
                    //lineString: initialLineString,
                    layersCustomisation: {
                        pointLayerList: [
                          // {
                          //   // First Point layer to display the "glow"
                          //   paint: {
                          //     "circle-radius": 14,
                          //     "circle-color": "#f7d4bc",
                          //   },
                          // },
                          {
                            // Second Point layer to display white circle
                            paint: {
                              "circle-radius": 10,
                              "circle-color": "#ffffff",
                              "circle-stroke-width": 2,
                              "circle-stroke-color": "#846b8a",
                            },
                          },
                          {
                            // Third Point layer to Alphabetical indexes
                            paint: {
                              "text-color": "#000",
                            },
                            type: "symbol",
                            layout: {
                              "text-size": 14,
                              "text-allow-overlap": true,
                            },
                          },
                        ],
                        lineLayerList: [
                          // {
                          //   // First LineString layer to display the "glow"
                          //   paint: { "line-width": 8, "line-color": "#f7d4bc" },
                          // },
                          {
                            // Second LineString layer to display the path
                            paint: { "line-width": 4, "line-color": "#846b8a" },
                          },
                          {
                            // Third LineString layer to the arrow icon
                            type: "symbol",
                            layout: {
                              "icon-image": "arrow",
                              "icon-size": 0.6,
                              "symbol-placement": "line",
                              "icon-allow-overlap": true,
                            },
                          },
                        ],
                        phantomJunctionLineLayerList: [
                          {
                            paint: {
                              "line-width": 4,
                              "line-color": "#c98bb9",
                              "line-dasharray": [1, 1],
                            },
                          },
                        ],
                    }
                });

                map.getMap().addControl(mapboxPathControl, "top-left");
            }

            async function addLayers() {
                // Créer un layerManager dédié au widget (pas le singleton de la carte principale)
                const layerManager = Object.create(MaplibreLayerManager.prototype);
                // const layerManager = new MaplibreLayerManager();
                layerManager.layers = {
                    baseLayers: {},
                    overlays: {},
                    lazyOverlays: {},
                    layerGroups: {}
                };
                layerManager.restoredContext = null;
                layerManager._map = null;
                layerManager._eventListeners = [];

                window.mapentity_map = map.getMap();
                layerManager.initialize(map.getMap());

                // Chargement des base layers en premier depuis les settings
                // TODO: tester
                const baseLayersData = window.SETTINGS.map?.baseLayers || {};
                const { base_layers, overlay_layers } = baseLayersData;

                if (base_layers) {
                    for (const layer of base_layers) {
                        await layerManager.addLayerFromUrl(layer.name, {
                            id: 'mapbox-base-' + layer.slug,
                            url: layer.url,
                            isBaseLayer: true,
                            attribution: layer.attribution || ''
                        });
                    }
                }
                if (overlay_layers) {
                    for (const layer of overlay_layers) {
                        await layerManager.addLayerFromUrl(layer.name, {
                            id: 'mapbox-overlay-' + layer.slug,
                            url: layer.url,
                            isBaseLayer: false,
                            attribution: layer.attribution || ''
                        });
                    }
                }

                // Ajout de la couche d’objets contextuels
                const modelname = document.body.getAttribute('data-modelname');
                const objects_verbose_name = document.body.getAttribute('data-objectsname');
                const layerUrl = window.SETTINGS.urls.layer.replace(/modelname/g, modelname);
                const tilejsonUrl = window.SETTINGS.urls.tilejson ? window.SETTINGS.urls.tilejson.replace(/modelname/g, modelname) : undefined;
                const style = window.SETTINGS.map.styles.others;
                const objectsLayer = new MaplibreObjectsLayer(null, {
                    style: typeof style === "function" ? {} : style,
                    modelname: modelname,
                    readonly: true,
                    nameHTML: '<span style="color:' + style['color'] + ';">&#x25A3;</span>&nbsp;' + objects_verbose_name,
                    category: '{% trans "Objects" %}',
                    dataUrl: layerUrl,
                    tilejsonUrl: tilejsonUrl,
                    primaryKey: generateUniqueId(),
                    isLazy: false,
                });
                // Override the singleton layerManager for this objectsLayer
                objectsLayer.layerManager = layerManager;
                objectsLayer.initialize(map.getMap());

                // Initialize additional layers
                let pathLayerSettings = null;
                window.SETTINGS.layers.forEach((model) => {
                    const nameHTML = model.name;
                    const additionalModelname = model.id;
                    const category = model.category;
                    const additionalLayerUrl = model.url;
                    const additionalTilejsonUrl = model.tilejsonUrl;

                    let additionalStyle = window.SETTINGS.map.styles[additionalModelname] ?? window.SETTINGS.map.styles['others'];
                    let primaryKey = generateUniqueId();

                    const additionalObjectsLayer = new MaplibreObjectsLayer(null, {
                        style: additionalStyle,
                        modelname: additionalModelname,
                        readonly: true,
                        nameHTML: nameHTML,
                        category: category,
                        primaryKey: primaryKey,
                        dataUrl: additionalLayerUrl,
                        tilejsonUrl: additionalTilejsonUrl,
                        isLazy: true,
                        displayPopup: true,
                    });

                    additionalObjectsLayer.layerManager = layerManager;
                    additionalObjectsLayer.initialize(map.getMap());
                    additionalObjectsLayer.registerLazyLayer(additionalModelname, category, nameHTML, primaryKey, additionalLayerUrl);

                    // Paths are displayed by default - load its layer
                    if (additionalModelname === 'path') {
                        if (tilejsonUrl) {
                            additionalObjectsLayer.loadMVT(additionalTilejsonUrl);
                        } else {
                            additionalObjectsLayer.load(additionalLayerUrl);
                        }
                    }

                });

                const layerControl = new MaplibreLayerControl(layerManager);
                map.getMap().addControl(layerControl, 'top-right');

                // TODO
                // Restauration du contexte pour le widget
                //const mapentityContext = new MaplibreMapentityContext(bounds, layerManager);
                //const mapViewContext = getURLParameter("context");
                //if (mapViewContext) {
                //    layerManager.restoredContext = { restoredFromUrl: true };
                //}
                //await mapentityContext.restoreFullContext(map.getMap(), mapViewContext, {
                //    prefix: 'widget-' + fieldId,
                //});
            }

            function initAdditionalControls() {
                map.getMap().addControl(new MaplibreFileLayerControl({
                    layerOptions: {
                        style: window.SETTINGS.map.styles.filelayer,
                    }
                }), 'top-left');
                map.getMap().addControl(new MaplibreResetViewControl(bounds), 'top-left');
            }

            // Init the map
            const mapId = '{{ id_map }}'; // TODO
            // TODO: check that TILES works:
            const { BOUNDS, DEFAULT_CENTER, DEFAULT_ZOOM, SCALE, TILES, MAX_ZOOM } = window.SETTINGS.map.maplibreConfig;
            const bounds = [BOUNDS[0], BOUNDS[1]];
            const map = new MaplibreMap(mapId, DEFAULT_CENTER, DEFAULT_ZOOM, MAX_ZOOM, bounds, SCALE);

            map.getMap().on('load', async function () {
                await addLayers();
                initRoutingControl();
                initAdditionalControls();
                // FIXME: Actuellement, quand on utilise le controller pour mesurer les distances, ça crée des points de passage
            });
        }
    });
</script>

{% if display_raw %}<p>Geometry:</p>{% endif %}
<textarea id="{{ id }}" class="required" cols="150" rows="10" name="{{ name }}">{{ serialized }}</textarea>
