{% load i18n %}

<script>

var Caminae = Caminae || {};

// Give me urls...
Caminae.LandsLayer = (function(city_url, district_url) {

    var getCityLayer = function(cb) {
        $.getJSON(city_url, function(geojson) {
            var layer = new L.GeoJSON(geojson);

            cb({ 'layer': layer, 'name': '{% trans "City" %}' });
        });
    };

    var getDistrictLayer = function(cb) {
        MapEntity.getMapSpinner(/* will fail if not initialized */);

        $.getJSON(district_url, function(geojson) {
            var layer = new L.GeoJSON(geojson);

            cb({ 'layer': layer, 'name': '{% trans "District" %}' });
        });
    };

    // Load both layers in parallel
    var getLayers = function(cb) {
        var district, city;

        getDistrictLayer(function(layer) { district = layer; checkAndEnd(); });
        getCityLayer(function(layer) { city = layer; checkAndEnd(); });

        function checkAndEnd() {
            if (district && city) {
                cb({ 'district': district, 'city': city });
            }
        }
    };

    var addLayersToMap = function(map, cb) {
        getLayers(function(layers) {
            var district = layers.district,
                city = layers.city;

            map.addLayer(district.layer);
            map.addLayer(city.layer);

            map.layerscontrol.addOverlay(district.layer, district.name);
            map.layerscontrol.addOverlay(city.layer, city.name);

            cb && cb(layers);
        });
    };


    return {
        getCityLayer: getCityLayer,
        getDistrictLayer: getDistrictLayer,
        getLayers: getLayers,
        addLayersToMap: addLayersToMap
    };

})('{% url land:city_layer %}', '{% url land:district_layer %}');

</script>

