{% load i18n %}

<h3>{% trans "Land" %}</h3>
<table class="table">
    <tr>
        <th>{% trans "Land edges" %}</th>
        <td>
            {% for l in path.lands %}
                {% if forloop.first %}<ul>{% endif %}
                <li>{{ l.name_display|safe }}</li>
                {% if forloop.last %}</ul>{% endif %}
            {% empty %}
                {% trans "None" %}
            {% endfor %}
        </td>
    </tr><tr>
        <th>{% trans "Districts" %}</th>
        <td>
            {% for d in path.districts %}
                {% if forloop.first %}<ul>{% endif %}
                <li>{{ d }}</li>
                {% if forloop.last %}</ul>{% endif %}
            {% empty %}
                {% trans "None" %}
            {% endfor %}
        </td>
    </tr>
</table>
