{% extends "mapentity/entity_detail.html" %}
{% load i18n field_verbose_name %}

{% block detailspanel %}
    {{ block.super }}
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ workmanagementedge|verbose:"organization" }}</th>
            <td>{{ workmanagementedge.organization }}</td>
        </tr>
        
        {% include "core/aggregations_list_fragment.html" with aggregations=workmanagementedge.aggregations.all %}
    </table>
{% endblock detailspanel %}
