{% load i18n %}

{{ form.media }}

{% if form.bbox_city %}
      {{ form.bbox_city }}
{% endif %}

{% if form.bbox_district %}
      {{ form.bbox_district }}
{% endif %}


{% if form.bbox_restrictedarea %}
      {{ form.bbox_restrictedarea }}
{% endif %}

<script type="text/javascript">
    $(document).ready(function() {
        $('#id_bbox_city, #id_bbox_district, #id_bbox_restrictedarea').on('change', function() {
            var mainmap = window.maps[0],
                bboxval = $(this).val();

            // Clear other filters, but keep this one of course
            var self = this;
            $('#id_bbox_city, #id_bbox_district, #id_bbox_restrictedarea').each(function() {
                if (self != this) {
                    $(this).val('');
                    $(this).removeClass('filter-set');
                }
            });

            // Fit selected bbox, or whole map
            if (bboxval) {
                var bbox = $.map(bboxval.split(','), parseFloat); // minx,miny,maxx,maxy
                mainmap.fitBounds([ [bbox[1], bbox[0]], [bbox[3], bbox[2]] ]);
                $(this).addClass('filter-set');
            }
            else {
                if(mainmap.options.maxBounds) {
                    mainmap.fitBounds(mainmap.options.maxBounds);
                }
                $(this).removeClass('filter-set');
            }
        });
    });
</script>
<!-- end land/bbox.html -->
