{% load i18n %}

<h3>{% trans "Zoning" %}</h3>
<table class="table">
    <tr>
        <th>{% trans "Cities" %}</th>
        <td>{% include "common/_detail_valuelist_fragment.html" with valuelist=object.cities %}</td>
    </tr>
    <tr>
        <th>{% trans "Districts" %}</th>
        <td>{% include "common/_detail_valuelist_fragment.html" with valuelist=object.districts %}</td>
    </tr>
    <tr>
        <th>{% trans "Restricted areas" %}</th>
        <td>{% include "common/_detail_valuelist_fragment.html" with valuelist=object.areas %}</td>
    </tr>
</table>
