{% load static i18n zoning_tags %}
<script type="text/javascript">
    MapEntity.i18n['Zoning'] = "{% trans "Zoning" %}";
    MapEntity.i18n['Districts'] = "{% trans "Districts" %}";
    MapEntity.i18n['Cities'] = "{% trans "Cities" %}";

    window.SETTINGS.urls['city_layer'] = "{% url "zoning:city_layer" %}";
    window.SETTINGS.urls['district_layer'] = "{% url "zoning:district_layer" %}";

    {% restricted_area_types as all_area_types %}
    window.SETTINGS.map['restricted_area_types'] = {{ all_area_types|safe }};
</script>
<script type="text/javascript" src="{% static "zoning/main.js" %}"></script>
