{% load static i18n %}
<script type="text/javascript">
    MapEntity.i18n['Zoning'] = "{% trans "Zoning" %}";
    MapEntity.i18n['Districts'] = "{% trans "Districts" %}";
    MapEntity.i18n['Cities'] = "{% trans "Cities" %}";
    MapEntity.i18n['Restricted areas'] = "{% trans "Restricted areas" %}";

    window.SETTINGS.urls['city_layer'] = "{% url "zoning:city_layer" %}";
    window.SETTINGS.urls['district_layer'] = "{% url "zoning:district_layer" %}";
    window.SETTINGS.urls['restrictedarea_layer'] = "{% url "zoning:restrictedarea_layer" %}";
</script>
<script type="text/javascript" src="{% static "zoning/main.js" %}"></script>
