/***** Bootstrap customizations ******/

.groupfields {
    margin-bottom: 15px;
}

.nav-pills.nav-stacked > li > a {
    margin-bottom: 0;
}

.nav-pills > li > a {
	border-radius: 0px;
	-moz-border-radius: 0px;
	border-bottom: 1px solid #DDDDDD;	
	border-right: 1px solid #DDDDDD;	
	margin-bottom: 0px;
	margin-top: 0px;
	background-color: #F9F9F9;	
}

.nav-pills > .active > a, 
.nav-pills > .active > a:hover {
	border-right: 1px solid #fff;
    background-color: #fff;
    color: #333333;
}

.nav-pills > li > a > img  {
	padding-bottom: 4px;
}

.dropdown-menu {
    z-index: 9999;
}

h2 {
	text-align: center;
}

.form-panel h2 {
	text-align: left;
}
