{% extends "mapentity/mapentity_detail_attributes.html" %}
{% load i18n mapentity_tags %}

{% block attributes %}
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ object|verbose:"structure" }}</th>
            <td>{{ object.structure }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"name" }}</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th>{% trans "Location" %}</th>
            <td>{{ object.display_geom }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"practice" }}</th>
            <td>{{ object.practice|default:"" }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"description_teaser" }}</th>
            <td>{{ object.description_teaser|safe|linebreaks }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"description" }}</th>
            <td>{{ object.description|safe|linebreaks }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"advice" }}</th>
            <td>{{ object.advice|safe|linebreaks }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"departure" }}</th>
            <td>{{ object.departure }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"facilities" }}</th>
            <td>{{ object.facilities|safe|linebreaks }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"disabled_sport" }}</th>
            <td>{{ object.disabled_sport|safe|linebreaks }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"difficulty" }}</th>
            <td>{{ object.difficulty|default:"" }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"levels" }}</th>
            <td>{% valuelist object.levels.all %}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"themes" }}</th>
            <td>{% valuelist object.themes.all %}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"owner" }}</th>
            <td>{{ object.owner }}</td>
        </tr>
        <tr>
            <th>{{ object|verbose:"depth" }}</th>
            <td>{% if object.depth is not None %}{{ object.depth }} {% trans "meters" %}{% endif %}</td>
        </tr>
        <tr>
            <th>{% trans "Source" %}</th>
            <td>
                {% valuelist object.source.all %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Portal" %}</th>
            <td>
                {% valuelist object.portal.all %}
            </td>
        </tr>
        <tr>
            <th>{% trans "External id" %}</th>
            <td>{{ object.eid|default:"" }}</td>
        </tr>
        <tr>
            <th>{% trans "Thumbnail" %}</th>
            <td>
            	{% if object.thumbnail.url %}
            	<img src="{{ object.thumbnail.url }}">
            	{% endif %}
            </td>
        </tr>
        {% include "common/publication_info_fragment.html" %}
        {% include "mapentity/trackinfo_fragment.html" %}
    </table>

    {{ block.super }}
{% endblock attributes %}