<!DOCTYPE html>
{% load i18n geotrek_tags mapentity_tags static %}

{% settings_value "PRIMARY_COLOR" as primary_color %}

<html lang="en">
  <head>
    {% block style %}
      <style type="text/css">
        {% include template_css %}

        .intro-left .teaser,
        .meta-items-title,
        .advice-title,
        .elevation-title,
        .half-block h2,
        .block h2,
        .information-desks h2 {
          color: {{ primary_color }};
        }

      </style>
    {% endblock style %}
  </head>
  <body>
    {% block body %}
      <header>
        <div class="logo">
          {% block logo %}
            <img src="file://{% media_static_fallback_path "upload/logo-header.png" "images/logo-header.png" %}" alt="">
          {% endblock logo %}
        </div>
        <div class="url">
          {% block url %}
            <div class="main">rando.geotrek.fr</div>
            <div class="geo">{% trans "Powered by geotrek.fr" %}</div>
          {% endblock url %}
        </div>
      </header>
      <div class="gray">
        <div>
          {% if object.practice and object.practice.pictogram %}
            <div class="main-icon category-D{{ object.practice.pk }}" {% block picto_attr %}{% endblock picto_attr %}>
              <img src="file://{{ object.practice.pictogram.path }}" alt="">
            </div>
          {% endif %}
          <div class="main-title">
            <h1>{{ object.name }}</h1>
            <h2>
              {% block main_title_h2 %}
                {{ object.districts.0.name }}{% if object.districts and object.city_departure %} - {% endif %}{{ object.city_departure }}
              {% endblock %}
            </h2>
          </div>
        </div>
        <hr>
        <div class="main-picture-map">
          {% if object.picture_print %}
            <div class="main-picture" style="background-image: url('file://{{ object.picture_print.path }}');"></div><div class="main-map" style="background-image: url('file://{{ map_path }}');"></div>
            {% if object.picture_print.legend or object.picture_print.author %}
              <legend>
                {{ object.picture_print.legend }}
                {% if object.picture_print.author %}({{ object.picture_print.author }}){% endif %}
              </legend>
            {% endif %}
          {% else %}
            <div class="main-picture" style="background-image: url('file://{% media_static_fallback_path "upload/placeholder.png" "images/placeholder.png" %}');"></div><div class="main-map" style="background-image: url('file://{{ map_path }}');"></div>
          {% endif %}
        </div>
      </div>
      <div class="intro">
        <div class="intro-left">
          {% if object.description_teaser %}
            <section class="teaser text-content">
              {{ object.description_teaser|safe }}
            </section>
          {% endif %}
        </div>
        <div class="meta-items">
          <div class="meta-items-title">{% trans "Useful information" %}</div>
          <section class="meta-items-list">
            {% if object.practice %}
              <span class="meta-item">
                <span class="meta-item-label">{% trans "Practice" %}</span>
                <span class="meta-item-value">{{ object.practice }}</span>
              </span>
            {% endif %}
            {% if object.depth %}
              <span class="meta-item">
                <span class="meta-item-label">{% trans "Maximum depth" %}</span>
                <span class="meta-item-value">{{ object.depth }} m</span>
              </span>
            {% endif %}
            {% if object.difficulty %}
              <span class="meta-item">
                <span class="meta-item-label">{% trans "Difficulty level" %}</span>
                <span class="meta-item-value">{{ object.difficulty }}</span>
              </span>
            <div class="lists">
            {% endif %}
            <div class="lists">
              {% if object.levels.all %}
                <span class="meta-item">
                  <span class="meta-item-label">{% trans "Technical levels" %}</span>
                  {% for level in object.levels.all %}<span class="meta-item-value">{{ level.name }}</span>{% endfor %}
                </span>
              {% endif %}
            </div>
            <div class="lists">
              {% if object.themes.all %}
                <span class="meta-item">
                  <span class="meta-item-label">{% trans "Themes" %}</span>
                  {% for theme in object.themes.all %}<span class="meta-item-value">{{ theme.label }}</span>{% endfor %}
                </span>
              {% endif %}
            </div>
          </section>
        </div>
      </div>
      {% block description %}
        {% if object.departure or object.description %}
          <div class="inner-title">
            <h2>{% trans "Dive" %}</h2>
          </div>
          <div class="gray text-content departure-arrival">
            <ul>
              <li>{% trans "Departure area" %} : {{ object.departure }}</li>
            </ul>
          </div>
          <section class="description">
            <div class="text-content">{{ object.description|safe }}</div>
          </section>
        {% endif %}
      {% endblock description %}
      <div class="inner-title">
        <h2>{% trans "All useful information" %}</h2>
      </div>
      {% if object.advice %}
        <div class="advice">
          <div class="advice-title">
            <div class="advice-icon">
              <img src="file://{{ STATIC_ROOT }}/diving/advice.svg">
            </div>
            {% trans "Advices" %}
          </div>
          <div class="advice-content">{{ object.advice | safe }}</div>
        </div>
      {% endif %}
      {% if object.published_sensitive_areas %}
        <section class="block sensitive-areas">
          <h2>{% trans "Environmental sensitive areas" %}</h2>
          {% blocktrans %}
            Along your trek, you will go through sensitive areas related to the presence of a specific species or
            environment. In these areas, an appropriate behaviour allows to contribute to their preservation. For
            detailed information, specific forms are accessible for each area.
          {% endblocktrans %}
          {% for area in object.published_sensitive_areas %}
            <div class="text-content">
              {% if area.species.pictogram %}<img src="file://{{ area.species.pictogram.path }}">{% endif %}
              <h3>{{ area.name }}</h3>
              <p>{% trans "Sensitivity period:" %} {{ area.pretty_period }}</p>
              {% if area.contact %}<p>{% trans "Contact:" %} {{ area.contact|safe }}</p>{% endif %}
              <p>{{ area.description|safe }}</p>
              {% if area.species.url %}<p><a href="{{ area.specie.url }}">{{ area.specie.url }}</a></p>{% endif %}
            </div>
          {% endfor %}
        </section>
        <div style="clear: both"></div>
      {% endif %}
      {% block disabled_sport %}
        {% if object.disabled_sport %}
          <section class="half-block access">
            <h2>{% trans "Disabled sport accessibility" %}</h2>
            <div class="text-content">{{ object.disabled_sport|safe }}</div>
          </section>
        {% endif %}
      {% endblock disabled_sport %}
      {% block facilities %}
        {% if object.facilities %}
          <section class="half-block facilities">
            <h2>{% trans "Facilities" %}</h2>
            <div class="text-content">{{ object.facilities|safe }}</div>
          </section>
        {% endif %}
      {% endblock facilities %}
      {% block source %}
        {% if object.source.all %}
          <section class="half-block source">
            <h2>{% trans "Source" %}</h2>
            {% for s in object.source.all %}
               <div class="text-content">{% if s.pictogram %}<span class="source-icon"><img src="file://{{ s.pictogram.path }}"></span> {% endif %}{{ s.name }}</div>
            {% endfor %}
          </section>
        {% endif %}
      {% endblock source %}
    {% endblock body %}
    {% block footer %}
      <div id="footer">
        <div class="text">{% now 'SHORT_DATE_FORMAT' %} &#8226; {{ object.name }}</div>
      </div>
    {% endblock footer %}
  </body>
</html>
