{% extends "base.html" %}
{% load static i18n leaflet_tags compress %}


{% block head %}

  <title>{% block title %}{{ TITLE }}{% endblock title %}</title>
  <link rel="icon" type="image/png" href="{% static "favicon.png" %}" />

  {% compress css %}
    {% if DEBUG %}
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}" />
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-responsive.css" %}" />
    {% else %}
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/datepicker.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "mapentity/dataTables/css/dataTables.bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "mapentity/chosen/chosen.css" %}">
    {% leaflet_css %}
    <link rel="stylesheet" href="{% static "mapentity/Leaflet.draw/leaflet.draw.css" %}"></link>
    <link rel="stylesheet" href="{% static "mapentity/Leaflet.label/leaflet.label.css" %}"></link>
    <link rel="stylesheet" href="{% static "style.css" %}" />
    <link rel="stylesheet" href="{% static "mapentity/style.css" %}" />
    {% if not DEBUG %}
    <style>
        .map-error { border: 0px;}
    </style>
    {% endif %}

    {% block extracss %}
    {% endblock extracss %}
  {% endcompress %}

    {% if DEBUG %}
        <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    {% else %}
        <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    {% endif %}

{% endblock head %}



{% block content %}
    {% block navbar %}
    <div class="navbar">
      <div class="navbar-inner">

        {% block brand %}
            {% if not request.user.is_authenticated %}
                <a class="brand"><img src="{{ MEDIA_URL }}upload/logo-header.png" /></a>
            {% endif %}
        {% endblock brand %}

        <ul id="historylist" class="nav">
          {% if request.user.is_authenticated %}
          <li class="history {% if view == "list" %}{{ modelname }} active{% endif %}">
            <div id="entitylist-dropdown" class="btn-group">
                  <button class="btn {% if view == "list" %}disabled{% endif %}" {% if view != "list" %} onclick="javascript:location='{% url home %}';"{% endif %}>{% trans "List" %} <span id="nbresults" class="badge">?</span></button>
                  <button class="btn dropdown-toggle {% if view == "list" %}disabled{% endif %}" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="{% url core:path_list %}"><img src="{% static "images/path-16.png" %}"/> {% trans "Path" %}</a></li>
                    <li><a href="{% url maintenance:intervention_list %}"><img src="{% static "images/intervention-16.png" %}"/> {% trans "Intervention" %}</a></li>
                    <li><a href="{% url maintenance:project_list %}"><img src="{% static "images/project-16.png" %}"/> {% trans "Project" %}</a></li>
                    <li><a href="{% url infrastructure:signage_list %}"><img src="{% static "images/signage-16.png" %}"/> {% trans "Signage" %}</a></li>
                    <li><a href="{% url infrastructure:infrastructure_list %}"><img src="{% static "images/infrastructure-16.png" %}"/> {% trans "Infrastructure" %}</a></li>
                    <li><a href="{% url trekking:trek_list %}"><img src="{% static "images/trek-16.png" %}"/> {% trans "Trek" %}</a></li>
                    <li><a href="{% url trekking:poi_list %}"><img src="{% static "images/poi-16.png" %}"/> {% trans "POI" %}</a></li>
                  </ul>
            </div>
          </li>
          {% endif %}
          {% block toolbar %}
            {% for item in request.session.history %}
                {% if forloop.first and view != "list" %}
                    <li class="{{ modelname }} active history first">
                        <a href="{{ item.path }}">
                            <span class="content">{% if title %}{{ title }}{% else %}{{ item.title }}{% endif %}</span>
                            {% if view == "detail" %}
                               <button class="close hidden">&times;</button>
                            {% endif %}
                        </a>
                    </li>
                {% else %}
                    <li class="{% if forloop.first %}{% block nav-detail %}{% endblock nav-detail %}{% endif %} {{ item.modelname }} history">
                        <a href="{{ item.path }}" title="{{ item.title }}">
                            <span class="content">{{ item.title|truncatechars:12 }}</span>
                            <button class="close hidden">&times;</button>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
          {% endblock toolbar %}
        </ul>

        <ul class="nav pull-right">
            {% if request.user.is_authenticated %}
            <li class="divider-vertical"></li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                   <i class="icon-user"></i>
                    {{ request.user }}&nbsp;<span class="badge badge-info">{{ request.user.profile.structure }}</span> <b class="caret"></b></a>
               <ul class="dropdown-menu">
                  {% if request.user.is_staff %}
                    <li><a href="{% url admin:index %}">{% trans "Admin" %}</a></li>
                  {% endif %}
                  <li class="divider"></li>
                  <li class="{% block nav-logbook %}disabled{% endblock nav-logbook %}"><a href="#">{% trans "Logbook" %}</a></li>
                  <li class="divider"></li>
                  
                  <li><a href="{% url logout %}"><i class="icon-off"></i> {% trans "Logout" %}</a></li>
               </ul>
            </li>
            {% endif %}  
          </ul>
      </div>
    </div>
    {% endblock navbar %}

    {% if messages %}
    <ul id="alert-box">
        {% for message in messages %}
        <li class="alert {{ message.tags }}">
            {{ message }}
            {% if 'warning' in message.tags or 'error' in message.tags %}<button class="close" data-dismiss="alert">×</button>{% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block container %}
    <div id="container" class="container-fluid">
        <div class="row-fluid">
            {% block mainpanel %}
            {% endblock mainpanel %}
        </div><!--/row-->
    </div><!--/container-->
    {% endblock container %}
{% endblock content %}

{% block extrabody %}
    {{ block.super }}

    {% compress js %}

        {% if DEBUG %}
          <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js" %}"></script>
        {% else %}
          <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        {% endif %}
        <script src="{% static "mapentity/jquery.hoverIntent.js" %}"></script>
        <script src="{% static "mapentity/jquery.sparkline.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap-confirm.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap-datepicker.js" %}"></script>
        {% for lang in LANGUAGES %}
            {% if lang.0 != 'en' %}<script src="{% get_static_prefix %}bootstrap/js/bootstrap-datepicker.{{ lang.0 }}.js"></script>{% endif %}
        {% endfor %}

        {# If context, we screenshot with CasperJS. Wait or backport Leaflet commit 1c8e0c6 torevent offset on PhantomJS captures #}
        {% if request.GET.context %}
        <script type="text/javascript">
            L_DISABLE_3D = true;
        </script>
        {% endif %}

        {% leaflet_js %}
        <script type="text/javascript">
            L.Icon.Default.imagePath = '{% static "leaflet/images/" %}';
            // Global Javascript
            $.ajax({
              url: "{% url common:settings_json %}",
              async: false,
              dataType: 'json',
              success: function (data) {
                  window.SETTINGS = data;
              }
            });
        </script>

        <script type="text/javascript" src="{% static "mapentity/chosen/chosen.jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "mapentity/dataTables/js/jquery.dataTables.js" %}"></script>
        <script type="text/javascript" src="{% static "mapentity/dataTables/js/dataTables.ajax_list.js" %}"></script>
        <script type="text/javascript" src="{% static "mapentity/dataTables/js/dataTables.plugins.js" %}"></script>
        <script type="text/javascript" src="{% static "mapentity/Leaflet.draw/leaflet.draw.js" %}"></script>
        <script type="text/javascript" src="{% static "mapentity/Leaflet.label/leaflet.label.js" %}"></script>

        <script type="text/javascript" src="{% static "mapentity/leaflet-measure.js" %}"></script>
        <script type="text/javascript" src="{% static "mapentity/leaflet-geomutils.js" %}"></script>
        <script type="text/javascript" src="{% static "mapentity/spin.js" %}"></script>
        <script type="text/javascript" src="{% static "mapentity/leaflet.spin.js" %}"></script>
        <script type="text/javascript" src="{% static "mapentity/rtree.js" %}"></script>
        <script type="text/javascript" src="{% static "mapentity/leaflet.layerindex.js" %}"></script>
        <script type="text/javascript" src="{% static "mapentity/togeojson.js" %}"></script>
        <script type="text/javascript" src="{% static "mapentity/leaflet.filelayer.js" %}"></script>
        <script type="text/javascript" src="{% static "mapentity/leaflet.textpath.js" %}"></script>
        <script type="text/javascript" src="{% static "mapentity/leaflet-objectslayer.js" %}"></script>
        <script type="text/javascript" src="{% static "mapentity/leaflet-snapping.js" %}"></script>
        <script type="text/javascript" src="{% static "mapentity/leaflet-serializers.js" %}"></script>
        <script type="text/javascript" src="{% static "mapentity/leaflet-controls.js" %}"></script>
        <script type="text/javascript" src="{% static "mapentity/leaflet-datatables.js" %}"></script>
        <script type="text/javascript" src="{% static "mapentity/mapentity.js" %}"></script>
        <script type="text/javascript" src="{% static "mapentity/jquery.deserialize.js" %}"></script>

        <script type="text/javascript">
            $(document).ready(function (e) {
                // Fade out success/infos messages
                $('.alert-info, .alert-success').delay(2000).fadeOut('slow');

                // Form Cancel buttons
                $('#button-id-cancel').click(function (){ window.history.go(-1); });

                // Top-navigation tabs
                MapEntity.history.render();

                // Auto-hide elements
                $('.autohide').parents().hover(
                    function() { $(this).children(".autohide").show(); },
                    function() { $(this).children(".autohide").hide(); }
                );
                
                // Scrollable panels
                var fillmax = function () {
                    $('.scrollable').each(function () {
                        var top = $(this).offset().top,
                            height = $(window).height() - top - parseFloat($(this).css('margin-top'))
                                                              - parseFloat($(this).css('margin-bottom'));
                        $(this).css('max-height', height + 'px');
                        
                    });
                }
                fillmax();
                $(window).resize(fillmax);
            })
        </script>

        {% block extrajs %}
        {% endblock extrajs %}

    {% endcompress %}

{% endblock extrabody %}
