{% extends "base.html" %}
{% load static %} 

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "mapentity/mapentity.js" %}"></script>
    <script type="text/javascript" src="{% static "mapentity/spin.js" %}"></script>
    <script type="text/javascript" src="{% static "mapentity/rtree.js" %}"></script>
    <script type="text/javascript" src="{% static "mapentity/jquery.deserialize.js" %}"></script>
{% endblock extrajs %}

{% block extrabody %}
    {{ block.super }}
    <script type="text/javascript">
        // Show number of results
        $(document).ready(function (e) {
            MapEntity.showNumberSearchResults();
        });
    </script>
{% endblock extrabody %}
