{% extends "mapentity/base.html" %}
{% load i18n static field_verbose_name maps %}

{% block nav-detail %}active{% endblock nav-detail %}

{% block mainpanel %}
    <div class="details-panel span7">
    {% block detailspanel %}
        <h2>
            {% if object.structure %}
                <span class="badge badge-info">{{ object.structure }}</span>
            {% endif %}
            {{ object }}
            {% block extratitle %}{% endblock extratitle %}
            {% if can_edit %}
                <span class="pull-right"><a class="btn btn-primary" href="{{ object.get_update_url }}">{% trans "Update" %}</a></span>
            {% endif %}
        </h2>
    {% endblock detailspanel %}

    <div class="file-attachment file-attachment-detail">
        <h3>{% trans "Attached files" %}</h3>

        {% with object=object can_delete_attachment=can_delete_attachment attachment_delete_next=object.get_detail_url %}
            {% include 'paperclip/details.html' %}
        {% endwith %}
    </div>

    </div><!-- span7 -->

    <div class="map-panel span5">
        {% block mappanel %}
        {{ object|fieldmap:"geom" }}
        {% endblock mappanel %}
    </div><!-- span5 -->

{% endblock mainpanel %}
