{% extends "mapentity/base.html" %}
{% load i18n static crispy_forms_tags %}

{% block extrahead %}
    {{ block.super }}
    {{ form.media }}
{% endblock extrahead %}

{% block nav-detail %}active{% endblock nav-detail %}

{% block mainpanel %}
    <div class="form-panel {{ modelname }}">
        {% block mainform %}
        {% crispy form %}
        {% endblock mainform %}
    </div>
{% endblock mainpanel %}

{% block extrajs %}
    {{ block.super }}
    <script src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
    <script src="{% static "mapentity/jquery.formset-patched.js" %}"></script>
    {% for m in form.MEDIA_JS %}
        <script type="text/javascript" src="{% static m %}"></script>
    {% endfor %}
{% endblock extrajs %}
