{% load maps leaflet_tags geojson_tags %}

{% leaflet_map mapname  fitextent=False %}
<script type="text/javascript">
function {{ mapname }}Init(map, bounds) {
    {% if readonly %}
        // Set map readonly
        map.dragging.disable();
        map.touchZoom.disable();
        map.doubleClickZoom.disable();
        map.scrollWheelZoom.disable();
        map.boxZoom.disable();
    {% endif %}
    map.removeControl(map.zoomControl);
    map.removeControl(map.attributionControl);
    
    // Add layers
    var geojson = {{ object|geojsonfeature|safe }};
    var objectLayer = new L.ObjectsLayer(geojson, {
        style: {weight: 5, opacity: 1, clickable: false, color: '{{ LAYERCOLOR_OTHERS }}'},
        indexing: false
    });
    map.addLayer(objectLayer);
    var objectBounds = {{ object|latlngbounds }},
        mapBounds = objectBounds ? new L.LatLngBounds(objectBounds) : bounds;
    map.fitBounds(mapBounds);
    map.addControl(new L.Control.Scale());
    
    // Paths layer (TODO: should we show objectsLayers ?)
    var pathsLayer = new L.ObjectsLayer(null, {
        style: {weight: 2, opacity: 0.7, clickable: false, color: '{{ LAYERCOLOR_PATHS }}'}
    });
    map.addLayer(pathsLayer);
    pathsLayer.load("{% url core:path_layer %}");
    
	// Save map context : will be restored on next form (e.g. interventions, ref story #182)
    $(window).unload(function () {
        MapEntity.Context.saveFullContext(map);
    });
}
</script>

{% block extra %}{% endblock extra %}
