{% extends "mapentity/entity_detail.html" %}
{% load i18n field_verbose_name %}

{% block detailspanel %}
    {{ block.super }}
    <table class="table-striped table-bordered table">
        <tr>
            <th>{{ object|verbose:"name" }}</th>
            <td>{{ object.name }}</td>
        </tr>
        {% include "mapentity/trackinfo_fragment.html" %}
    </table>
    <h3>{% trans "Management" %}</h3>
    <table class="table">
        {% include "core/aggregations_list_fragment.html" %}
    </table>
{% endblock detailspanel %}
