name: Documentation

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'docs/**'
      - '.github/workflows/doc.yml'  # if doc workflow change
  pull_request:
    paths:
      - 'docs/**'
      - '.github/workflows/doc.yml'  # if doc workflow change
  release:
    types:
      - created

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  doc:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
            version: "latest"
            python-version: "3.12"
            enable-cache: true
            cache-suffix: "sphinx"
            activate-environment: true

      - name: Build doc
        run: |
          cd docs/
          uv pip install -r requirements.txt
          make html SPHINXOPTS="-W"