name: Documentation

on:
  push:
    branches:
      - master
    paths:
      - 'docs/**'
  pull_request:
    paths:
      - 'docs/**'
  release:
    types:
      - created

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  doc:
    name: Documentation
    runs-on: ubuntu-latest
    container:
      image: python:3.8
      env:
        LANG: C.UTF-8
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/python-cache-requirements
        with:
          requirements: docs/requirements.txt

      - name: Install dependencies
        run: |
          pip3 install -r docs/requirements.txt

      - name: Build doc
        run: |
          cd docs/
          make html SPHINXOPTS="-W"
