name: Linting

on:
  pull_request:
    paths:
      - 'geotrek/**'  # if geotrek code change
      - '.github/workflows/lint.yml'  # if lint workflow change
      - 'dev-requirements.txt'  # if dev-requirements.txt change
      - 'ruff.toml'   # if lint tools configuration change

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  migrations:
    name: Checking SRID in migrations files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          test $(ls geotrek/*/migrations/*.py | xargs grep -l srid | xargs grep -L SRID | wc -l) -eq 0

  flake8:
    name: Checking lint rules
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/python-cache-requirements
        with:
          requirements: dev-requirements.txt

      - name: Install dependencies
        run: |
          pip3 install -c dev-requirements.txt ruff

      - name: Check linting
        run: |
          ruff check geotrek

      - name: Check format
        run: |
          ruff format --check geotrek
