name: Linting

on:
  pull_request:
    paths:
      - 'geotrek/**'  # if geotrek code change
      - '.github/workflows/lint.yml'  # if lint workflow change
      - 'dev-requirements.txt'  # if dev-requirements.txt change
      - 'setup.cfg'   # if lint tools configuration change

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  migrations:
    name: Checking SRID in migrations files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          test $(ls geotrek/*/migrations/*.py | xargs grep -l srid | xargs grep -L SRID | wc -l) -eq 0

  flake8:
    name: Checking Flake8 rules
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/python-cache-requirements
        with:
          requirements: dev-requirements.txt

      - name: Install dependencies
        run: |
          pip3 install -c dev-requirements.txt flake8

      - name: Flake8
        run: |
          flake8 geotrek

  translations:
    name: Checking .po files are up-to-date
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/python-cache-requirements
        with:
          requirements: requirements.txt

      - name: Prepare test env
        run: |
          sudo apt-get update -q
          sudo apt-get -qq -y install gettext

      - name: Generate translation files
        run: |
          ./venv/bin/python ./manage.py makemessages -a --no-location --no-obsolete

      - uses: tj-actions/verify-changed-files@v18
        id: verify-changed-translations
        with:
          files: |
            **/*.po

      - name: Verify translation files changed
        if: steps.verify-changed-translations.outputs.files_changed == 'true'
        run: |
          echo "Translation file(s) changed: ${{ steps.verify-changed-translations.outputs.changed_files }}"
          git diff
          core.setFailed('Please fix your translation files with ./manage.py makemessages -a --no-location --no-obsolete')
